{% extends "bootstrap/base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>

  <script>
    var slider_sensitivity = document.getElementById("input_brightness");
    var output_sensitivity = document.getElementById("output_brightness");
    output_sensitivity.innerHTML = slider_sensitivity.value; 
    slider_sensitivity.oninput = function() { output_sensitivity.innerHTML = this.value }
  </script>

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('led_scenes') }}"><font color="white">Szenen</font></a></li> 
              <li><a href="{{ url_for('led_groups') }}"><font color="white">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('sensordata_jobs') }}"><font color="white">Jobs</font></a></li> 
              <li><a href="{{ url_for('sensordata_statistics') }}"><font color="white">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('system_host') }}"><font color="white">Host</font></a></li>
              <li><a href="{{ url_for('system_device_administration') }}"><font color="white">Geräteverwaltung</font></a></li>              
              <li><a href="{{ url_for('system_mqtt') }}"><font color="white">MQTT</font></a></li>
              <li><a href="{{ url_for('system_zigbee2mqtt') }}"><font color="white">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('system_controller') }}"><font color="white">Controller</font></a></li>             
              <li><a href="{{ url_for('system_speechcontrol') }}"><font color="white">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('system_user') }}"><font color="white">Benutzer</font></a></li>    
              <li><a href="{{ url_for('system_email') }}"><font color="white">eMail</font></a></li>        
              <li><a href="{{ url_for('system_backup') }}"><font color="white">Backup</font></a></li> 
              <li><a href="{{ url_for('system_log') }}"><font color="white">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">
      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>Dashboard</b></font>
            </div>              
          </div>  
        </div>     
      </div>      
 
<!------------------>
<!--      led     -->  
<!------------------>  
 
 
<!-- error message led -->   

{% if error_message_led != [] %}
  <div class="alert alert-warning" role="alert">
    {% for entry in error_message_led %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}

 
<!-- table led -->      
 
 
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_led"><font color="white"><b>LED</b></font></a>
          </h4>
        </div>   
        <div id="collapse_led" class="panel-collapse collapse {% if collapse_dashboard_led_setting == 'checked' %} in {% else %} {{ collapse_dashboard_led }} {% endif %}" >      
          <div class="panel-body">    
            <form method="POST">             
              <div class="well well-sm">     
                <table class="table">
                  <tbody> 
                    {% for entry in data_led %}
                    <tr>
                      <td style="width:45%"> 
                        <b>{{entry.name}}</b> 
                      </td> 
                      <td style="width:55%"> 
                        <select class="selectpicker" data-width="100%" name="set_group_{{ entry.id }}">
                          <option value= "{{ entry.current_setting }}" > {{ entry.current_setting }} </option>
                          <optgroup>
                            {% for each_scene in dropdown_list_led_scenes %}
                            <option value="scene_{{ each_scene.id }}"> {{ each_scene.name }} </option>
                            {% endfor %}                     
                          </optgroup>
                          <optgroup> 
                            <option value= "turn_off" > OFF </option> 
                          </optgroup>                                                                                 
                        </select>   
                      </td>
                    </tr>
                    <tr>
                      <td style="width:45%"> </td>
                      <td style="width:55%">                      
                        <input id="input_brightness" type="range" class="slider" name="set_brightness_{{ entry.id }}" min="0" max="100" value="{{ entry.current_brightness }}" />
                      </td>                                      
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table> 
              
<section id="device_table"></section>             
              
              </div>  
                <input type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="change_led_settings" value="Einstellungen ändern" />       
              </form>         
            </div>    
          </div>  
        </div>
      </div>  

 
<!------------------>
<!--    devices   -->  
<!------------------>  

 
<!-- error message devices -->                    

{% if error_message_devices != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_devices }}
  </div>      
{% endif %}


<!-- table devices -->    
    
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_devices"><font color="white"><b>Geräte</b></font></a>
          </h4>
        </div>   
        <div id="collapse_devices" class="panel-collapse collapse {% if collapse_dashboard_devices_setting == 'checked' %} in {% else %} {{ collapse_dashboard_devices }} {% endif %}" >      
          <div class="panel-body">    
            <form method="POST">             
              <div class="well well-sm">    
                <table class="table">
                  <tbody> 
                    {% for entry in data_device %}
                      <tr>
                        <td style="width:45%"> 
                          <b>{{entry.name}}</b> 
                        </td>
                        <td style="width:55%">    
                          <select class="selectpicker" data-width="100%" name="set_dashboard_setting_{{ entry.id }}">
                            <option value = "None" > None </option>                          
                            <optgroup>
                              {% if entry.commands != None %}  
                                {% for each in entry.commands.split(' ') %}
                                  <option value= "{{ each | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                                {% endfor %}  
                              {% endif %}      
                            </optgroup>                                                                       
                          </select>                             
                        </td>
                      </tr>
                      <tr>
                        <td style="width:45%"> {{entry.last_contact}} </td>
                        <td style="width:55%"> {{entry.last_values_formated}} </td>    
                      </tr>   
                      <tr>
                        <td></td>
                        <td></td>
                      </tr>                                                                              
                    {% endfor %}  
                  </tbody>
                </table> 
                
<section id="watering_table"></section>         
         
            </div>            
              <input type="submit" onclick="window.location.href='/dashboard#device_table'" class="btn btn-default" name="change_device_settings" value="Einstellungen ändern" />           
            </form>         
          </div>    
        </div>  
      </div>
    </div>  

<!------------------>
<!--   watering   -->
<!------------------>


<!-- error message watering -->      

{% if error_message_watering_control != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_watering_control }}
  </div>      
{% endif %}


<!-- table watering control -->      
      
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_watering"><font color="white"><b>Bewässerung</b></font></a>
            </h4>
          </div>   
          <div id="collapse_watering" class="panel-collapse collapse {% if collapse_dashboard_watering_setting == 'checked' %} in {% else %} {{ collapse_dashboard_watering }} {% endif %}" >     
            <div class="panel-body">    
              <form method="POST">             
                <div class="well well-sm">     
                  <table class="table">
                    <tbody> 
                      {% for entry in data_watering_control %}
                        <tr>
                          <td style="width:45%"> <b>{{entry.name}}</b> </td>
                          <td style="width:55%">    
                            <select class="selectpicker" data-width="100%" name="set_watering_control_setting_{{ entry.id }}">
                              <option value= "None" > None </option>                      
                              <optgroup>
                              {% if entry.commands != None %}
                                {% for each in entry.mqtt_device.commands.split(' ') %}
                                  <option value= "{{ each | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                                {% endfor %}  
                              {% endif %}   
                              </optgroup>                            
                            </select>                          
                          </td>                       
                        </tr>
                        <tr>   
                          <td style="width:45%"> {{entry.mqtt_device.last_contact}} </td>                      
                          <td style="width:55%"> {{entry.mqtt_device.last_values_formated}} </td>                                       
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                            
                      {% endfor %}    
                    </tbody>
                  </table> 
              
<section id="programs"></section>         
                    
                </div> 
                  <input type="submit" onclick="window.location.href='/dashboard#watering_table'" class="btn btn-default" name="change_watering_control_settings" value="Einstellungen ändern" />                 
                </form>         
              </div>    
            </div>  
          </div>
        </div>  

<!------------------>
<!--   programs   -->
<!------------------>


<!-- error message programs -->      
              
{% if error_message_start_program != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_start_program }}
  </div>      
{% endif %}    


<!-- program control -->      
     
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_programs"><font color="white"><b>Programme</b></font></a>
            </h4>
          </div>   
          <div id="collapse_programs" class="panel-collapse collapse {{ collapse_dashboard_programs }}" >      
            <div class="panel-body">    
              <form method="POST">             
                <div class="well well-sm">    
                  <select class="selectpicker" data-width="100%" name="get_program_id">
                    <option value= "None" > None </option>                      
                    <optgroup>
                    {% for each_program in dropdown_list_programs %}
                      <option value="{{ each_program.id }}"> {{ each_program.name }} </option>
                    {% endfor %}
                    </optgroup>                            
                  </select>   
                  <br>
                  <br>             
                  <button type="button" style="background-color:transparent" class="btn btn-secondary">Repeat</button>  
                  <font size="+2">
                    <div class="pretty p-default p-curve p-fill p-bigger">
                      <input type="checkbox" {{ checkbox_repeat_program }} name="repeat_program" >
                      <div class="state p-success">
                        <label></label>
                      </div>
                    </div>
                  </font>   
                  <br>     
                  <br>  
                  <div class="text-center"> 
                    <input type="submit" onclick="window.location.href='/dashboard#programs'" class="btn btn-default btn-primary-spacing" name="start_program" value="Programm starten" />                                      
                    <input type="submit" onclick="window.location.href='/dashboard#programs'" class="btn btn-default" name="stop_program" value="Programm stoppen" />                       
                  </div>
                  <br>
                  <button type="button" style="background-color:transparent" class="btn btn-secondary">Laufendes Programm: {{ program_running }}</button>                                    
                </form>
              </div>    
            </div>  
          </div>
        </div>    
        <br>


<!------------------>
<!--    spotify   -->
<!------------------>


<!-- error message spotify -->   

{% if error_message_spotify != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_spotify }}
  </div>      
{% endif %}


<!-- table spotify -->    

<section id="spotify"></section>  

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_spotify"><font color="white"><b>Spotify</b></font></a>
            </h4>
          </div>   
          <div id="collapse_spotify" class="panel-collapse collapse {{ collapse_dashboard_spotify }}" >      
            <div class="panel-body">             
              <form method="POST">             
                <div class="well well-sm">     
                  <div class="text-center"> 
                    <button type="button" style="background-color:transparent" class="btn btn-secondary">
                      Spotify-Account >>> {% if spotify_user == "Nicht eingeloggt" %}<font color="salmon">{{ spotify_user }}</font>{% else %}<font color="lightgreen">{{ spotify_user }}</font>{% endif %}</span>
                    </button>                
                    <br>
                    <br>
                      {% if spotify_user == "" %}
                        <a href="/spotify/login/url_target/dashboard#" class="btn btn-default" role="button">Login</a> 
                      {% else %}    
                        <a href="/spotify/logout/url_target/dashboard#" class="btn btn-danger" role="button">Logout</a>  
                      {% endif %}  
                  </div>  
                </div>
              </form>


            {% if tupel_current_playback != ('', '', '', '', '', [], '', '', '') and tupel_current_playback != '' %}  
            
              <div class="well well-sm"> 
                <div class="well well-sm">     
                  <table class="table">
                    <thead>                                   
                      <th scope="col" style="width:33%">Track</th>                                     
                      <th scope="col" style="width:33%">Interpreten</th>                      
                      <th scope="col" style="width:33%">Playlist</th> 
                    </thead>                                             
                    <tbody> 
                      <tr>
                        <td>
                          {{ tupel_current_playback[4] }} 
                        </td>                          
                        <td>
                          {% for artist in tupel_current_playback[5] %}
                             {{ artist }}
                          {% endfor %} 
                        </td>                          
                        <td>
                          {{ tupel_current_playback[7] }}
                        </td>                                                                                                                             
                      </tr>             
                    </tbody>
                  </table>                                 
                </div>
                <div class="well well-sm"> 
                  <form method="POST">  
                    <br>
                    <div class="text-center">          
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default btn-primary-spacing" name="set_spotify_play">
                        <span class="glyphicon glyphicon-play"></span>
                      </button>                               
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default btn-primary-spacing" name="set_spotify_previous">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                      </button>
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default btn-primary-spacing" name="set_spotify_next">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                      </button>
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default btn-primary-spacing" name="set_spotify_stop">
                        <span class="glyphicon glyphicon-pause"></span>
                      </button>
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_volume">
                        <span class="glyphicon glyphicon-volume-up"></span>
                      </button>
                      <br>
                      <br>
                      <div class="slidecontainer"> 
                        <div class="col-md-10 text-center">                       
                          <input type="range" class="slider" name="get_spotify_volume" min="0" max="100" value="{{ volume }}" />
                        </div>                                                     
                      </div>  
                      <br> 
                    </div>                                                   
                  </form>
                </div> 
              </div>    
                 
            {% endif %} 
            
         
<!-- spotify devices -->       
            
        {% if spotify_devices != "" %}   
                    
          <div class="well well-sm">  
            <form method="POST"> 
              <table class="table">
                <tbody> 
                  
                  {% for device in spotify_devices %}
                  
                    <tr>
                      
                      {% if device['type'] != "Smartphone" %}

                        <tr>
                          <td>
                            {{ device['name'] }}
                          </td>
                          <td></td>
                        <tr>
                        </tr>
                          <td>  
                            <select class="selectpicker" data-width="100%" name="set_spotify_playlist:{{ device['id'] }}">
                              {% if spotify_playlists != "" %}
                                {% for playlist in spotify_playlists %}
                                  {% if playlist['name'] != "Discover Weekly" %}
                                    <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <option value= "" > Keine Playlist gefunden </option>
                              {% endif %}
                            </select>  
                          </td>              
                          <td>   
                            <div class="text-center">     
                              <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="spotify_start_playlist" value="{{ device['id'] }}">
                                <span class="glyphicon glyphicon-play"></span>
                              </button>                                                              
                            </div>                          
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                        
                       {% endif %}   
                        
                    </tr>
                    
                  {% endfor %}    
                            
                </tbody>
              </table>                                                                  
            </form>
          </div> 

       {% endif %}   
        
        </div>    
      </div>    
    </div>
    
    <br>  
      
<!------------------>
<!--    sensors   -->      
<!------------------>    
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_sensors"><font color="white"><b>Sensoren</b></font></a>
            </h4>
          </div>   
          <div id="collapse_sensors" class="panel-collapse collapse" >      
            <div class="panel-body">                        
              <div class="well well-sm">    
              <table class="table">
                <tbody> 
                  {% for entry in data_sensor %}
                  <tr>
                    <td style="width:55%"> <b>{{entry.name}}</b> </td>
                    <td style="width:45%"> {{entry.description}} </td> 
                  </tr><tr>
                    <td style="width:55%"> {{entry.last_contact}} </td>                    
                    <td style="width:45%"> {{entry.last_values_formated}} </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
            </div>        
          </div>    
        </div>  
      </div>  
      <br>


<!---------------->      
<!-- system log --> 
<!---------------->     
      
      
<section id="system_log"></section>      
     
    
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_log"><font color="white"><b>Ereignisse</b></font></a>
            </h4>
          </div>   
          <div id="collapse_log" class="panel-collapse collapse {{ collapse_dashboard_log }}" >      
            <div class="panel-body">                       
              <div class="well well-sm">    
                <form method="POST">                   
                  <select class="selectpicker" multiple data-actions-box="true" data-width="100%" name="set_log_types[]">
                    <option {{ selected_type_event }}> EVENT </option>
                    <option {{ selected_type_status }}> STATUS </option>
                    <option {{ selected_type_database }}> DATABASE </option>                        
                    <option {{ selected_type_success }}> SUCCESS </option>   
                    <option {{ selected_type_warning }}> WARNING </option>
                    <option {{ selected_type_error }}> ERROR </option>                                              
                  </select>   
                  <br>
                  <br>
                  <input type="text" class="form-control" name="set_log_search" placeholder="Suchbegriff" value="" />
                  <br>
                  <input type="submit" onclick="window.location.href='/dashboard#system_log'" class="btn btn-default" name="get_log_output" value="Auswählen" />                                         
                </form>
              </div>      


<!-- table logs -->               
            
            
              <div class="well well-sm">

{% if error_message_log != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_log }}
  </div>      
{% endif %}

              <table class="table">
                <tbody> 
                  {% for entry in data_log_system %}
                    <tr>
                      <td>
                        <b>
                          {% if entry[1] == "EVENT" %} <font color="white">{{ entry[1] }} </font> {% endif %}
                          {% if entry[1] == "STATUS" %} <font color="darkKhaki">{{ entry[1] }} </font> {% endif %}
                          {% if entry[1] == "DATABASE" %} <font color="lightblue">{{ entry[1] }} </font> {% endif %}
                          {% if entry[1] == "SUCCESS" %} <font color="lawngreen">{{ entry[1] }} </font> {% endif %}
                          {% if entry[1] == "WARNING" %} <font color="orange">{{ entry[1] }} </font> {% endif %}
                          {% if entry[1] == "ERROR" %} <font color="salmon">{{ entry[1] }} </font> {% endif %} 
                        </b>           
                      </td>   
                      <td>{{ entry[0] }}</td> 
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{ entry[2] }}</td>  
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                    </tr>
                  {% endfor %} 
                </tbody>
              </table> 
            </div> 
          </div>  
        </div> 
      </div> 
      <br>
      <br> 
      <br>     


<!------------------>
<!-- informations -->
<!------------------>


    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
          </h4>
        </div>   
        <div id="collapse_info" class="panel-collapse collapse ">      
          <div class="panel-body">      
            <div class="well well-sm">   
             <br>
             Text
             <br>
            </div>
            
            <div class="text-center">
              <b>Version {{ version }}</b>
            </div>              
            
          </div>
        </font>
      </div>
    </div>
  </div>    
</div> 

{% endblock %}
