flask
flask_bootstrap
flask_sqlalchemy 
flask_apscheduler
flask_wtf 
flask_login 
flask_mail
flask_mobility (folder: /home/pi/.local/lib/python3.5/site-packages)
wtforms 
pyusb
ping3
paho-mqtt
spotipy
pyyaml
pandas
scipy
numpy 
scikit-learn
matplotlib
graphviz

