{% extends "bootstrap/base.html" %}

{% block title %}
  LED / Gruppen 
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>
  
{% endblock scripts %} 

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('dashboard_led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('dashboard_sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_system_host') }}"><font color="black">Host</font></a></li>              
              <li><a href="{{ url_for('dashboard_system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('dashboard_system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('dashboard_system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('dashboard_system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('dashboard_system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">

      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>LED / Gruppen</b></font>
            </div>              
          </div>  
        </div>     
      </div>   


<!-- error message -->

{% if error_message_add_group != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_group }}
  </div>      
{% endif %}  


<!-- add group -->        

        <div class="well well-sm">     
          <form method="POST"> 
            <div class="row justify-content-md-center">
              <div class="col-sm-3"> 
                <input type="text" class="form-control" name="set_group_name" placeholder="Neue Gruppe" value="" />                         
              </div>  
              <div class="col-sm-1">                                      
                <input type="submit" onclick="window.location.href='/dashboard/led/groups#'" class="btn btn-default" name="add_group" value="Gruppe erstellen" />
            </form>
            </div>
          </div>
        </div>    


<!-- error message settings -->

{% if error_message_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_settings %}
      {{ entry }} <br>
    {% endfor %}   
  </div>      
{% endif %} 


<!-- led groups table -->   

  <div class="panel-group">

    {% for entry in list_groups %}

<section id="table_{{ entry.id }}"></section>  


<!-- error message change settings -->

{% if entry.error_change_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in entry.error_change_settings.split(',') %}
      {{ entry }} <br>
    {% endfor %}   
  </div>      
{% endif %} 


    <div class="panel panel-default">  
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse{{entry.id}}"><font color="white"><b> {{ entry.name }} </b></font></a>
        </h4>
      </div>   
      <div id="collapse{{entry.id}}" class="panel-collapse collapse {{entry.collapse}} ">      
        <div class="panel-body">  
          <div class="well well-sm">

          <form method="POST" class="verticalform">
            <table class="table">
              <thead>     
                <th scope="col" style="width:3%"></th>                   
                <th scope="col" style="width:25%">Gruppe</th> 
                <th></th>
                <th style="width:10%"></th>
                <th scope="col" style="width:15%">LED Nummer</th>
                <th scope="col" style="width:15%">LED Model</th>
                <th scope="col" style="width:25%">LED</th>
                <th scope="col" style="width:5%"></th>
              </thead>
              <tbody> 
                <tr>
                  <th>
                    <a href="/dashboard/led/groups/position/up/{{ entry.id }}#table_{{ entry.id }}"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                    <a href="/dashboard/led/groups/position/down/{{ entry.id }}#table_{{ entry.id }}"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                  </td>                    
                  <th>
                    <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                                     
                  </td>  
                  <th></th>
                  <th>
                  <font size="+2">
                    <div class="row justify-content-md-center">
                      <div class="col-sm-1">                       
                        <a href="/dashboard/led/groups/led/add/{{ entry.id }}#table_{{ entry.id }}">
                          <span class="glyphicon glyphicon-plus" style="color:white"></span>
                        </a>                  
                      </div>
                    </div>
                  </font>
                  </td>   

<!-- section 1 -->

                  <th>1</td>
                  <th>{{ entry.led_device_type_1 }}</td> 
                  <th>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_1_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_1 }}" > {{ entry.led_name_1 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>                      
                  </td> 
                  <th><a href="/dashboard/led/groups/delete/{{ entry.id }}#"><font color="salmon" size="5"><b>X</b></font></a></td>  

<!-- section 2 -->

{% if entry.active_led_2 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>2</td>
                  <td>{{ entry.led_device_type_2 }}</td>               
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_2_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_2 }}" > {{ entry.led_name_2 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/2#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}

<!-- section 3 -->

{% if entry.active_led_3 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>3</td>
                  <td>{{ entry.led_device_type_3 }}</td>              
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_3_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_3 }}" > {{ entry.led_name_3 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/3#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}

<!-- section 4 -->

{% if entry.active_led_4 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>4</td>
                  <td>{{ entry.led_device_type_4 }}</td>                
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_4_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_4 }}" > {{ entry.led_name_4 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/4#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}

<!-- section 5 -->

{% if entry.active_led_5 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>5</td>
                  <td>{{ entry.led_device_type_5 }}</td>               
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_5_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_5 }}" > {{ entry.led_name_5 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/5#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}

<!-- section 6 -->

{% if entry.active_led_6 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>6</td>
                  <td>{{ entry.led_device_type_6 }}</td>               
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_6_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_6 }}" > {{ entry.led_name_6 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/6#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}

<!-- section 7 -->

{% if entry.active_led_7 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>7</td>
                  <td>{{ entry.led_device_type_7 }}</td>               
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_7_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_7 }}" > {{ entry.led_name_7 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/7#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}

<!-- section 8 -->

{% if entry.active_led_8 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>8</td>
                  <td>{{ entry.led_device_type_8 }}</td>              
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_8_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_8 }}" > {{ entry.led_name_8 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/8#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}

<!-- section 9 -->

{% if entry.active_led_9 == "True" %} 

                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>9</td>
                  <td>{{ entry.led_device_type_9 }}</td>                
                  <td>
                    <select class="selectpicker" data-live-search="true" data-width="90%" name="set_led_ieeeAddr_9_{{ entry.id }}">
                      <option value= "{{ entry.led_ieeeAddr_9 }}" > {{ entry.led_name_9 }} </option>                    
                      <optgroup>
                        {% for each in dropdown_list_leds %}
                          <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                        {% endfor %}  
                      </optgroup>                            
                    </select>     
                  </td> 
                  <td><a href="/dashboard/led/groups/led/remove/{{ entry.id }}/9#table_{{ entry.id }}"><font color="salmon" size="5"><b>X</b></font></a></td>  

{% endif %}


                </tr>     
              </tbody>
            </table>  
          </div> 

<!-- end table -->

            <input type="submit" onclick="window.location.href='/dashboard/led/groups#table_{{ entry.id }}'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>
            </form>
          </div>  
        </div>  
      </div>    
      <br>
         
      {% endfor %}
 
    <br>
    <br>      


<!-- informations -->


    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
          </h4>
        </div>   
        <div id="collapse_info" class="panel-collapse collapse ">      
          <div class="panel-body">      
            <div class="well well-sm">   
             <br>
             Text
             <br>
          </div>
        </div>
      </font>
      </div>
    </div>
  </div>    
</div>     

{% endblock %}
