{% extends "bootstrap/base.html" %}

{% block title %}
  Controller
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>
  
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('dashboard_led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('dashboard_sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('dashboard_system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('dashboard_system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('dashboard_system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('dashboard_system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
    <div class="row">
      <div class="col">
        <font color="white">

<!-- add new controller -->

      <div class="well well-sm">
       
{% if error_message_add_controller != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_controller }}
  </div>      
{% endif %}       
              
        <form method="POST"> 
        <div class="row justify-content-md-center">
          <div class="col-sm-2">                     
            <button type="button" style="background-color:transparent" class="btn btn-secondary">Neuer Controller:</button>
          </div>               
          <div class="col-sm-4">
            <select class="selectpicker" data-width="80%" data-live-search="true" name="set_mqtt_device_ieeeAddr">
              {% for each in dropdown_list_controller %}
                <option value="{{ each.ieeeAddr }}" > {{ each.name }} </option>
              {% endfor %}                                                                          
            </select>                                 
          </div>
          <div class="col-sm-2">
            <input type="submit" onclick="window.location.href='/dashboard/system/controller#'" class="btn btn-default" name="add_controller" value="Controller hinzufügen" />
          </div>         
        </div>
        </form> 
      </div>

<!-- error message tasks -->

{% if error_message_controller_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_controller_tasks %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %}  

<!-- controller table -->

{% for entry in data_controller %}

<section id="table_{{entry.id}}"></section>  

      <div class="panel panel-default">  
        <div class="panel-heading"><font color="white"><b>{{entry.mqtt_device.name}}</b></font></div> 
        <div class="panel-body">  
          <div class="well well-sm">

  <!-- error message task settings -->

  {% if entry.error_task_settings != "" %}
    <div class="alert alert-danger" role="alert">
      {% for entry in entry.error_task_settings.split(',') %}
        {{ entry }} <br>
      {% endfor %}
    </div>      
  {% endif %} 

            <form method="POST"> 
              <table class="table">
                <thead>  
                  <th scope="col"></th> 
                  <th scope="col">Controller</th>                     
                  <th scope="col">Ereignisse</th> 
                  <th scope="col">Aufgabe</th> 
                  <th scope="col"></th>                   
                </thead>
                <tbody> 
                  <tr>
                    <td style="width:3%">
                      <a href="/dashboard/system/controller/position/up/{{ entry.id }}#table_{{entry.id}}"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                      <a href="/dashboard/system/controller/position/down/{{ entry.id }}#table_{{entry.id}}"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                    </td>                     
                    <td style="width:17%"> {{entry.mqtt_device.name}} </td>                
                    <td style="width:17%"> {{entry.command_1}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_1_{{entry.id}}" value="{{entry.task_1}}" />  
                    </td>
                    <td style="width:5%"><a href="/dashboard/system/controller/delete/{{ entry.id }}#"><font color="salmon" size="5"><b>X</b></font></a></td> 
                  </tr>
                  {% if entry.command_2 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{entry.command_2}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_2_{{entry.id}}" value="{{entry.task_2}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_3 != "None" %}
                    <tr>
                    <td></td>
                    <td></td> 
                    <td style="width:17%"> {{entry.command_3}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_3_{{entry.id}}" value="{{entry.task_3}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_4 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{entry.command_4}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_4_{{entry.id}}" value="{{entry.task_4}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_5 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{entry.command_5}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_5_{{entry.id}}" value="{{entry.task_5}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_6 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{entry.command_6}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_6_{{entry.id}}" value="{{entry.task_6}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_7 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{entry.command_7}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_7_{{entry.id}}" value="{{entry.task_7}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_8 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{entry.command_8}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_8_{{entry.id}}" value="{{entry.task_8}}" />  
                    </td>
                    </tr>  
                  {% endif %}   
                  {% if entry.command_9 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{entry.command_9}} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_9_{{entry.id}}" value="{{entry.task_9}}" />  
                    </td>
                    </tr>  
                  {% endif %}                                                                  
                </tbody>
              </table>   
            </div>
            <input type="submit" onclick="window.location.href='/dashboard/system/controller#table_{{entry.id}}'" class="btn btn-default" name="save_task_settings" value="Änderungen speichern" />
            </form> 
          </div>        
        </div>    

{% endfor %} 

<!-- instructions -->

        <div class="panel panel-default">         
          <div class="panel-body">   
            <div class="well well-sm">
              <div class="text-center"> 
                <h3><span class="label label-default">Hinweise</span></h3>         
              </div>
              <br>
              <div class="well well-sm">
                <table class="table">
                <thead>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <th>Aufgabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>scene /// wohnzimmer /// relax /// 100</td>
                    <td>starte LEDs der Gruppe "wohnzimmer" mit Szene "relax" 
                      <br>
                      <br> Optionale Einstellung >>> globale Helligkeit 100 %</td>
                  </tr>
                  <tr>
                    <td>brightness /// schlafzimmer /// TURN_UP</td>
                    <td>Erhöhe Helligkeit der LEDs Gruppe "schlafzimmer" um 20% 
                      <br>
                      <br> TURN_UP &nbsp; &nbsp; &nbsp; >>> heller 
                      <br> TURN_DOWN                    >>> dunkler
                    </td>
                  </tr>                  
                  <tr>
                    <td>led_off /// group /// flur, bad</td>
                    <td>LEDs der Gruppe "flur" und "bad" ausschalten</td>
                  </tr>
                  <tr>
                    <td>led_off /// ALL</td>
                    <td>alle LEDs ausschalten</td>
                  </tr>  
                  <tr>
                    <td>device /// Steckdose TV /// {"state":"OFF"}</td>
                    <td>Gerät Steckdose TV ausschalten 
                      <br>
                      <br> {"state":"ON"} &nbsp; >>> einschalten
                      <br> {"state":"OFF"}       >>> ausschalten                    
                    </td>
                  </tr>    
                  <tr>
                    <td>program /// SUNRISE /// START</td>
                    <td>Programm "SUNRISE" starten 
                      <br>
                      <br> START       >>> starten
                      <br> STOP &nbsp; >>> beenden                    
                    </td>                    
                  </tr>                                                                
                </tbody>
              </table>     
            </div>
          </div>
        </div>
        </font>
      </div>
    </div>    
  </div>

{% endblock %}
