{% extends "bootstrap/base.html" %}

{% block title %}
  Bewässerung
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RASPI</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scene_01') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- error message -->

      {% if error_message != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message }}
      </div>      
      {% endif %}

<!-- add new plant -->

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>Bewässerung</b></font></div>
          <div class="panel-body">      
          <form method="POST">   
            <div class="form-group">
              <div class="text-center">  
                <h3><span class="label label-default">Pflanze hinzufügen</span></h3>
              </div>
              <br>
              <div class="well well-sm">Name
                <br>
                <br>
                <input type="text" class="form-control" name="set_name" value="" />
              </div>
              <div class="well well-sm">MQTT Gerät
                <br>
                <br>
                <select class="btn btn-secondary dropdown-toggle" name="set_mqtt_device">
                  {% for each in dropdown_list_mqtt_devices %}
                  <option value="{{each.id}}"> {{ each.name }} </option>
                  {% endfor %}
                </select>    
              </div>
              <div class="well well-sm">Wassermenge
                <br>
                <br>
                <select class="btn btn-secondary dropdown-toggle" name="set_water_volume">
                  {% for each in dropdown_list_watervolume %}
                  <option value="{{each}}"> {{ each }} </option>
                  {% endfor %}
                </select>    
              </div>        
            <input type="submit" onclick="window.location.href='/dashboard/plants#'" class="btn btn-secondary" name="add_plant" value="Pflanze hinzufügen" />
          </form>   
        </div>  
      </div>
    </div>

<!-- plants table -->

<section id="table"></section>   

      <div class="panel panel-default">
        <div class="panel-heading">Pflanzen</div>        
        <div class="panel-body"> 
          <div class="well well-sm">  
            <table class="table">
              <thead>
                <th scope="col">Name</th>   
                <th scope="col">MQTT Gerät</th>   
                <th scope="col">Sensor</th>
                <th scope="col">Pumpe</th>               
                <th scope="col">Wasser (ml)</th>
                <th scope="col">Feuchtigkeit (%)</th>  
                <th scope="col" colspan="3"><em>/// Einstellung: Sensor / Pumpe / Feuchtigkeit ///</em></th>
              </thead>
              <tbody> 
                {% for entry in plants_list %}
                <tr>
                  <td>{{ entry.name }}</td> 
                  <td>{{ entry.mqtt_device.name }}</td>                  
                  <td>{{ entry.sensor_id }}</td>
                  <td>{{ entry.pump_id }}</td>                
                  <td>{{ entry.watervolume }}</td>
                  <td>{{ entry.moisture_percent }}</td> 
                  <td> 
                    <form method="POST" class="verticalform">      
                      <select class="btn btn-secondary dropdown-toggle" name="set_sensor_{{ entry.id }}">
                        <option value= "{{ entry.sensor_id }}" > {{ entry.sensor_id }} </option>
                        <option value= "{{ entry.sensor_id }}" > ----- </option>
                        {% for i in range(entry.mqtt_device.inputs) %}
                        <option value= "{{ i }}" > {{ i }} </option>
                        {% endfor %}
                      </select>   
                      </td>
                      <td>                
                      <select class="btn btn-secondary dropdown-toggle" name="set_pump_{{ entry.id }}">
                        <option value= "{{ entry.pump_id }}" > {{ entry.pump_id }} </option>
                        <option value= "{{ entry.pump_id }}" > ----- </option> 
                        {% for i in range(entry.mqtt_device.outputs) %}
                        <option value= "{{ i }}" > {{ i }} </option>
                        {% endfor %}
                      </select> 
                      </td>
                      <td>
                        <class="slidecontainer"> 
                          <div class="col-md-10 text-center"> 
                            <input type="range" class="slider" name="set_moisture_{{ entry.id }}" min="0" max="100" value="{{ entry.moisture_percent }}" />
                            <br>
                            <input type="submit" onclick="window.location.href='/dashboard/plants#table'" class="btn btn-secondary" name="change_settings" value="aktuallisieren"/>
                          </div> 
                    </form>
                  </td>
                  <td><a href="/dashboard/plants/delete/{{ entry.id }}#table"><font color="red"><b>löschen</b></font></a></td>   
                </tr>
                {% endfor %}
              </tbody>
            </table>  
          </div>
        </div>  
      </div>  
    </div>
  </div>    
</div>


{% endblock %}
