{% extends "bootstrap/base.html" %}

{% block title %}
  Kameras
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('dashboard_led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('dashboard_sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_system_host') }}"><font color="black">Host</font></a></li>              
              <li><a href="{{ url_for('dashboard_system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('dashboard_system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('dashboard_system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('dashboard_system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('dashboard_system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">
        
      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>Kameras</b></font>
            </div>              
          </div>  
        </div>     
      </div>           
           
      <div class="panel panel-default">    
        <div class="panel-body">                       
          <div class="well well-sm">  

          {% if video_feed_01 != None or video_feed_02 != None or video_feed_03 != None %}

            <div class="row justify-content-md-center">
              <div class="col-sm-4">           
                {% if video_feed_01 != None %}
                  {{ video_feed_01.id }} | {{ video_feed_01.name }}
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_01.user }}:{{ video_feed_01.password }}@{{ video_feed_01.url }}" ></img>
                    </div>
                  </div>   
                {% endif %} 
              </div>    
              <div class="col-sm-4"> 
                {% if video_feed_02 != None %}      
                  {{ video_feed_02.id }} | {{ video_feed_02.name }}   
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_02.user }}:{{ video_feed_02.password }}@{{ video_feed_02.url }}" ></img>
                    </div>
                  </div>   
                {% endif %}     
              </div>
              <div class="col-sm-4"> 
                {% if video_feed_03 != None %}      
                  {{ video_feed_03.id }} | {{ video_feed_03.name }}   
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_03.user }}:{{ video_feed_03.password }}@{{ video_feed_03.url }}" ></img>
                    </div>
                  </div>   
                {% endif %}     
              </div>
            </div> 

          {% endif %}  

          {% if video_feed_04 != None or video_feed_05 != None or video_feed_06 != None %}

            <div class="row justify-content-md-center">
              <div class="col-sm-4">           
                {% if video_feed_04 != None %}
                  {{ video_feed_04.id }} | {{ video_feed_04.name }}
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_04.user }}:{{ video_feed_04.password }}@{{ video_feed_04.url }}" ></img>
                    </div>
                  </div>   
                {% endif %} 
              </div>    
              <div class="col-sm-4"> 
                {% if video_feed_05 != None %}      
                  {{ video_feed_05.id }} | {{ video_feed_05.name }}   
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_05.user }}:{{ video_feed_05.password }}@{{ video_feed_05.url }}" ></img>
                    </div>
                  </div>   
                {% endif %}     
              </div>
              <div class="col-sm-4"> 
                {% if video_feed_06 != None %}      
                  {{ video_feed_06.id }} | {{ video_feed_06.name }}   
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_06.user }}:{{ video_feed_06.password }}@{{ video_feed_06.url }}" ></img>
                    </div>
                  </div>   
                {% endif %}     
              </div>
            </div> 

          {% endif %}  

          {% if video_feed_07 != None or video_feed_08 != None or video_feed_09 != None %}

            <div class="row justify-content-md-center">
              <div class="col-sm-4">           
                {% if video_feed_07 != None %}
                  {{ video_feed_07.id }} | {{ video_feed_07.name }}
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_07.user }}:{{ video_feed_07.password }}@{{ video_feed_07.url }}" ></img>
                    </div>
                  </div>   
                {% endif %} 
              </div>    
              <div class="col-sm-4"> 
                {% if video_feed_08 != None %}      
                  {{ video_feed_08.id }} | {{ video_feed_08.name }}   
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_08.user }}:{{ video_feed_08.password }}@{{ video_feed_08.url }}" ></img>
                    </div>
                  </div>   
                {% endif %}     
              </div>
              <div class="col-sm-4"> 
                {% if video_feed_09 != None %}      
                  {{ video_feed_09.id }} | {{ video_feed_09.name }}   
                  <div class="img-container-video">
                    <div class="img">
                      <img src="http://{{ video_feed_09.user }}:{{ video_feed_09.password }}@{{ video_feed_09.url }}" ></img>
                    </div>
                  </div>   
                {% endif %}     
              </div>
            </div> 

          {% endif %}  

          </div>
        </div>
      </div>
    </div>  

<!-- error message camera settings  -->

{% if error_message_camera_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_camera_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}    

<!-- add camera -->  

<section id="camera_table"></section>     

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_camera_table"><font color="white"><b> Kameras verwalten </b></font></a>
          </h4>
        </div>   
        <div id="collapse_camera_table" class="panel-collapse collapse {{collapse_camera_table}} ">      
          <div class="panel-body">  

<!-- error message add camera -->

{% if error_message_add_camera != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_add_camera %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}           

            <div class="well well-sm">              
              <form method="POST"> 
                <div class="row justify-content-md-center">
                  <div class="col-sm-3"> 
                    <input type="text" class="form-control" name="set_name" placeholder="Kamera Name" value="{{ name }}" />
                  </div>                
                  <div class="col-sm-3"> 
                    <input type="text" class="form-control" name="set_url" placeholder="Kamera URL" value="{{ url }}" />
                  </div>  
                  <div class="col-sm-3"> 
                    <input type="text" class="form-control" name="set_user" placeholder="Benutzername" value="{{ user }}" />
                  </div>  
                  <div class="col-sm-3"> 
                    <input type="text" class="form-control" name="set_password" placeholder="Passwort" value="{{ password }}" />
                  </div>  
                </div>    
                <br>                                    
                <div class="text-right">
                  <input type="submit" onclick="window.location.href='/dashboard/camera#camera_table'" class="btn btn-default" name="add_camera" value="Kamera hinzufügen" />
                </div>
              </form>       
            </div>    
  
<!-- camera table -->

        <div class="well well-sm">  
          <form method="POST"> 
            <table class="table">
              <thead>   
                <th scope="col" style="width:3%"></th>
                <th scope="col" style="width:6%">ID</th>                   
                <th scope="col" style="width:22%">Name</th>                                     
                <th scope="col" style="width:22%">URL</th> 
                <th scope="col" style="width:22%">Benutzer</th> 
                <th scope="col" style="width:22%">Passwort</th> 
                <th scope="col"></th>  
                <th scope="col" style="width:3%"></th>                  
              </thead>
              <tbody> 
                {% for entry in camera_list %}
                <tr>
                  <td>{{ entry.id }}</td>  
                  <td>
                    <a href="/dashboard/camera/position/down/{{ entry.id }}#camera_table"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                    <a href="/dashboard/camera/position/up/{{ entry.id }}#camera_table"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                  </td> 
                  <td>
                    <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                    
                  </td>                                        
                  <td>
                    <input type="text" class="form-control" name="set_url_{{ entry.id }}" value="{{ entry.url }}" />                    
                  </td>  
                  <td>
                    <input type="text" class="form-control" name="set_user_{{ entry.id }}" value="{{ entry.user }}" />                    
                  </td>  
                  <td>
                    <input type="text" class="form-control" name="set_password_{{ entry.id }}" value="{{ entry.password }}" />                    
                  </td>    
                  <td><td><a href="/dashboard/camera/delete/{{ entry.id }}#camera_table"><font color="salmon" size="5"><b>X</b></font></a></td></td>
                </tr>
                {% endfor %} 
              </tbody>
            </table>         
          </div>
          <input type="submit" onclick="window.location.href='/dashboard/camera#camera_table'" class="btn btn-default" name="change_camera_settings" value="Änderungen speichern"/> 
          </form> 
        </div>  
      </div>  
    </div> 
    <br>
    <br>      

<!-- informations -->

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
          </h4>
        </div>   
        <div id="collapse_info" class="panel-collapse collapse ">      
          <div class="panel-body">      
            <div class="well well-sm">   
             <br>
             
             <b>Kamera hinzufügen</b>
             <br>
             <br>
             Stream-URL herausfinden und eintragen
             <br>             
             Optional: Authentifizierung mit Variante "simpel"
             <br>
             <br>             
             <font color="lightblue">>>> <a href="https://github.com/ccrisan/motioneyeos/wiki">MotionEyeOS</font></a> 
             <br>
          </div>
        </div>
      </font>
      </div>
    </div>
  </div>    
</div> 

{% endblock %}
