{% extends "bootstrap/base.html" %}

{% block title %}
  LED Programme
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=[ ".rgb" ]) }}
{% endblock scripts %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        {% endif %}            
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- led navs -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class={{scenes}}><a href="{{ url_for('dashboard_led_scenes') }}">LED Szenen</a></li> 
          <li class={{programs}}><a href="{{ url_for('dashboard_led_programs') }}">LED Programme</a></li> 
          <li class={{groups}}><a href="{{ url_for('dashboard_led_groups') }}">LED Gruppen</a></li>   
        </ul>
      </div>
    </nav>


<!-- add program -->        

    <div class="well well-sm">     

<!-- error message add program -->

{% if error_message_add_program != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_program }}
  </div>      
{% endif %}              

      <form method="POST"> 
        <div class="row justify-content-md-center">
          <div class="col-sm-2">  
            <button type="button" style="background-color:transparent" class="btn btn-secondary">Neues Programm:</button>                   
          </div>
          <div class="col-sm-3"> 
            <input type="text" class="form-control" name="set_program_name" value="" />                         
          </div>  
          <div class="col-sm-1">                                      
            <input type="submit" onclick="window.location.href='/dashboard/led/programs#'" class="btn btn-default" name="add_program" value="Programm erstellen" />
        </form>
        </div>
      </div>
    </div>  

<!-- select a program -->

    <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>LED Programme</b></font></div>
        <div class="panel-body">
          <div class="well well-sm">
            <form method="POST" enctype="multipart/form-data">
            <div class="row justify-content-md-center">
              <div class="col-sm-3">
                <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="get_program_name">
                    {% for each in dropdown_list_programs %}
                      {% if each != None %}
                      <option value="{{each.name}}">{{each.name}} (ID: {{each.id}})</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div> 
              </div>  
              <div class="col-sm-3"> 
                <input type="submit" onclick="window.location.href='/dashboard/led/programs#'" class="btn btn-default" name="get_program_name" value="Programm anzeigen">
              </div>  
            </form> 
            </div> 
          </div> 
          <br>
          <br>          

{% if program != "" %}
    
<!-- instructions -->

          <div class="well well-sm">
            <div class="text-center">  
              <h3><span class="label label-default">{{ program.name }} (ID: {{program.id}}) bearbeiten</span></h3> 
            </div>
            <br>
            <div class="well well-sm">
              <br>
              <table class="table">
                <thead>
                  <tr></tr>
                  <tr>
                    <th>Eingabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1:led_rgb(255, 0, 0):254</td>
                    <td>LED Nummer 1, Farbe ändern auf rot, maximale Helligkeit</td>
                  </tr>
                  <tr>
                    <td>3:led_white(255):120</td>
                    <td>LED Nummer 3, Farbtemperatur, mittlere Helligkeit</td>
                  </tr>    
                  <tr>
                    <td>3:led_simple:120</td>
                    <td>LED Nummer 3, mittlere Helligkeit</td>
                  </tr>                                  
                  <tr>
                    <td>pause:30</td>
                    <td>Pause für 30 Sekunden</td>
                  </tr>                  
                </table>
              
<section id="rgb_color"></section>   
<section id="save_program"></section>
               
            </div>
            <br>
            <br>

<!-- get rgb value -->

          <div class="well well-sm">
            <div class="text-center"> 
              
            <form method="POST" class="verticalform">
              
              <div class="row justify-content-md-center">
                <div class="col-sm-1">
                  <input type="text" name="get_rgb_{{ program.id }}" class="form-control rgb" value="{{ rgb }}"/>
                </div>
                <div class="col-sm-3">          
                  <input type="submit" onclick="window.location.href='/dashboard/led/programs#rgb_color'" class="btn btn-default" name="color_{{ program.id }}" value="RGB Werte anzeigen" />  
                </div>
                <div class="col-sm-3">               
                  <div class="form-group">
                    <input type="text" class="form-control" value="{{ rgb }}" />
                  </div>
                </div>
              </div>            
            </div>
          </div>
      
<!-- update a program -->

<section id="start_program"></section> 

        <div class="well well-sm">
          <div class="text-center">                             
              <textarea class="form-control" name="content" rows="20">{{ program.content }}</textarea>  
            <br>
            <br>    
            <div class="row justify-content-md-center">
              <div class="col-sm-1"></div>
              <div class="col-sm-3">                         
                <input type="submit" onclick="window.location.href='/dashboard/led/programs#save_program'" class="btn btn-default" name="save_{{ program.id }}" value="Programm speichern" />
              </div>

<!-- start a program -->

              <div class="col-sm-3">  
                <select class="btn btn-default dropdown-toggle" name="get_group">
                    <option value= "" > Gruppe wählen: </option>
                    <option value= "" > ----------------------------------- </option>                                        
                  {% for each in dropdown_list_groups %}
                    <option value="{{ each.id }}"> {{ each.name }} </option>
                  {% endfor %}
                </select> 
              </div>
              <div class="col-sm-3">                                        
                <input type="submit" onclick="window.location.href='/dashboard/led/programs#start_program'" class="btn btn-default" name="start_{{ program.id }}" value="Programm starten" />
              </div>   
            </div>
          </div>     
        </div>
      </div>
    </div>
  </div>

<!-- rename a program -->

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="well well-sm">                 
            <form method="POST">
              <div class="row justify-content-md-center">
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="text" class="form-control" name="program_name_{{ program.id }}" value="{% if program.name != None %}{{ program.name }}{% endif %}" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <input type="submit" onclick="window.location.href='/dashboard/led/programs#'" class="btn btn-default" name="change_name_{{ program.id }}" value="Name ändern" />
                </div>
              </div>                
            </form>  
          </div>

<!-- delete a program -->

          <div class="dropdown text-right">
            <form method="POST" enctype="multipart/form-data">
              <input type="submit" onclick="window.location.href='/dashboard/led/programs#'" class="btn btn-danger text-right" name="delete_program_{{ program.id }}" value="{{ program.name }} löschen">
            </form>
          </div> 
        </div> 
      </div> 

{% else %}

        </div> 
      </div> 

{% endif %}
   
    </div>
  </div>    
</div>

{% endblock %}
