{% extends "bootstrap/base.html" %}

{% block title %}
  HUE Einstellungen
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RASPI</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">LED
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('dashboard_led_scene_01') }}">Szenen</a></li>
            <li><a href="{{ url_for('dashboard_led_programs') }}">Programme</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('dashboard_plants') }}">Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_schedular') }}">Aufgabenplanung</a></li>       
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}">Systemeinstellungen</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- settings navs -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_settings_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_settings_snowboy') }}">SnowBoy</a></li>
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_hue_bridge') }}">Hue Bridge</a></li>
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_sensors') }}">Sensoren</a></li> 
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_user') }}">Benutzer</a></li>            
          </ul>
        </div>
      </nav>

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>SnowBoy</b></font></div>
          <div class="panel-body">   
            <form method="get">  
              <div class="radio">
                <label><input {{check_value_snowboy[0]}} type="radio" value="True" name="radio_snowboy">SnowBoy aktivieren</label>
                <br>
                <label><input {{check_value_snowboy[1]}} type="radio" value="False" name="radio_snowboy">SnowBoy deaktivieren</label>
              </div>
              <font color="red"><b>Flask neustarten, wenn SnowBoy Einstellungen geändert werden</b></font>
              <br>     
              <br>        
              <input type="submit" class="btn btn-secondary" value="Auswählen"/>
            </form>  
          </div>  
        </div>           

<!-- SNOWBOY -->

{% if snowboy_setting != "False" %}

<!-- snowboy error message -->

    {% if error_message_snowboy != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message_snowboy }}
      </div>      
    {% endif %}   

    {% if error_message_table != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message_table }}
      </div>      
    {% endif %}    

    {% if error_message_fileupload == False %}
      <div class="alert alert-danger" role="alert">
        Keine Datei angegeben
      </div>      
    {% endif %}  

    {% if error_message_fileupload == True %}
      <div class="alert alert-success" role="alert">
        Datei erfolgreich hochgeladen
      </div>      
    {% endif %}  

<!-- snowboy settings -->

      <div class="panel panel-default">
        <div class="panel-heading">SnowBoy Einstellungen</div>
          <div class="panel-body">  
          <form method="GET">
            <b>Empfindlichkeit</b>
            <br>
            <br>
            <div class="slidecontainer">                        
              <input type="range" class="slider" name="sensitivity" min="0" max="100" value="{{ sensitivity }}" />
            </div>
            <br>
            <input type="submit" class="btn btn-secondary" value="Empfindlichkeit ändern" />       
          </form>  
        </div>                    
      </div>  

<!-- snowboy taskmanagement -->      

      <section id="task_management"></section>      
  
      <div class="panel panel-default">
        <div class="panel-heading">Aufgabenmanagement</div>
        <div class="panel-body">  
          <div class="text-center">         
            <h5><b>Neue Aufgabe erstellen</b></h5>
          </div>          
          <br>
          <table class="table">
            <thead>
              <tr><td></td><td></td></tr>
              <tr>
                <th>Eingabe</th>
                <th>Erklärung</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>start_scene:1:50</td>
                <td>starte Szene Nummer "1", globale Helligkeit 50%</td>
              </tr>
              <tr>
                <td>start_program:2</td>
                <td>starte Programm Nummer "2"</td>
              </tr>
              <tr>
                <td>led_off:3</td>
                <td>LEDs nacheinander ausschalten, alle "3" Sekunden Reduzierung der Helligkeit einer LED um 10%</td>
              </tr>
              <tr><td></td><td></td></tr>
            </tbody>
          </table>   
          <form method="GET">
            Name
            <br>             
            <div class="form-group">
              <input type="text" class="form-control" name="set_name" value="{% if set_name != None %}{{ set_name }}{% endif %}" />
            </div>                          
            Aufgabe
            <br>            
            <div class="form-group">
              <input type="text" class="form-control" name="set_task" value="{% if set_task != None %}{{ set_task }}{% endif %}" />
            </div>               
            <input type="submit" onclick="window.location.href='/dashboard/settings/snowboy#task_management'" class="btn btn-secondary" value="Aufgabe anlegen" />
          </form>  

          <br>
          <div class="text-center">         
            <h5><b>Hotword hochladen</b></h5>  
            <br>          
            HINWEIS: Dateiname soll gleich dem Aufgabennamen und auszusprechenden Wort sein
            <br>
            <br>
          </div> 
          <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <br>
              <input type=submit onclick="window.location.href='/dashboard/settings/snowboy#task_management'" class="btn btn-secondary" value="Datei hochladen">
          </form>   
        </div>                    
      </div>  

<!-- snowboy table tasks --> 

      <section id="table_tasks"></section>

      <div class="panel panel-default">
          <div class="panel-heading">Aufgaben</div>        
          <div class="panel-body">  
            <table class="table">
              <thead>    
                <th scope="col">ID</th>                   
                <th scope="col">Name</th> 
                <th scope="col">Aufgabe</th> 
              </thead>
              <tbody> 
                {% for entry in snowboy_list %}
                <tr>
                  <td>{{ entry.id }}</td>
                  <td>{{ entry.name }}</td> 
                  <td>{{ entry.task }}</td> 
                  <td><a href="/dashboard/settings/snowboy/delete/task/{{ entry.id }}#table_tasks"><font color="red"><b>löschen</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>  
        </div>  

<!-- snowboy table hotwords --> 

        <section id="table_hotwords"></section>

        <div class="panel panel-default">
          <div class="panel-heading">Hotwords</div>
          <div class="panel-body">                               
            <table class="table">
                <thead>                       
                  <th scope="col">Dateiname</th> 
                </thead>
                <tbody> 
                  {% for entry in file_list %}
                  <tr>
                    <td>{{ entry }}</td> 
                    <td><a href="/dashboard/settings/snowboy/delete/hotword/{{ entry }}#table_hotwords"><font color="red"><b>löschen</b></font></a></td>  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>  
            </div>  
          </div>               

{% endif %}

    </div>
  </div>    
</div>

{% endblock %}
