{% extends "bootstrap/base.html" %}

{% block title %}
  System Log
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_scheduler_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <div class="row">
      <div class="col">
  
<!-- settings navs -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_settings_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_settings_zigbee2mqtt') }}">ZigBee2MQTT</a></li>          
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_speechcontrol') }}">Sprachsteuerung</a></li>        
            <li class={{active04}}><a href="{{ url_for('dashboard_settings_user') }}">Benutzer</a></li>    
            <li class={{active05}}><a href="{{ url_for('dashboard_settings_email') }}">eMail</a></li>        
            <li class={{active06}}><a href="{{ url_for('dashboard_settings_system') }}">System</a></li> 
            <li class={{active07}}><a href="{{ url_for('dashboard_settings_system_log') }}">System Log</a></li> 
          </ul>
        </div>
      </nav>

<!-- error message -->

{% if error_message != "" %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>      
{% endif %}

<!-- table  --> 

<section id="table_tasks"></section>

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>System Log</b></font></div>       
          <div class="panel-body">  
            <div class="well well-sm">
              <table class="table">
                <thead>                      
                  <th scope="col">Zeitpunkt</th> 
                  <th scope="col">Typ</th> 
                  <th scope="col">Beschreibung</th> 
                </thead>
                <tbody> 
                  {% for entry in data_log_system %}
                  <tr>
                    <td>{{ entry[0] }}</td> 
                    <td>
                      {% if entry[1] == "EVENT" %} <font color="black">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "SUCCESS" %} <font color="green">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "WARNING" %} <font color="orange">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "ERROR" %} <font color="red">{{ entry[1] }} </font> {% endif %}            
                    </td>                   
                    <td>{{ entry[2] }}</td>  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table>  
            </div>
          </div>  
        </div> 

<!-- system logs -->

<section id="logfile"></section>

        <div class="panel panel-default">
          <div class="panel-body">    
            <a href="/dashboard/settings/system_log/download/log_system.csv?time={{ timestamp }}"><b>System Log-Datei herunterladen</b></font></a>
            <div class="dropdown text-right">
            <form method="POST" enctype="multipart/form-data">
              <input type="submit" onclick="window.location.href='/dashboard/settings/system_log#logfile'" class="btn btn-danger text-right" name="reset_logfile" value="System Log-Datei zurücksetzen">
            </form>
          </div>        
        </div>  
      </div>        
    </div>
  </div>       
</div>

{% endblock %}
