{% extends "bootstrap/base.html" %}

{% block title %}
  Sensordaten
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var slider_1 = document.getElementById("min_input");
    var output_1 = document.getElementById("min_output");
    output_1.innerHTML = slider_1.value;
    
    slider_1.oninput = function() {
      output_1.innerHTML = this.value;
    }
  </script>

  <script>
      var slider_2 = document.getElementById("max_input");
      var output_2 = document.getElementById("max_output");
      output_2.innerHTML = slider_2.value;
      
      slider_2.oninput = function() {
        output_2.innerHTML = this.value;
      }
    </script>

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<section id="table"></section>  

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <div class="row">
      <div class="col">

<!-- sensordata navs -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class={{jobs}}><a href="{{ url_for('dashboard_sensordata_jobs') }}">Sensordaten Jobs </a></li> 
          <li class={{statistics}}><a href="{{ url_for('dashboard_sensordata_statistics') }}">Sensordaten Statistiken</a></li>   
        </ul>
      </div>
    </nav>       

<!-- sensordata table -->

    <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>Sensordaten Statistiken</b></font></div>    
        <div class="panel-body">   

<!-- select data source -->
  
<section id="create_table"></section>  

            <div class="well well-sm">
              <form method="POST">   
                <div class="form-group">
                  <div class="text-center">   
                    <h3><span class="label label-default">Tabelle erstellen</span></h3> 
                  </div> 
                  <br>
                  <br>    
                  
<!-- error message -->

{% if error_message != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>      
{% endif %}                     

                  <div class="row justify-content-md-center">
                    <div class="col-sm-3">
                      Datenquellen auswählen:
                    </div>  
                    <div class="col-sm-2">
                      <div class="dropdown">
                        <select class="btn btn-default dropdown-toggle" name="get_file_1">
                          {% if data_file_1 != "" %}
                            <option value= "{{ data_file_1 }}" > {{ data_file_1 }} </option>
                            <option value= "{{ data_file_1 }}" > -------------------- </option>                                          
                          {% endif %}    
                          <option value= "" > None </option>    
                          <option value= "" > -------------------- </option>           
                          {% for each in dropdown_list_files %}
                            {% if each != None %}
                            <option value="{{ each }}">{{ each }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div> 
                    </div> 
                    <div class="col-sm-2">
                      <div class="dropdown">
                        <select class="btn btn-default dropdown-toggle" name="get_file_2">
                          {% if data_file_2 != "" %}
                            <option value= "{{ data_file_2 }}" > {{ data_file_2 }} </option>
                            <option value= "{{ data_file_2 }}" > -------------------- </option>                                                 
                          {% endif %}   
                          <option value= "" > None </option>  
                          <option value= "" > -------------------- </option>                         
                          {% for each in dropdown_list_files %}
                            {% if each != None %}
                            <option value="{{ each }}">{{ each }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div> 
                    </div>    
                    <div class="col-sm-2">
                      <div class="dropdown">
                        <select class="btn btn-default dropdown-toggle" name="get_file_3">
                          {% if data_file_3 != "" %}
                            <option value= "{{ data_file_3 }}" > {{ data_file_3 }} </option>
                            <option value= "{{ data_file_3 }}" > -------------------- </option>                                          
                          {% endif %}    
                          <option value= "" > None </option>   
                          <option value= "" > -------------------- </option>           
                          {% for each in dropdown_list_files %}
                            {% if each != None %}
                            <option value="{{ each }}">{{ each }}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                      </div> 
                    </div>                     
                  </div>   
                  <br>                
                  <div class="well well-sm">Geräte:   
                    <div class="form-group">  
                      <input type="text" class="form-control" name="set_devices" value="{% if devices != None %}{{ devices }}{% endif %}" />  
                    </div>
                  </div>       
                  <div class="well well-sm">Sensoren:   
                    <div class="form-group">    
                      <input type="text" class="form-control" name="set_sensors" value="{% if sensors != None %}{{ sensors }}{% endif %}" />                
                    </div>                    
                  </div>  

                  
                  {{ time_min }}
                  {{ time_max }}
                  <br>
                  <div class="well well-sm">Zeitraum: 

                    <br>
                    <span id="min_output"></span> - <span id="max_output"></span>
                    <br>

                    <div class="form-group">    
                      <input id="min_input" type="range" class="slider" name="set_time_min" min="{{ time_min }}" max="{{ time_max }}" value="{{ time_min }}" />
                      <input id="max_input" type="range" class="slider" name="set_time_max" min="{{ time_min }}" max="{{ time_max }}" value="{{ time_max }}" />
                    </div>     
                    

                  </div>                    
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-sm-2">              
                  <input type="submit" onclick="window.location.href='/dashboard/sensordata/statistics#create_table'" class="btn btn-default" name="get_data" value="Daten laden" />
                </div>
                <div class="col-sm-2">
                  <input type="submit" onclick="window.location.href='/dashboard/sensordata/statistics#create_table'" class="btn btn-default" name="create_table" value="Tabelle erstellen" />
                </div>
              </div>
              </form> 
            </div>
          </div>      
        </div>    
           
        {% if graph == True %}
        
        <div class="panel panel-default">
          <div class="panel-body">           
            <div class="well well-sm"> 
              <div class="well well-sm">
                <div class="img-container">
                  <div class="img">
                     <div><img src="{{ url_for('static', filename='images/graph.png') }}"></img></div>
                  </div>
                </div>
              </div>                  
            </div> 
          </div>                  
        </div> 
                        
        {% endif %} 
        
      </div>        
    </div>  
  </div>       
</div>

{% endblock %}
