{% extends "bootstrap/base.html" %}

{% block title %}
  LED Programme
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=[ ".rgb" ]) }}
{% endblock scripts %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if permission_dashboard == "checked" %}
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
      {% endif %}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-leaf"></span> Programme</a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li> 
        {% endif %}
        {% if permission_sensordata == "checked" %}                   
          <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li> 
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li><a href="{{ url_for('dashboard_system_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System</a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">

<!-- add program -->        

    <div class="well well-sm">     

<!-- error message add program -->

{% if error_message_add_program != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_program }}
  </div>      
{% endif %}              

      <form method="POST"> 
        <div class="row justify-content-md-center">
          <div class="col-sm-2">  
            <button type="button" style="background-color:transparent" class="btn btn-secondary">Neues Programm:</button>                   
          </div>
          <div class="col-sm-3"> 
            <input type="text" class="form-control" name="set_program_name" value="" />                         
          </div>  
          <div class="col-sm-1">                                      
            <input type="submit" onclick="window.location.href='/dashboard/programs#'" class="btn btn-default" name="add_program" value="Programm erstellen" />
        </form>
        </div>
      </div>
    </div>  

<!-- select a program -->

    <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>Programme</b></font></div>
        <div class="panel-body">
          <div class="well well-sm">
            <form method="POST" enctype="multipart/form-data">
            <div class="row justify-content-md-center">
              <div class="col-sm-3">
                <div class="dropdown">
                  <select class="btn btn-default dropdown-toggle" name="get_program_name">
                    {% for each in dropdown_list_programs %}
                      {% if each != None %}
                      <option value="{{each.name}}">{{each.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div> 
              </div>  
              <div class="col-sm-3"> 
                <input type="submit" onclick="window.location.href='/dashboard/programs#'" class="btn btn-default" name="get_program_name" value="Programm anzeigen">
              </div>  
            </form> 
            </div> 
          </div>       

{% if program != "" %}
    
<!-- instructions -->

          <div class="text-center">  
            <h3><span class="label label-default">{{ program.name }} bearbeiten</span></h3> 
          </div>
          <br>
          <div class="well well-sm">
            <br>
            <table class="table">
              <thead>
                <tr></tr>
                <tr>
                  <th>Eingabe</th>
                  <th>Erklärung</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>device /// Steckdose TV /// {"state":"OFF"}</td>
                  <td>Gerät "Steckdose TV" ausschalten</td>
                </tr>                  
                <tr>
                  <td>led /// Deckenlampe_01 /// 255, 0, 0 /// 254</td>
                  <td>RGB-LED "Deckenlampe_01", Farbe auf rot, maximale Helligkeit</td>
                </tr>
                <tr>
                  <td>led /// Deckenlampe_02 /// 3000 /// 120</td>
                  <td>WHITE-LED "Deckenlampe_01", Farbtemperatur auf 3000, mittlere Helligkeit</td>
                </tr>    
                <tr>
                  <td>led /// Badlampe_01 /// 120</td>
                  <td>SIMPLE-LED "Badlampe_01", mittlere Helligkeit</td>
                </tr>      
                <tr>
                  <td>led /// Badlampe_01 /// OFF</td>
                  <td>LED "Badlampe_01" ausschalten</td>
                </tr>                                              
                <tr>
                  <td>pause /// 30</td>
                  <td>Pause für 30 Sekunden</td>
                </tr>                  
              </table>
            
<section id="rgb_color"></section>   
<section id="save_program"></section>
<section id="start_program"></section>
<section id="stop_program"></section>
             
          </div>
          <br>
          <br>

<!-- get rgb value -->

        <div class="well well-sm">
          <div class="text-center"> 
            
          <form method="POST" class="verticalform">
            
            <div class="row justify-content-md-center">
              <div class="col-sm-1">
                <input type="text" name="get_rgb_{{ program.id }}" class="form-control rgb" value="{{ rgb }}"/>
              </div>
              <div class="col-sm-3">          
                <input type="submit" onclick="window.location.href='/dashboard/programs#rgb_color'" class="btn btn-default" name="color_{{ program.id }}" value="RGB Werte anzeigen" />  
              </div>
              <div class="col-sm-3">               
                <div class="form-group">
                  <input type="text" class="form-control" value="{{ rgb }}" />
                </div>
              </div>
            </div>            
          </div>
        </div>
    
<!-- error message content -->

{% if error_message_content != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_content %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %}         
    
<!-- program content -->

      <div class="well well-sm">
        <div class="text-center">                             
            <textarea class="form-control" name="content" rows="20">{{ program.content }}</textarea>  
          </div>
        </div>
          
<!-- save program -->
 
          <div class="row justify-content-md-center">
            <div class="col-sm-3">                         
              <input type="submit" onclick="window.location.href='/dashboard/programs#save_program'" class="btn btn-default" name="save_{{ program.id }}" value="Programm speichern" />
            </div>

<!-- start a program -->


            <div class="col-sm-2">                                        
              <input type="submit" onclick="window.location.href='/dashboard/programs#start_program'" class="btn btn-default" name="start_{{ program.id }}" value="Programm starten" />
            </div>   
  
<!-- stop a program -->

            <div class="col-sm-2">                                        
              <input type="submit" onclick="window.location.href='/dashboard/programs#stop_program'" class="btn btn-default" name="stop_{{ program.id }}" value="Programm stoppen" />
            </div>        
         
<!-- running program -->         
            
            <div class="col-sm-2">    
              <button type="button" style="background-color:transparent" class="btn btn-secondary">Laufendes Programm: {{ program_running }}</button>                                    
            </div>               
          </div>
        </div>     
      </div>

<!-- rename a program -->

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="well well-sm">                 
            <form method="POST">
              <div class="row justify-content-md-center">
                <div class="col-sm-3">
                  <div class="form-group">
                    <input type="text" class="form-control" name="program_name_{{ program.id }}" value="{% if program.name != None %}{{ program.name }}{% endif %}" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <input type="submit" onclick="window.location.href='/dashboard/led/programs#'" class="btn btn-default" name="change_name_{{ program.id }}" value="Name ändern" />
                </div>
              </div>                
            </form>  
          </div>

<!-- delete a program -->

          <div class="dropdown text-right">
            <form method="POST" enctype="multipart/form-data">
              <input type="submit" onclick="window.location.href='/dashboard/led/programs#'" class="btn btn-danger text-right" name="delete_program_{{ program.id }}" value="{{ program.name }} löschen">
            </form>
          </div> 
        </div> 
      </div> 

{% else %}

        </div> 
      </div> 

{% endif %}
   
    </div>
  </div>    
</div>

{% endblock %}
