{% extends "bootstrap/base.html" %}

{% block title %}
  eMail
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if permission_dashboard == "checked" %}
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
      {% endif %}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-leaf"></span> Programme</a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li> 
        {% endif %}
        {% if permission_sensordata == "checked" %}                   
          <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li> 
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li><a href="{{ url_for('dashboard_system_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System</a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <div class="row">
      <div class="col">
  
<!-- settings navs -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_system_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}">ZigBee2MQTT</a></li> 
            <li class={{active03}}><a href="{{ url_for('dashboard_system_controller') }}">Controller</a></li>             
            <li class={{active04}}><a href="{{ url_for('dashboard_system_speechcontrol') }}">Sprachsteuerung</a></li>                
            <li class={{active05}}><a href="{{ url_for('dashboard_system_user') }}">Benutzer</a></li>    
            <li class={{active06}}><a href="{{ url_for('dashboard_system_email') }}">eMail</a></li>         
            <li class={{active07}}><a href="{{ url_for('dashboard_system_backup') }}">Backup</a></li> 
            <li class={{active08}}><a href="{{ url_for('dashboard_system_log') }}">Log</a></li> 
          </ul>
        </div>
      </nav>

<section id="add_email"></section>  

<!-- eMail settings -->

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>eMail</b></font></div>
          <div class="panel-body">   
            <div class="well well-sm">
              <b>HINWEIS:</b> Daten beziehen sich auf den eMail-Versender (optimalerweise eine eigende eMail-Adresse für SmartHome)
              <br>
              <br>
  
<!-- error message  -->

{% if error_message != "" %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>      
{% endif %}   
  
              <form method="POST">
                <div class="well well-sm">Server Adresse:            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_mail_server_address" value="{% if email_config.mail_server_address != None %}{{ email_config.mail_server_address }}{% endif %}" />
                  </div>    
                </div>                      
                <div class="well well-sm">Server Port:            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_mail_server_port" value="{% if email_config.mail_server_port != None %}{{ email_config.mail_server_port }}{% endif %}" />
                  </div>    
                </div>           
                <div class="well well-sm">
                  <div class="row justify-content-md-center">
                    <div class="col-sm-2">
                      <button type="button" style="background-color:transparent" class="btn btn-secondary">Verschlüsselung:</button>
                    </div>
                    <div class="col-sm-1">   
                      <select class="btn btn-default dropdown-toggle" name="set_mail_encoding">
                        <option value= "{{ email_config.mail_encoding }}" > {{ email_config.mail_encoding }} </option>
                        <option value= "{{ email_config.mail_encoding }}" > ----- </option>                        
                        {% for each in mail_encoding_list %}
                        <option value="{{ each }}"> {{ each }} </option>
                        {% endfor %}
                      </select> 
                    </div>
                  </div> 
                </div>                        
                <div class="well well-sm">Benutzername (eMail Adresse):            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_mail_username" value="{% if email_config.mail_username != None %}{{ email_config.mail_username }}{% endif %}" />
                  </div>    
                </div>                      
                <div class="well well-sm">Passwort:            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_mail_password" value="{% if email_config.mail_password != None %}{{ email_config.mail_password }}{% endif %}" />
                  </div>    
                </div>           
                <input type="submit" onclick="window.location.href='/dashboard/system/email#add_email'" class="btn btn-default" name="change_email_settings" value="Einstellungen speichern" />
              </form>               
            </div>
          </div>
        </div> 

<section id="test_email"></section>   

      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
    
<!-- messages test -->            

{% if error_message_test != "" and error_message_test != "success" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_test }}
  </div>      
{% endif %}   

{% if error_message_test == "success" %}
  <div class="alert alert-success" role="alert">
    eMail erfolgreich versendet
  </div>      
{% endif %}   

<!-- test email settings -->

            <form method="POST">            
              <input type="submit" onclick="window.location.href='/dashboard/system/email#test_email'" class="btn btn-default" name="test_email_config" value="Einstellungen testen" />
            </form> 
          </div>
        </div>
      </div>         
    </div>
  </div>       
</div>

{% endblock %}
