{% extends "bootstrap/base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>

  <script>
    var slider_sensitivity = document.getElementById("input_brightness");
    var output_sensitivity = document.getElementById("output_brightness");
    output_sensitivity.innerHTML = slider_sensitivity.value; 
    slider_sensitivity.oninput = function() { output_sensitivity.innerHTML = this.value }
  </script>

  <script>
    var sensor_options_list_1  = '{{ mqtt_device_1_input_values }}';
    var sensor_options_list_1  = sensor_options_list_1.split(",");
    var sensor_options_list_2  = '{{ mqtt_device_2_input_values }}';
    var sensor_options_list_2  = sensor_options_list_2.split(",");
    var sensor_options_list_3  = '{{ mqtt_device_3_input_values }}';
    var sensor_options_list_3  = sensor_options_list_3.split(",");
    var sensor_options_list_4  = '{{ mqtt_device_4_input_values }}';
    var sensor_options_list_4  = sensor_options_list_4.split(",");
    var sensor_options_list_5  = '{{ mqtt_device_5_input_values }}';
    var sensor_options_list_5  = sensor_options_list_5.split(",");
    var sensor_options_list_6  = '{{ mqtt_device_6_input_values }}';
    var sensor_options_list_6  = sensor_options_list_6.split(",");
    var sensor_options_list_7  = '{{ mqtt_device_7_input_values }}';
    var sensor_options_list_7  = sensor_options_list_7.split(",");
    var sensor_options_list_8  = '{{ mqtt_device_8_input_values }}';
    var sensor_options_list_8  = sensor_options_list_8.split(",");
    var sensor_options_list_9  = '{{ mqtt_device_9_input_values }}';
    var sensor_options_list_9  = sensor_options_list_9.split(",");
    var sensor_options_list_10 = '{{ mqtt_device_10_input_values }}';
    var sensor_options_list_10 = sensor_options_list_10.split(",");
    var sensor_options_list_11 = '{{ mqtt_device_11_input_values }}';
    var sensor_options_list_11 = sensor_options_list_11.split(",");
    var sensor_options_list_12 = '{{ mqtt_device_12_input_values }}';
    var sensor_options_list_12 = sensor_options_list_12.split(",");
    var sensor_options_list_13 = '{{ mqtt_device_13_input_values }}';
    var sensor_options_list_13 = sensor_options_list_13.split(",");
    var sensor_options_list_14 = '{{ mqtt_device_14_input_values }}';
    var sensor_options_list_14 = sensor_options_list_14.split(",");
    var sensor_options_list_15 = '{{ mqtt_device_15_input_values }}';
    var sensor_options_list_15 = sensor_options_list_15.split(",");
    var sensor_options_list_16 = '{{ mqtt_device_16_input_values }}';
    var sensor_options_list_16 = sensor_options_list_16.split(",");
    var sensor_options_list_17 = '{{ mqtt_device_17_input_values }}';
    var sensor_options_list_17 = sensor_options_list_17.split(",");
    var sensor_options_list_18 = '{{ mqtt_device_18_input_values }}';
    var sensor_options_list_18 = sensor_options_list_18.split(",");
    var sensor_options_list_19 = '{{ mqtt_device_19_input_values }}';
    var sensor_options_list_19 = sensor_options_list_19.split(",");
    var sensor_options_list_20 = '{{ mqtt_device_20_input_values }}';
    var sensor_options_list_20 = sensor_options_list_20.split(",");
    var sensor_options_list_21 = '{{ mqtt_device_21_input_values }}';
    var sensor_options_list_21 = sensor_options_list_21.split(",");
    var sensor_options_list_22 = '{{ mqtt_device_22_input_values }}';
    var sensor_options_list_22 = sensor_options_list_22.split(",");
    var sensor_options_list_23 = '{{ mqtt_device_23_input_values }}';
    var sensor_options_list_23 = sensor_options_list_23.split(",");
    var sensor_options_list_24 = '{{ mqtt_device_24_input_values }}';
    var sensor_options_list_24 = sensor_options_list_24.split(",");
    var sensor_options_list_25 = '{{ mqtt_device_25_input_values }}';
    var sensor_options_list_25 = sensor_options_list_25.split(",");

    var sensor_options = {};

    sensor_options['1']  = sensor_options_list_1;
    sensor_options['2']  = sensor_options_list_2;
    sensor_options['3']  = sensor_options_list_3;
    sensor_options['4']  = sensor_options_list_4;
    sensor_options['5']  = sensor_options_list_5;
    sensor_options['6']  = sensor_options_list_6;
    sensor_options['7']  = sensor_options_list_7;
    sensor_options['8']  = sensor_options_list_8;
    sensor_options['9']  = sensor_options_list_9;
    sensor_options['10'] = sensor_options_list_10;
    sensor_options['11'] = sensor_options_list_11;
    sensor_options['12'] = sensor_options_list_12;
    sensor_options['13'] = sensor_options_list_13;
    sensor_options['14'] = sensor_options_list_14;
    sensor_options['15'] = sensor_options_list_15;
    sensor_options['16'] = sensor_options_list_16;
    sensor_options['17'] = sensor_options_list_17;
    sensor_options['18'] = sensor_options_list_18;
    sensor_options['19'] = sensor_options_list_19;
    sensor_options['20'] = sensor_options_list_20;
    sensor_options['21'] = sensor_options_list_21;
    sensor_options['22'] = sensor_options_list_22;
    sensor_options['23'] = sensor_options_list_23;
    sensor_options['24'] = sensor_options_list_24;
    sensor_options['25'] = sensor_options_list_25;

    function Choose_Sensor(entry_id) {

      var device_name = "device_" + entry_id
      var sensor_list_name = "selected_sensor_" + entry_id

      var device = document.getElementById(device_name);
      var sensor_list = document.getElementById(sensor_list_name);
      var selected_sensor = device.options[device.selectedIndex].value;
      while (sensor_list.options.length) {
        sensor_list.remove(0);
      }
      var sensors = sensor_options[selected_sensor];
      if (sensors) {
        var i;
        for (i = 0; i < sensors.length; i++) {
          var sensor = new Option(sensors[i], i);
          sensor_list.options.add(sensor);
        }
      }
      $('.selectpicker').selectpicker('refresh');
    } 
  </script>

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('dashboard_led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('dashboard_sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('dashboard_system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('dashboard_system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('dashboard_system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('dashboard_system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">
        
      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>Dashboard</b></font>
            </div>              
          </div>  
        </div>     
      </div>           
 
 
<!------------------>
<!--     led      -->
<!------------------> 
 
<!-- error message led -->   

{% if error_message_led != [] %}
  <div class="alert alert-warning" role="alert">
    {% for entry in error_message_led %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}

 
<!-- table led -->      
 
 
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_led"><font color="white"><b>LED</b></font></a>
          </h4>
        </div>   
        <div id="collapse_led" class="panel-collapse collapse {% if collapse_dashboard_led_setting == 'checked' %} in {% else %} {{ collapse_dashboard_led }} {% endif %}" >      
          <div class="panel-body">    
            <form method="POST">             
              <div class="well well-sm">    

              <table class="table">
                <thead>                      
                  <th scope="col">Gruppe</th> 
                  <th scope="col">LEDs</th> 
                  <th scope="col">Szene</th> 
                  <th scope="col">Helligkeit</th>
                </thead>
                <tbody> 
                  {% for entry in data_led %}
                  <tr>
                    <td style="width:14%"> {{entry.name}} </td> 
                    <td style="width:46%"> 
                      {% if entry.led_name_1 != "None" and entry.led_name_1 != None %}
                        {{entry.led_name_1}}
                      {% endif %} 
                      {% if entry.led_name_2 != "None" and entry.led_name_2 != None %}
                      | {{entry.led_name_2}}
                      {% endif %} 
                      {% if entry.led_name_3 != "None" and entry.led_name_3 != None %}
                      | {{entry.led_name_3}}
                      {% endif %}                      
                      {% if entry.led_name_4 != "None" and entry.led_name_4 != None %}
                      | {{entry.led_name_4}}
                      {% endif %} 
                      {% if entry.led_name_5 != "None" and entry.led_name_5 != None %}
                      | {{entry.led_name_5}}
                      {% endif %} 
                      {% if entry.led_name_6 != "None" and entry.led_name_6 != None %}
                      | {{entry.led_name_6}}
                      {% endif %}                          
                      {% if entry.led_name_7 != "None" and entry.led_name_7 != None %}
                      | {{entry.led_name_7}}
                      {% endif %} 
                      {% if entry.led_name_8 != "None" and entry.led_name_8 != None %}
                      | {{entry.led_name_8}}
                      {% endif %} 
                      {% if entry.led_name_9 != "None" and entry.led_name_9 != None %}
                      | {{entry.led_name_9}}
                      {% endif %}                                         
                    </td> 
                    <td style="width:20%"> 
                      <select class="selectpicker" data-width="100%" data-live-search="true" name="set_group_{{ entry.id }}">
                        <option value= "{{ entry.current_setting }}" > {{ entry.current_setting }} </option>
                        <optgroup>
                          {% for each_scene in dropdown_list_led_scenes %}
                          <option value="scene_{{ each_scene.id }}"> {{ each_scene.name }} </option>
                          {% endfor %}                     
                        </optgroup>
                        <optgroup> 
                          <option value= "turn_off" > OFF </option> 
                        </optgroup>                                                                                 
                      </select>                       
                    </td>
                    <td style="width:20%">              
                      <input id="input_brightness" type="range" class="slider" name="set_brightness_{{ entry.id }}" min="0" max="100" value="{{ entry.current_brightness }}" />
                    </td>                                    
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
              
<section id="device_table"></section>             
              
            </div> 
            <div class="row justify-content-md-center">
              <div class="col-sm-3">     
                <input type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="change_led_settings" value="Einstellungen ändern" />       
              </div>  
              <div class="col-sm-7"></div>    
              <div class="col-sm-1">  
                <button type="button" style="background-color:transparent" class="btn btn-secondary">anzeigen</button>                   
              </div>                            
              <div class="col-sm-1">   
                <font size="+2">               
                  <div class="pretty p-default p-curve p-bigger">
                    <input type="checkbox" {{ collapse_dashboard_led_setting }} class="form-check-input " name="checkbox_collapse_led">
                  <div class="state p-success">
                    <label></label>
                  </div>
                </font>
              </div>                        
            </div>
            </form>         
          </div>    
        </div>  
      </div>
    </div>  
    <br>
 
 
<!------------------>
<!--    devices   -->
<!------------------>

 
 <!-- error message devices -->                    

{% if error_message_devices != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_devices }}
  </div>      
{% endif %}

{% if error_message_device_checks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_device_checks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}

 
<!-- table devices -->      
      
    
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_devices"><font color="white"><b>Geräte</b></font></a>
          </h4>
        </div>   
        <div id="collapse_devices" class="panel-collapse collapse {% if collapse_dashboard_devices_setting == 'checked' %} in {% else %} {{ collapse_dashboard_devices }} {% endif %}" >      
          <div class="panel-body">    
            <form method="POST">             
              <div class="well well-sm">    

              <table class="table">
                <thead>                      
                  <th scope="col">Gerät</th> 
                  <th scope="col">Kontrolle</th> 
                  <th scope="col">Befehl</th> 
                  <th scope="col">Letzte Werte</th> 
                </thead>
                <tbody> 
                          
                  {% for entry in data_device %}
                  
                    <tr>
                      <td style="width:14%"> {{entry.name}} </td>
                      
                      <td style="width:46%">      
                        <div class="row justify-content-md-center">
                          <div class="col-sm-6">   
                            <select id="device_{{ entry.id }}" onchange="Choose_Sensor('{{ entry.id }}')" class="selectpicker" data-width="100%" data-live-search="true" name="set_dashboard_check_option_{{ entry.id }}">
                              {% if entry.dashboard_check_option != "None" %}
                                <option value = "{{ entry.dashboard_check_option }}" > {{ entry.dashboard_check_option }} </option>
                              {% else %}   
                                <option value = "None" > None </option> 
                              {% endif %}                               
                              <optgroup>
                                {% for each in dropdown_list_check_options %}
                                  <option value = {{each}} > {{each}} </option>
                                {% endfor %}
                              </optgroup>
                              <optgroup>                                                              
                                {% for each in list_mqtt_devices %}
                                  <option value = {{ each.id }} > {{ each.name }} </option>
                                {% endfor %}       
                              </optgroup>                            
                              <optgroup>                                                    
                                <option value= "None" > None </option>      
                              </optgroup>                                            
                            </select>  
                          </div>     
                          
                          
                          
                          {% if entry.dashboard_check_option != "None" %} 
                        
                            <!-- check option ip_address --> 
                        
                            {% if entry.dashboard_check_option == "IP-Address" %}         
                              <div class="col-sm-6"> 
                                <input type="text" class="form-control" name="set_dashboard_check_value_1_{{ entry.id }}" value="{{ entry.dashboard_check_value_1 }}" />
                              </div> 
                            {% endif %}      
                        
                            <!-- check option sensor --> 
                           
                            {% if entry.dashboard_check_sensor_ieeeAddr != "None" %} 
                            
                              <div class="col-sm-6"> 
                                <select id="selected_sensor_{{ entry.id }}" class="selectpicker" data-width="100%" name="set_dashboard_check_value_1_{{ entry.id }}">
                                  {% if entry.dashboard_check_value_1 != "None" %}
                                    <option value = "{{ entry.dashboard_check_value_1 }}" > {{ entry.dashboard_check_value_1 }} </option>
                                  {% else %}   
                                    <option value = "None" > None </option>   
                                  {% endif %}                          
                                  <optgroup>
                                    {% if entry.dashboard_check_sensor_input_values != None %}
                                      {% for each in entry.dashboard_check_sensor_input_values.split(',') %}
                                        <option value= "{{ each }}" > {{ each }} </option>
                                      {% endfor %}     
                                    {% endif %} 
                                    {% if entry.input_values != "None" %}
                                      {% for each in entry.input_values.split(',') %}
                                        <option value= "{{ each }}" > {{ each }} </option>
                                      {% endfor %}   
                                    {% endif %}                                      
                                  </optgroup>                                                                         
                                </select>                                  
                              </div>        
                             
                            {% endif %} 
                          
                    {% endif %}    
                                    
                    </td>
                    
                    <td style="width:20%">   
                      <select class="selectpicker" data-width="100%" name="set_dashboard_setting_{{ entry.id }}">
                        <option value = "None" > None </option>                          
                        <optgroup>
                          {% if entry.commands != None %}  
                            {% for each in entry.commands.split(' ') %}
                              <option value= "{{ each | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                            {% endfor %}  
                          {% endif %}      
                        </optgroup>                                                                       
                      </select>                                                  
                    </td>
                    <td style="width:20%"> {{entry.last_values_formated}} </td>    
                    
                  </tr>
                  
                  <!-- second row --> 
                  
                  <tr>                   
                    
                    <td></td>
                    <td>
 
                          {% if entry.dashboard_check_option != "None" %} 
                        
                             <div class="row justify-content-md-center">
                                <div class="col-sm-6"> 
                                  <select class="selectpicker" data-width="100%" name="set_dashboard_check_setting_{{ entry.id }}">
                                    {% if entry.dashboard_check_setting != "None" %}
                                      <option value = "{{ entry.dashboard_check_setting }}" > {{ entry.dashboard_check_setting }} </option>
                                    {% else %}   
                                      <option value = "None" > None </option> 
                                    {% endif %}                             
                                    <optgroup>
                                      {% if entry.commands != None %}  
                                        {% for each in entry.commands.split(' ') %}
                                          <option value= "{{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                                        {% endfor %}  
                                      {% endif %}      
                                    </optgroup>     
                                    <optgroup>                                                    
                                      <option value= "None" > None </option>      
                                    </optgroup>                                                                        
                                  </select>                              
                                </div>                 

                            <!-- check option sensor --> 

                            {% if entry.dashboard_check_sensor_ieeeAddr != "None" %} 
                         
                              <div class="col-sm-3"> 
                                <select class="selectpicker" data-width="100%" name="set_dashboard_check_value_2_{{ entry.id }}">
                                  {% if entry.dashboard_check_value_2 != "None" %}
                                    <option value = "{{ entry.dashboard_check_value_2 }}" > {{ entry.dashboard_check_value_2 }} </option>
                                  {% else %}   
                                    <option value = "None" > None </option>   
                                  {% endif %}                            
                                  <optgroup>
                                    {% for each in dropdown_list_operators %}
                                      <option value= "{{ each }}" > {{ each }} </option>
                                    {% endfor %}      
                                  </optgroup>                                                                                 
                                </select> 
                              </div>           
                                      
                              <div class="col-sm-3"> 
                                <input type="text" class="form-control" name="set_dashboard_check_value_3_{{ entry.id }}" value="{{ entry.dashboard_check_value_3 }}" />
                              </div>                          
                            
                            {% endif %}
                            
                          {% endif %}   
                          
                          <td></td>
                          <td></td>               
                          
                        </tr>
                        <tr>
     
                          <td></td>
                          <td></td>        
                          <td></td>
                          <td></td>    
                        
                        </tr>
                          
                  {% endfor %}  
                  
                  
                </tbody>
              </table> 
              
<section id="watering_table"></section>         
                    
            </div> 
            <div class="row justify-content-md-center">
              <div class="col-sm-3">     
                <input type="submit" onclick="window.location.href='/dashboard#device_table'" class="btn btn-default" name="change_device_settings" value="Einstellungen ändern" />           
              </div>  
              <div class="col-sm-7"></div>            
              <div class="col-sm-1">  
                <button type="button" style="background-color:transparent" class="btn btn-secondary">anzeigen</button>                   
              </div>                
              <div class="col-sm-1">   
                <font size="+2">               
                  <div class="pretty p-default p-curve p-bigger">
                    <input type="checkbox" {{ collapse_dashboard_devices_setting }} class="form-check-input " name="checkbox_collapse_devices">
                  <div class="state p-success">
                    <label></label>
                  </div>
                </font>
              </div>         
            </div>
            </form>         
          </div>    
        </div>  
      </div>
    </div>  
    <br>


<!------------------>
<!--   watering   -->
<!------------------>


<!-- error message watering -->      

{% if error_message_watering_control != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_watering_control }}
  </div>      
{% endif %}


<!-- table watering control -->      
      
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_watering"><font color="white"><b>Bewässerung</b></font></a>
            </h4>
          </div>   
          <div id="collapse_watering" class="panel-collapse collapse {% if collapse_dashboard_watering_setting == 'checked' %} in {% else %} {{ collapse_dashboard_watering }} {% endif %}" >     
            <div class="panel-body">    
              <form method="POST">             
                <div class="well well-sm">    

              <table class="table">
                <thead>                      
                  <th scope="col">Pflanze</th> 
                  <th scope="col">Gruppe</th> 
                  <th scope="col">Letzte Werte</th> 
                  <th scope="col">Befehl</th>                   
                  <th scope="col">Letzter Kontakt</th>  
                </thead>
                <tbody> 
                  {% for entry in data_watering_control %}
                    <tr>
                      <td style="width:14%"> {{entry.name}} </td>
                      <td style="width:8%"> {{entry.group}} </td>
                      <td style="width:38%"> {{entry.mqtt_device.last_values_formated}} </td>
                      <td style="width:20%">  
                        <select class="selectpicker" data-width="100%" name="set_watering_control_setting_{{ entry.id }}">
                          <option value= "None" > None </option>                      
                          <optgroup>
                          {% if entry.commands != None %}
                            {% for each in entry.mqtt_device.commands.split(' ') %}
                              <option value= "{{ each | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                            {% endfor %}  
                          {% endif %}   
                          </optgroup>                            
                        </select>                        
                      </td>                       
                      <td style="width:20%"> {{entry.mqtt_device.last_contact}} </td>
                    </tr>
                  {% endfor %}  
                </tbody>
              </table> 
              
<section id="programs"></section>         

            </div> 
            <div class="row justify-content-md-center">
              <div class="col-sm-3">     
                <input type="submit" onclick="window.location.href='/dashboard#watering_table'" class="btn btn-default" name="change_watering_control_settings" value="Einstellungen ändern" />                 
              </div>  
              <div class="col-sm-7"></div>               
              <div class="col-sm-1">  
                <button type="button" style="background-color:transparent" class="btn btn-secondary">anzeigen</button>                   
              </div>                
              <div class="col-sm-1">   
                <font size="+2">               
                  <div class="pretty p-default p-curve p-bigger">
                    <input type="checkbox" {{ collapse_dashboard_watering_setting }} class="form-check-input " name="checkbox_collapse_watering">
                  <div class="state p-success">
                    <label></label>
                  </div>
                </font>
              </div>         
            </div>
            </form>         
          </div>    
        </div>  
      </div>
    </div>  
    <br>


<!------------------>
<!--   programs   -->
<!------------------>


<!-- error message programs -->      
              
{% if error_message_start_program != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_start_program }}
  </div>      
{% endif %}    


 <!-- program control -->      
     
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_programs"><font color="white"><b>Programme</b></font></a>
            </h4>
          </div>   
          <div id="collapse_programs" class="panel-collapse collapse {{ collapse_dashboard_programs }}" >      
            <div class="panel-body">    
              <form method="POST">             
                <div class="well well-sm">    
                      
                <div class="row justify-content-md-center">
                  <div class="col-sm-3">  
                    <select class="selectpicker" data-live-search="true" data-width="100%" name="get_program_id">
                      <option value= "None" > None </option>                      
                      <optgroup>
                      {% for each_program in dropdown_list_programs %}
                        <option value="{{ each_program.id }}"> {{ each_program.name }} </option>
                      {% endfor %}
                      </optgroup>                            
                    </select>
                  </div>  
                  <div class="col-sm-1">  
                    <button type="button" style="background-color:transparent" class="btn btn-secondary">Repeat</button>  
                  </div>
                  <div class="col-sm-1">  
                    <font size="+2">
                      <div class="pretty p-default p-curve p-bigger">
                        <input type="checkbox" {{ checkbox_repeat_program }} name="repeat_program" >
                        <div class="state p-success">
                          <label></label>
                        </div>
                      </div>
                    </font>                                    
                  </div>                    
                  <div class="col-sm-2">                                        
                    <input type="submit" onclick="window.location.href='/dashboard#programs'" class="btn btn-default" name="start_program" value="Programm starten" />
                  </div>   
                  <div class="col-sm-2">                                        
                    <input type="submit" onclick="window.location.href='/dashboard#programs'" class="btn btn-default" name="stop_program" value="Programm stoppen" />
                  </div>        
                  <div class="col-sm-3">    
                    <button type="button" style="background-color:transparent" class="btn btn-secondary">Laufendes Programm: {{ program_running }}</button>                                    
                  </div>                                      
                </div>   
              </form>
            </div>    
          </div>  
        </div>  
      </div>
      <br>


<!------------------>
<!--    spotify   -->
<!------------------>


<!-- table spotify -->    

<section id="spotify"></section>  

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_spotify"><font color="white"><b>Spotify</b></font></a>
            </h4>
          </div>   
          <div id="collapse_spotify" class="panel-collapse collapse {{ collapse_dashboard_spotify }}" >      
            <div class="panel-body">             
              <form method="POST">             
                <div class="well well-sm">    
                  <div class="row justify-content-md-center">
                    <div class="col-sm-4">     
                      <button type="button" style="background-color:transparent" class="btn btn-secondary">
                        Spotify-Account >>> {% if spotify_user == "Nicht eingeloggt" %}<font color="salmon">{{ spotify_user }}</font>{% else %}<font color="lightgreen">{{ spotify_user }}</font>{% endif %}</span>
                      </button>                
                    </div>                                                                       
                    <div class="col-sm-1">  
                      <a href="/dashboard/spotify/login/url/dashboard#" class="btn btn-default" role="button">Login</a>                                 
                    </div>
                    <div class="col-sm-1">                                      
                      <a href="/dashboard/spotify/logout/url/dashboard#" class="btn btn-default" role="button">Logout</a>  
                    </div>
                  </div>
                </form>
              </div>
          
          {% if tupel_current_playback != "" %}  
          
            <div class="well well-sm">     
              <table class="table">
                <thead>
                  <th scope="col">Gerät Name</th>   
                  <th scope="col">Gerät Typ</th> 
                  <th scope="col">Aktiv</th>                    
                  <th scope="col">Lautstärke</th>                                     
                  <th scope="col">Track</th>                                     
                  <th scope="col">Interpreten</th>                    
                  <th scope="col">Zeitpunkt</th>  
                  <th scope="col">Playlist</th> 
                  <th scope="col">Shuffle</th> 
                </thead>                                             
                <tbody> 
                  <tr>
                    <td style="width:11%">
                      {{ tupel_current_playback[0] }}
                    </td>   
                    <td style="width:11%">
                      {{ tupel_current_playback[1] }}
                    </td>  
                    <td style="width:11%">
                      {{ tupel_current_playback[2] }}
                    </td>  
                    <td style="width:11%">
                      {{ tupel_current_playback[3] }}
                    </td>   
                    <td style="width:11%">
                      {{ tupel_current_playback[4] }} 
                    </td>                          
                    <td style="width:11%">
                      {% for artist in tupel_current_playback[5] %}
                         {{ artist }}
                      {% endfor %} 
                    </td>                      
                    <td style="width:11%">
                      {{ tupel_current_playback[6] }}  
                    </td>      
                    <td style="width:11%">
                      {{ tupel_current_playback[7] }}
                    </td>   
                    <td style="width:11%">
                      {{ tupel_current_playback[8] }}
                    </td>                                                                                                                           
                  </tr>             
                </tbody>
              </table>                                 
            </div>
            <div class="well well-sm"> 
              <form method="POST">          
                <div class="row justify-content-md-center">
                  <div class="col-sm-1">     
                    <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_start">
                      <span class="glyphicon glyphicon-play"></span>
                    </button>                               
                  </div>
                  <div class="col-sm-1">  
                    <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_previous">
                      <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                  </div>                              
                  <div class="col-sm-1">  
                    <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_next">
                      <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                  </div>        
                  <div class="col-sm-1">  
                    <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_stop">
                      <span class="glyphicon glyphicon-pause"></span>
                    </button>
                  </div>        
                  <div class="col-sm-1">  
                    <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_volume">
                      <span class="glyphicon glyphicon-bullhorn"></span>
                    </button>
                  </div>                      
                  <div class="col-sm-7">
                    <div class="slidecontainer"> 
                      <div class="col-md-10 text-center">                       
                        <input type="range" class="slider" name="get_spotify_volume" min="0" max="100" value="{{ volume }}" />
                      </div>                                                     
                    </div>                          
                  </div>                                                     
                </div>              
              </form>
            </div> 
                
          {% endif %} 
         
<!-- spotify devices -->       
            
        {% if spotify_devices != "" %}   
                    
          <div class="well well-sm">  
            <form method="POST"> 
              <table class="table">
                <thead>
                  <th scope="col">Gerät Name</th>   
                  <th scope="col">Gerät Typ</th>                                  
                  <th scope="col">Playlist</th>
                  <th scope="col">Lautstärke</th>  
                  <th scope="col">Abspielen</th>                                   
                </thead>
                <tbody> 
                  
                  {% for device in spotify_devices %}
                  
                    <tr>
                      
                      {% if device['type'] != "Smartphone" %}

                        <td style="width:20%">
                          {{ device['name'] }}
                        </td>
                        
                        <td style="width:20%">
                          {{ device['type'] }}
                        </td>     

                        <td style="width:20%">    
                          <select class="selectpicker" data-width="80%" data-live-search="true" name="set_spotify_playlist:{{ device['id'] }}">
                            {% if spotify_playlists != "" %}
                              {% for playlist in spotify_playlists %}
                                {% if playlist['name'] != "Discover Weekly" %}
                                  <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                                {% endif %}
                              {% endfor %}
                            {% else %}
                            <option value= "" > Keine Playlist gefunden </option>
                            {% endif %}
                          </select>  
                        </td>   
                        
                        <td style="width:30%">
                          <div class="slidecontainer"> 
                            <div class="col-md-10 text-center"> 
                              <input type="range" class="slider" name="set_spotify_playlist_volume:{{ device['id'] }}" min="0" max="100" value="{{ volume }}" />
                            </div> 
                          </div> 
                        </td>

                        <td style="width:10">    
                          <div class="row justify-content-md-center">
                            <div class="col-sm-2">     
                              <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="spotify_start_playlist" value="{{ device['id'] }}">
                                <span class="glyphicon glyphicon-play"></span>
                              </button>                               
                            </div>                                
                          </div>                          
                        </td>  
                        
                       {% endif %}   
                        
                    </tr>
                    
                  {% endfor %}    
                            
                </tbody>
              </table>                                                      
            </div>              
          </form>
        </div> 

       {% endif %}   
        
        </div>    
      </div>    
    </div>
    
    {% if collapse_dashboard_spotify == "" %} <br> {% endif %}   
    

<!------------------>
<!--   sensors    -->
<!------------------>


 <!-- table sensor values -->      
      
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_sensors"><font color="white"><b>Sensoren</b></font></a>
            </h4>
          </div>   
          <div id="collapse_sensors" class="panel-collapse collapse" >      
            <div class="panel-body">                        
              <div class="well well-sm">    
                <table class="table">
                  <thead>                      
                    <th scope="col">Sensor</th> 
                    <th scope="col">Beschreibung</th>
                    <th scope="col">Werte</th> 
                    <th scope="col">Letzter Kontakt</th>
                  </thead>
                  <tbody> 
                    {% for entry in data_sensor %}
                    <tr>
                      <td style="width:14%"> {{entry.name}} </td>
                      <td style="width:27%"> {{entry.description}} </td> 
                      <td style="width:39%"> {{entry.last_values_formated}} </td>
                      <td style="width:20%"> {{entry.last_contact}} </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>       
              </div>        
            </div>    
          </div>  
        </div> 
      <br> 
      
      
<!------------------>
<!--  system log  -->
<!------------------>      
      
      
<!-- select log type --> 
     
      
<section id="system_log"></section>      
     
    
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_log"><font color="white"><b>Ereignisse</b></font></a>
            </h4>
          </div>   
          <div id="collapse_log" class="panel-collapse collapse {{ collapse_dashboard_log }}" >      
            <div class="panel-body">                       
              <div class="well well-sm">    
                <form method="POST">   
                  <div class="row justify-content-md-center">
                    <div class="col-sm-8">                    
                      <select class="selectpicker" multiple data-actions-box="true" data-width="100%" name="get_log_settings[]">
                        <option {{ selected_type_event }}> EVENT </option>
                        <option {{ selected_type_status }}> STATUS </option>
                        <option {{ selected_type_database }}> DATABASE </option>                        
                        <option {{ selected_type_success }}> SUCCESS </option>   
                        <option {{ selected_type_warning }}> WARNING </option>
                        <option {{ selected_type_error }}> ERROR </option>                                              
                      </select>   
                    </div>
                    <div class="col-sm-3">    
                       <input type="submit" onclick="window.location.href='/dashboard#system_log'" class="btn btn-default" name="select_log_types" value="Auswählen" />                                         
                    </div>            
                  </div>   
                </form>
              </div>    


<!-- table log -->               
            
            
              <div class="well well-sm">

{% if error_message_log != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_log }}
  </div>      
{% endif %}

              <table class="table">
                <thead>                      
                  <th scope="col">Zeitpunkt</th> 
                  <th scope="col">Typ</th> 
                  <th scope="col">Eintrag</th> 
                </thead>
                <tbody> 
                  {% for entry in data_log_system %}
                  <tr>
                    <td style="width:16%">{{ entry[0] }}</td> 
                    <td style="width:10%">
                      {% if entry[1] == "EVENT" %} <font color="white">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "STATUS" %} <font color="darkKhaki">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "DATABASE" %} <font color="lightblue">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "SUCCESS" %} <font color="lawngreen">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "WARNING" %} <font color="orange">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "ERROR" %} <font color="salmon">{{ entry[1] }} </font> {% endif %}            
                    </td>                   
                    <td style="width:74%">{{ entry[2] }}</td>  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
            </div> 
          </div>  
        </div> 
      </div> 
      <br>
      <br> 
      <br>     

<!-- informations -->

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
          </h4>
        </div>   
        <div id="collapse_info" class="panel-collapse collapse ">      
          <div class="panel-body">      
            <div class="well well-sm">   
             <br>
             Text
             <br>
            </div>
            
            <div class="text-center">
              <b>Version {{ version }}</b>
            </div>              
            
          </div>
        </font>
      </div>
    </div>
  </div>    
</div> 

{% endblock %}
