{% extends "bootstrap/base.html" %}

{% block title %}
  Sensordaten
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RASPI</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scene_01') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <div class="row">
      <div class="col">
  
<!-- error messages -->

        {% if error_message != "" %}
          <div class="alert alert-danger" role="alert">
            {{ error_message }}
          </div>      
        {% endif %}

        {% if error_message_file != "" %}
          <div class="alert alert-danger" role="alert">
            {{ error_message_file }}
          </div>      
        {% endif %}

<!-- sensor values -->
  
        <div class="panel panel-default">
          <div class="panel-heading"><font color="black"><b>Sensordaten</b></font></div>
            <div class="panel-body">  
            <form method="POST">   
                <div class="form-group">
                  <div class="text-center">         
                    <h5><b>Job anlegen</b></h5>
                  </div>
                  <br>       
                  Name     
                  <br>
                  <br>
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_name" value="{% if name != None %}{{ name }}{% endif %}" />
                  </div>
                  Dateiname   
                  <br>
                  <br>   
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_filename" value="{% if filename != None %}{{ filename }}{% endif %}" />
                  </div>
                  Gerät 
                  <br>
                  <br>
                  <select class="btn btn-secondary dropdown-toggle" name="set_mqtt_device_id">
                    {% for each in dropdown_list_mqtt_devices %}
                    <option value="{{each.id}}"> {{ each.name }} </option>
                    {% endfor %}
                  </select>   
                  <div class="text-center">                             
                  </div>                  
                  <br>          
                  <input type="submit" onclick="window.location.href='/dashboard/sensordata#'" class="btn btn-secondary" name="add_job" value="Job anlegen" />
                  <br>
                </form>   
              </div>  
            </div>      
          </div>

<!-- sensordata table -->

<section id="table_jobs"></section>   

        <div class="panel panel-default">
          <div class="panel-heading"><font color="black">Jobs</font></div>        
          <div class="panel-body">     
          <table class="table">
            <thead>
              <th scope="col">Job-ID</th>  
              <th scope="col">Name</th>  
              <th scope="col">Dateiname</th>   
              <th scope="col">Gerät</th>
              <th scope="col">Sensor</th>
              <th scope="col" colspan="2">Einstellungen: Sensor</th>
            </thead>
            <tbody> 
              {% for entry in sensordata_list %}
              <tr>
                <td>{{ entry.id }}</td> 
                <td>{{ entry.name }}</td> 
                <td>{{ entry.filename }}</td>
                <td>{{ entry.mqtt_device.name }}</td> 
                <td>{{ entry.sensor_id }}</td>
                <td> 
                  <form method="POST" class="verticalform">      
                    <select class="btn btn-secondary dropdown-toggle" name="set_sensor_{{ entry.id }}">
                      {% for i in range(entry.mqtt_device.inputs) %}
                      <option value= "{{ i }}" > {{ i }} </option>
                      {% endfor %}
                    </select>   
                    </td>
                    <td>
                    <input type="submit" onclick="window.location.href='/dashboard/sensordata#table_jobs'" class="btn btn-secondary" name="change_settings" value="aktuallisieren"/>             
                  </form>
                </td>               
                <td><a href="/dashboard/sensordata/delete/job/{{ entry.id }}#table_jobs"><font color="red"><b>löschen</b></font></a></td>   
              </tr>
              {% endfor %}
              <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            </tbody>
          </table>  
        </div>  
      </div>  

<!-- sensorfile table -->

<section id="table_files"></section>

      <div class="panel panel-default">
        <div class="panel-heading">Datein</div>
          <div class="panel-body">   
          <table class="table">
            <tbody> 
              {% for entry in file_list %}
              <tr>
                <td>{{ entry }}</td> 
                <td class="text-right"><a href="/dashboard/sensordata/download/file/{{ entry }}?time={{ timestamp }}"><b>herunterladen</b></font></a></td>  
                <td class="text-right"><a href="/dashboard/sensordata/delete/file/{{ entry }}#table_files"><font color="red"><b>löschen</b></font></a></td>  
              </tr>
              {% endfor %} 
              <tr><td></td><td></td><td></td></tr>
            </tbody>
          </table>  
        </div>
      </div>  

    </div>
  </div>       
</div>

{% endblock %}
