{% extends "bootstrap/base.html" %}

{% block title %}
  LED Szenen 
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=[".led_1", ".led_2", ".led_3", ".led_4", ".led_5", ".led_6", ".led_7", ".led_8", ".led_9", ".led_10"]) }}
{% endblock scripts %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RASPI</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">LED
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('dashboard_led_scene_01') }}">Szenen</a></li>
            <li><a href="{{ url_for('dashboard_led_programs') }}">Programme</a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('dashboard_plants') }}">Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}">Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata') }}">Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}">Systemeinstellungen</a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- led error messages -->

    {% if error_message != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message }}
      </div>      
    {% endif %}

<!-- scene navs -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class={{active01}}><a href="{{ url_for('dashboard_led_scene_01') }}">
            {% if scene_names_list[0].name != "" %}{{ scene_names_list[0].name }} ({{1}}){% else %}{{ 1 }}{% endif %}</a></li>
          <li class={{active02}}><a href="{{ url_for('dashboard_led_scene_02') }}">
            {% if scene_names_list[1].name != "" %}{{ scene_names_list[1].name }} ({{2}}){% else %}{{ 2 }}{% endif %}</a></li>
          <li class={{active03}}><a href="{{ url_for('dashboard_led_scene_03') }}">
            {% if scene_names_list[2].name != "" %}{{ scene_names_list[2].name }} ({{3}}){% else %}{{ 3 }}{% endif %}</a></li>
          <li class={{active04}}><a href="{{ url_for('dashboard_led_scene_04') }}">
            {% if scene_names_list[3].name != "" %}{{ scene_names_list[3].name }} ({{4}}){% else %}{{ 4 }}{% endif %}</a></li>
          <li class={{active05}}><a href="{{ url_for('dashboard_led_scene_05') }}">
            {% if scene_names_list[4].name != "" %}{{ scene_names_list[4].name }} ({{5}}){% else %}{{ 5 }}{% endif %}</a></li>          
          <li class={{active06}}><a href="{{ url_for('dashboard_led_scene_06') }}">
            {% if scene_names_list[5].name != "" %}{{ scene_names_list[5].name }} ({{6}}){% else %}{{ 6 }}{% endif %}</a></li>
          <li class={{active07}}><a href="{{ url_for('dashboard_led_scene_07') }}">
            {% if scene_names_list[6].name != "" %}{{ scene_names_list[6].name }} ({{7}}){% else %}{{ 7 }}{% endif %}</a></li>
          <li class={{active08}}><a href="{{ url_for('dashboard_led_scene_08') }}">
            {% if scene_names_list[7].name != "" %}{{ scene_names_list[7].name }} ({{8}}){% else %}{{ 8 }}{% endif %}</a></li>
          <li class={{active09}}><a href="{{ url_for('dashboard_led_scene_09') }}">
            {% if scene_names_list[8].name != "" %}{{ scene_names_list[8].name }} ({{9}}){% else %}{{ 9 }}{% endif %}</a></li>  
          <li class={{active10}}><a href="{{ url_for('dashboard_led_scene_10') }}">
            {% if scene_names_list[9].name != "" %}{{ scene_names_list[9].name }} ({{10}}){% else %}{{ 10 }}{% endif %}</a></li> 
          <li class={{active99}}><a href="{{ url_for('dashboard_led_scene_99') }}">
            {% if scene_names_list[10].name != "" %}{{ scene_names_list[10].name }} ({{99}}){% else %}{{ 99 }}{% endif %}</a></li>   
        </ul>
      </div>
    </nav>
  
<!-- scene table -->

      {% if entries_scene != None %}

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b> {{ scene_name }} ({{number}}) </b></font></div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>                       
                  <th scope="col">LED</th>                        
                  <th scope="col" colspan="4">RGB</th> 
                  <th scope="col" colspan="2">Helligkeit</th> 
                <tr>
              </thead>
              <tbody>             

              {% for entry in entries_scene %}         
              <tr>
                <td>{{ entry.led_name.name }}</td> 
                <td>{{ entry.color_red }}</td>
                <td>{{ entry.color_green }}</td>
                <td>{{ entry.color_blue }}</td>   
                <td>
                  <form method="GET" class="verticalform">
                    <input type="text" name="{{ entry.scene_id }} {{ entry.led_id }}" class="form-control led_{{ entry.led_id }}" value="rgb({{ entry.color_red }}, {{ entry.color_green }}, {{ entry.color_blue }}) "/>
                    <input type="submit" class="btn btn-secondary" value="Farbe ändern" />  
                  </form>
                </td>
                <td>{{ entry.brightness }}</td>
                <td>
                  <form method="GET" class="slidecontainer"> 
                    <div class="col-md-10 text-center"> 
                      <input type="range" class="slider" name="{{ entry.led_id }}" min="0" max="254" value="{{ entry.brightness }}" />
                      <br>
                      <input type="submit" class="btn btn-secondary" value="Helligkeit ändern"/>
                    </div> 
                  </form>
                </td>
                <td><a href="/dashboard/led/scene/delete/{{number}}/{{ entry.led_id }}"><font color="red"><b>löschen</b></font></a>
              </tr>
  
              {% endfor %}
              
            </tbody>
          </table>     
        </div>
      </div> 

      {% endif %}  

<!-- scene settings -->

      <div class="panel panel-default">
        <div class="panel-body">

          {% if entries_scene != None %}  

          <form method="GET">
            <div class="form-group">
              <input type="text" class="form-control" name="name" value="{% if scene_name != None %}{{ scene_name }}{% endif %}" />
            </div>
              <input type="submit" class="btn btn-secondary" value="Name ändern" />
          </form>  
          <br>
  
          {% endif %} 

          <div class="dropdown">
          <form method="GET" enctype="multipart/form-data">
            <select class="btn btn-secondary dropdown-toggle" name="led_scene">
              {% for each in dropdown_list %}
              {% if each != None %}
              <option value="{{each}}">{{each}}</option>
              {% endif %}
              {% endfor %}
            </select>
            <input type="submit" class="btn btn-secondary" value="LED hinzufügen">
          </form>
        </div> 
      </div>
    </div> 


<!-- delete button --> 

    {% if entries_scene != None %}

    <form action="" method="post"> 
      <input type="submit" class="btn pull-right btn-danger" name="delete" value="Szene löschen"/>
    </form>

    {% endif %} 

  </div>
</div>    

{% endblock %}
