{% extends "bootstrap/base.html" %}

{% block title %}
  LED Programme
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ colorpicker.loader() }}
  {{ colorpicker.picker(ids=[ ".rgb" ]) }}
{% endblock scripts %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scene_01') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        {% endif %}            
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- led navs -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class={{active01}}><a href="{{ url_for('dashboard_led_scene_01') }}">
            {% if scene_names_list[0].name != "" %}{{ scene_names_list[0].name }} ({{1}}){% else %}{{ 1 }}{% endif %}</a></li>
          <li class={{active02}}><a href="{{ url_for('dashboard_led_scene_02') }}">
            {% if scene_names_list[1].name != "" %}{{ scene_names_list[1].name }} ({{2}}){% else %}{{ 2 }}{% endif %}</a></li>
          <li class={{active03}}><a href="{{ url_for('dashboard_led_scene_03') }}">
            {% if scene_names_list[2].name != "" %}{{ scene_names_list[2].name }} ({{3}}){% else %}{{ 3 }}{% endif %}</a></li>
          <li class={{active04}}><a href="{{ url_for('dashboard_led_scene_04') }}">
            {% if scene_names_list[3].name != "" %}{{ scene_names_list[3].name }} ({{4}}){% else %}{{ 4 }}{% endif %}</a></li>
          <li class={{active05}}><a href="{{ url_for('dashboard_led_scene_05') }}">
            {% if scene_names_list[4].name != "" %}{{ scene_names_list[4].name }} ({{5}}){% else %}{{ 5 }}{% endif %}</a></li>          
          <li class={{active06}}><a href="{{ url_for('dashboard_led_scene_06') }}">
            {% if scene_names_list[5].name != "" %}{{ scene_names_list[5].name }} ({{6}}){% else %}{{ 6 }}{% endif %}</a></li>
          <li class={{active07}}><a href="{{ url_for('dashboard_led_scene_07') }}">
            {% if scene_names_list[6].name != "" %}{{ scene_names_list[6].name }} ({{7}}){% else %}{{ 7 }}{% endif %}</a></li>
          <li class={{active08}}><a href="{{ url_for('dashboard_led_scene_08') }}">
            {% if scene_names_list[7].name != "" %}{{ scene_names_list[7].name }} ({{8}}){% else %}{{ 8 }}{% endif %}</a></li>
          <li class={{active09}}><a href="{{ url_for('dashboard_led_scene_09') }}">
            {% if scene_names_list[8].name != "" %}{{ scene_names_list[8].name }} ({{9}}){% else %}{{ 9 }}{% endif %}</a></li>  
          <li class={{active10}}><a href="{{ url_for('dashboard_led_scene_10') }}">
            {% if scene_names_list[9].name != "" %}{{ scene_names_list[9].name }} ({{10}}){% else %}{{ 10 }}{% endif %}</a></li> 
          <li class={{active99}}><a href="{{ url_for('dashboard_led_scene_99') }}">
            {% if scene_names_list[10].name != "" %}{{ scene_names_list[10].name }} ({{99}}){% else %}{{ 99 }}{% endif %}</a></li>  
          </ul>   
          <ul class="nav navbar-nav navbar-right">
          <li class={{programs}}><a href="{{ url_for('dashboard_led_programs') }}">LED Programme</a></li>   
        </ul>
      </div>
    </nav>

<!-- error messages -->

    {% if led_update == False %}
    <div class="alert alert-danger" role="alert">
      Keine Verbindung zur HUE Bridge
    </div>      
    {% endif %}   

    {% if error_message != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message }}
      </div>      
    {% endif %}

<!-- create new programs -->

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>LED Programme</b></font></div>
        <div class="panel-body">
          <form method="POST">
            <div class="well well-sm">
              <div class="form-group">
                <input type="text" class="form-control" name="new_program" value="" />
              </div>
                <input type="submit" class="btn btn-default" name="add_program" value="Programm erstellen" />
            </div>
          </form>              
        </div>
      </div>
      
<!-- select a program --> 

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="dropdown">
            <form method="POST" enctype="multipart/form-data">
              <select class="btn btn-default dropdown-toggle" name="get_program_name">
                {% for each in dropdown_list %}
                  {% if each != None %}
                   <option value="{{each.name}}">{{each.name}} ({{each.id}})</option>
                  {% endif %}
                {% endfor %}
              </select>
              <input type="submit" class="btn btn-default" name="get_program_name" value="Programm anzeigen">
            </form>
          </div> 
          <br>
          <br>          

          {% if program != "" %}
    
<!-- instructions -->

          <div class="well well-sm">
            <div class="text-center">  
              <h3><span class="label label-default">{{ program.name }} ({{program.id}}) bearbeiten</span></h3> 
            </div>
            <br>
            <div class="well well-sm">
              <br>
              <table class="table">
                <thead>
                  <tr></tr>
                  <tr>
                    <th>Eingabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1:rgb(255, 0, 0)</td>
                    <td>LED Nummer 1, Farbe ändern auf rot</td>
                  </tr>
                  <tr>
                    <td>2:bri(254)</td>
                    <td>LED Nummer 2, maximale Helligkeit</td>
                  </tr>
                  <tr>
                    <td>pause:30</td>
                    <td>Pause für 30 Sekunden</td>
                  </tr>
                </tbody>
              </table>
            </div>

<!-- update a program -->

<section id="update_program"></section> 

            <div class="form-group">        
              <textarea class="form-control" name="update_{{ program.id }}" rows="20">{{ program.content }}</textarea>
            </div> 
  
            <section id="rgb_color"></section> 
            
              <input type="submit" onclick="window.location.href='/dashboard/led/programs#update_program'" class="btn btn-default" name="update_{{ program.id }}" value="Programm speichern" />
              <br>
          </div>
        </div>
      </div> 

<!-- get rgb value -->

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="well well-sm">
            <div class="text-center">  
              <h3><span class="label label-default">RGB</span></h3> 
            </div>
            <br>
            <form method="POST" class="verticalform">
              <div class="well well-sm">
                <input type="text" name="get_rgb_{{ program.id }}" class="form-control rgb" value="{{ rgb }}"/>
              </div>
              <input type="submit" onclick="window.location.href='/dashboard/led/programs#rgb_color'"class="btn btn-default" name="color_{{ program.id }}" value="Werte ermitteln" />  
              <br>
              <br>
              <div class="form-group">
                <textarea class="form-control rounded-0" rows="1">{{ rgb }}</textarea>
              </div>
            </div>
          </div>
        </div>

<!-- start a program -->

<section id="start_program"></section> 

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="well well-sm">
            <input type="submit" onclick="window.location.href='/dashboard/led/programs#start_program'" class="btn btn-default" name="start_{{ program.id }}" value="Programm starten" />
          </form>         
          {% endif %}   
          </div>     
        </div>
      </div> 

<!-- rename a program -->

<section id="rename_program"></section> 

      {% if program_delete != "" %}  

      <div class="panel panel-default">
        <div class="panel-body">    
          <div class="well well-sm">                 
            <form method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="program_name_{{ program.id }}" value="{% if program.name != None %}{{ program.name }}{% endif %}" />
              </div>
                <input type="submit" onclick="window.location.href='/dashboard/led/programs#rename_program'" class="btn btn-default" name="change_name_{{ program.id }}" value="Name ändern" />
                <br>
            </form>  
          </div>

<!-- delete a program -->

          <div class="dropdown text-right">
            <form method="POST" enctype="multipart/form-data">
              <input type="submit" onclick="window.location.href='/dashboard/led/programs#'" class="btn btn-danger text-right" name="delete_program" value="{{ program.name }} löschen">
            </form>
          </div> 
        </div>

      {% endif %}
      
    </div> 

{% endblock %}
