{% extends "bootstrap/base.html" %}

{% block title %}
  Sensordaten
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" rel="stylesheet" type="text/css">
  
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if permission_dashboard == "checked" %}
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
      {% endif %}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-leaf"></span> Programme</a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li> 
        {% endif %}
        {% if permission_sensordata == "checked" %}                   
          <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li> 
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li><a href="{{ url_for('dashboard_system_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System</a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<section id="table"></section>  

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
    <div class="row">
      <div class="col">

<!-- sensordata navs -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class={{jobs}}><a href="{{ url_for('dashboard_sensordata_jobs') }}">Sensordaten Jobs </a></li> 
          <li class={{statistics}}><a href="{{ url_for('dashboard_sensordata_statistics') }}">Sensordaten Statistiken</a></li>   
        </ul>
      </div>
    </nav>       

<!-- sensordata table -->

    <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>Sensordaten Statistiken</b></font></div>    
        <div class="panel-body">   

<!-- select data source -->
  
<section id="create_table"></section>  

            <div class="well well-sm">
              <form method="POST">   
                <div class="form-group">
                  <div class="text-center">   
                    <h3><span class="label label-default">Tabelle erstellen</span></h3> 
                  </div> 
                  <br>
                  <br>    
                  
<!-- error message -->

{% if error_message != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>      
{% endif %}      

<!-- error message graph -->

{% if graph != True and graph != False %}
  <div class="alert alert-danger" role="alert">
    {{ graph }}
  </div>      
{% endif %}                 

                  <div class="well well-sm">
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">
                        <button type="button" style="background-color:transparent" class="btn btn-secondary">Datenquellen auswählen:</button> 
                      </div>  
                      <div class="col-sm-2">
                        <div class="dropdown">
                          <select class="btn btn-default dropdown-toggle" name="get_file_1">
                            {% if data_file_1 != "" %}
                              <option value= "{{ data_file_1 }}" > {{ data_file_1 }} </option>
                              <option value= "{{ data_file_1 }}" > -------------------- </option>                                          
                            {% endif %}    
                            <option value= "" > None </option>    
                            <option value= "" > -------------------- </option>           
                            {% for each in dropdown_list_files %}
                              {% if each != None %}
                              <option value="{{ each }}">{{ each }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div> 
                      </div> 
                      <div class="col-sm-2">
                        <div class="dropdown">
                          <select class="btn btn-default dropdown-toggle" name="get_file_2">
                            {% if data_file_2 != "" %}
                              <option value= "{{ data_file_2 }}" > {{ data_file_2 }} </option>
                              <option value= "{{ data_file_2 }}" > -------------------- </option>                                                 
                            {% endif %}   
                            <option value= "" > None </option>  
                            <option value= "" > -------------------- </option>                         
                            {% for each in dropdown_list_files %}
                              {% if each != None %}
                              <option value="{{ each }}">{{ each }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div> 
                      </div>    
                      <div class="col-sm-2">
                        <div class="dropdown">
                          <select class="btn btn-default dropdown-toggle" name="get_file_3">
                            {% if data_file_3 != "" %}
                              <option value= "{{ data_file_3 }}" > {{ data_file_3 }} </option>
                              <option value= "{{ data_file_3 }}" > -------------------- </option>                                          
                            {% endif %}    
                            <option value= "" > None </option>   
                            <option value= "" > -------------------- </option>           
                            {% for each in dropdown_list_files %}
                              {% if each != None %}
                              <option value="{{ each }}">{{ each }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div> 
                      </div>                     
                    </div> 
                  </div>              
                  <div class="well well-sm">Geräte:   
                    <div class="form-group">  
                      <input type="text" class="form-control" name="set_devices" value="{% if devices != None %}{{ devices }}{% endif %}" />  
                    </div>
                  </div>       
                  <div class="well well-sm">Sensoren:   
                    <div class="form-group">    
                      <input type="text" class="form-control" name="set_sensors" value="{% if sensors != None %}{{ sensors }}{% endif %}" />                
                    </div>                    
                  </div>                                                      
                </div>   
              </div>
              <div class="row justify-content-md-center">
                <div class="col-sm-2">              
                  <input type="submit" onclick="window.location.href='/dashboard/sensordata/statistics#create_table'" class="btn btn-default" name="get_data" value="Daten laden" />
                </div>
                <div class="col-sm-2">
                  <input type="submit" onclick="window.location.href='/dashboard/sensordata/statistics#create_table'" class="btn btn-default" name="create_table" value="Tabelle erstellen" />
                </div>
              </div>
              </form> 
            </div>
          </div>      
        </div>    
           
        {% if graph == True %}
        
        <div class="panel panel-default">
          <div class="panel-body">           
            <div class="well well-sm"> 
              <div class="img-container">
                <div class="img">
                  <div><img src="{{ url_for('static', filename='images/graph.png') }}"></img></div>
                </div>
              </div>                  
            </div> 
          </div>                  
        </div> 
                        
        {% endif %} 
        
      </div>        
    </div>  
  </div>       
</div>

{% endblock %}
