{% extends "bootstrap/base.html" %}

{% block title %}
  Aufgabenplanung (Sensor)
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scene_01') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_taskmanagement_time') }}">Zeit</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_taskmanagement_sensor') }}">Sensor</a></li>          
          </ul>
        </div>
      </nav>

<section id="table"></section> 

<!-- schedular table -->

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>Aufgabenplanung (Sensor)</b></font></div>
          <div class="panel-body">      
            <div class="well well-sm">
              
<!-- error message table -->

{% if error_message_table != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_table }}
  </div>      
{% endif %}    
        
<!-- error message form -->

{% if error_message_form != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_form }}
  </div>      
{% endif %}    
       
<!-- error message tasks -->

{% if error_message_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_tasks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- error message settings -->

{% if error_message_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- start table -->

              <table class="table">
                <thead>                       
                  <th scope="col">Aufgaben-Name</th> 
                  <th scope="col">Aufgabe</th> 
                  <th></th>
                  <th scope="col">Gerät</th>
                  <th scope="col">Sensor</th> 
                  <th scope="col">Operator</th>
                  <th scope="col">Vergleichswert</th> 
                </thead>
                <tbody> 
                  {% for entry in schedular_list %}
                  <tr>
                    <td style="width:17%">
                      <form method="POST" class="verticalform">
                      <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                                     
                    </td>  
                    <td style="width:17%">
                      <input type="text" class="form-control" name="set_task_{{ entry.id }}" value="{{ entry.task }}" />
                    </td>
                    <td>
                    <font size="+2">
                      <div class="row justify-content-md-center">
                        <div class="col-sm-1">                       
                          <a href="/dashboard/taskmanagement/sensor/option/add/{{ entry.id }}#table">
                            <span class="glyphicon glyphicon-plus" style="color:grey"></span>
                          </a>                  
                        </div>
                        <div class="col-sm-1">          
                          <a href="/dashboard/taskmanagement/sensor/option/remove/{{ entry.id }}#table">
                            <span class="glyphicon glyphicon-minus" style="color:grey"></span>
                          </a>   
                        </div>
                      </div>
                    </font>
                    </td>        

<!-- section 1 -->

                    <td>
                      <select class="btn btn-default dropdown-toggle" name="set_mqtt_device_id_1_{{ entry.id }}">
                        <option value= "{{ entry.mqtt_device_id_1 }}" > {{ entry.mqtt_device_name_1 }} </option>
                        <option value= "{{ entry.mqtt_device_id_1 }}" > -------------------- </option>                                           
                        {% for each in dropdown_list_mqtt_devices %}
                          <option value="{{ each.id }}"> {{ each.name }} </option>
                        {% endfor %}
                      </select> 
                    </td> 
                    <td>     
                      <select class="btn btn-default dropdown-toggle" name="set_sensor_1_{{ entry.id }}">
                        {% if entry.mqtt_device_id_1 != None %}
                          <option value= "{{ entry.sensor_key_1 }}" > {{ entry.sensor_key_1 }} </option>
                          <option value= "{{ entry.sensor_key_1 }}" > -------------------- </option>
                          {% for each in entry.mqtt_device_inputs_1.split(',') %}
                            <option value= "{{ each }}" > {{ each }} </option>
                          {% endfor %}
                          {% else %}
                          <option value= "" > None </option>
                          <option value= "" > -------------------- </option>                            
                          {% endif %}
                        </select>  
                      </td> 
                      <td>
                        <select class="btn btn-default dropdown-toggle" name="set_operator_1_{{ entry.id }}">
                          <option value= "{{ entry.operator_1 }}" > {{ entry.operator_1 }} </option>
                          <option value= "{{ entry.operator_1 }}" > ------- </option>
                          {% for each in dropdown_list_operators %}
                          <option value="{{each}}"> {{ each }} </option>
                          {% endfor %}
                        </select>  
                      </td>
                      {% if entry.operator_1 != "not" %}
                      <td style="width:10%">          
                        <input type="text" class="form-control" name="set_value_1_{{ entry.id }}" value="{{ entry.value_1 }}" /> 
                      </td> 
                      {% else %}
                      <td></td>
                      {% endif %}
                      <td><a href="/dashboard/taskmanagement/sensor/delete/{{ entry.id }}#table"><font color="red" size="5"><b>X</b></font></a></td>  
                    </tr>  

<!-- section 2 -->

                    {% if entry.operator_main_1 != "None" and entry.operator_main_1 != None%}            
                    <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <select class="btn btn-default dropdown-toggle" name="set_operator_main_1_{{ entry.id }}">
                        <option value= "{{ entry.operator_main_1 }}" > {{ entry.operator_main_1 }} </option>
                        <option value= "{{ entry.operator_main_1 }}" > ------- </option>
                        {% for each in dropdown_list_operator_main %}
                        <option value="{{each}}"> {{ each }} </option>
                        {% endfor %}
                      </select>                        
                    </td>              
                    <td>
                      <select class="btn btn-default dropdown-toggle" name="set_mqtt_device_id_2_{{ entry.id }}">
                          <option value= "{{ entry.mqtt_device_id_2 }}" > {{ entry.mqtt_device_name_2 }} </option>
                          <option value= "{{ entry.mqtt_device_id_2 }}" > -------------------- </option>                                        
                        {% for each in dropdown_list_mqtt_devices %}
                          <option value="{{ each.id }}"> {{ each.name }} </option>
                        {% endfor %}
                      </select> 
                    </td> 
                    <td>  
                      <select class="btn btn-default dropdown-toggle" name="set_sensor_2_{{ entry.id }}">
                        {% if entry.mqtt_device_id_2 != None %}  
                          <option value= "{{ entry.sensor_key_2 }}" > {{ entry.sensor_key_2 }} </option>
                          <option value= "{{ entry.sensor_key_2 }}" > -------------------- </option>
                          {% for each in entry.mqtt_device_inputs_2.split(',') %}
                            <option value= "{{ each }}" > {{ each }} </option>
                          {% endfor %}
                        {% else %}
                        <option value= "" > None </option>
                        <option value= "" > -------------------- </option>                            
                        {% endif %}                            
                      </select>  
                    </td> 
                    {% if entry.operator_main_1 == "and" or entry.operator_main_1 == "or" %}
                      <td>
                        <select class="btn btn-default dropdown-toggle" name="set_operator_2_{{ entry.id }}">
                          <option value= "{{ entry.operator_2 }}" > {{ entry.operator_2 }} </option>
                          <option value= "{{ entry.operator_2 }}" > ------- </option>
                          {% for each in dropdown_list_operators %}
                          <option value="{{each}}"> {{ each }} </option>
                          {% endfor %}
                        </select>  
                      </td>
                      {% if entry.operator_2 != "not" %}
                      <td style="width:10%">          
                        <input type="text" class="form-control" name="set_value_2_{{ entry.id }}" value="{{ entry.value_2 }}" /> 
                      </td> 
                      {% else %}
                      <td></td> 
                      {% endif %}
                      </tr> 
                    {% endif %} 

<!-- section 3 -->

                    {% if entry.operator_main_2 != "None" and entry.operator_main_2 != None %}                    
                    <tr>
                    <td></td>
                    <td></td>
                    <td>
                      <select class="btn btn-default dropdown-toggle" name="set_operator_main_2_{{ entry.id }}">
                        <option value= "{{ entry.operator_main_2 }}" > {{ entry.operator_main_2 }} </option>
                        <option value= "{{ entry.operator_main_2 }}" > ------- </option>
                        {% for each in dropdown_list_operator_main %}
                        <option value="{{each}}"> {{ each }} </option>
                        {% endfor %}
                      </select>                        
                    </td>
                          <td>
                            <select class="btn btn-default dropdown-toggle" name="set_mqtt_device_id_3_{{ entry.id }}">
                                <option value= "{{ entry.mqtt_device_id_3 }}" > {{ entry.mqtt_device_name_3 }} </option>
                                <option value= "{{ entry.mqtt_device_id_3 }}" > -------------------- </option>                                        
                              {% for each in dropdown_list_mqtt_devices %}
                                <option value="{{ each.id }}"> {{ each.name }} </option>
                              {% endfor %}
                            </select> 
                          </td> 
                          <td>  
                            <select class="btn btn-default dropdown-toggle" name="set_sensor_3_{{ entry.id }}">
                              {% if entry.mqtt_device_id_3 != None %}  
                                <option value= "{{ entry.sensor_key_3 }}" > {{ entry.sensor_key_3 }} </option>
                                <option value= "{{ entry.sensor_key_3 }}" > -------------------- </option>
                                {% for each in entry.mqtt_device_inputs_3.split(',') %}
                                  <option value= "{{ each }}" > {{ each }} </option>
                                {% endfor %}
                              {% else %}
                              <option value= "" > None </option>
                              <option value= "" > -------------------- </option>                            
                              {% endif %}                            
                            </select>  
                          </td> 
                          {% if entry.operator_main_2 == "and" or entry.operator_main_2 == "or" %}
                              <td>
                                <select class="btn btn-default dropdown-toggle" name="set_operator_3_{{ entry.id }}">
                                  <option value= "{{ entry.operator_3 }}" > {{ entry.operator_3 }} </option>
                                  <option value= "{{ entry.operator_3 }}" > ------- </option>
                                  {% for each in dropdown_list_operators %}
                                  <option value="{{each}}"> {{ each }} </option>
                                  {% endfor %}
                                </select>  
                              </td>
                              {% if entry.operator_3 != "not" %}
                              <td style="width:10%">         
                                <input type="text" class="form-control" name="set_value_3_{{ entry.id }}" value="{{ entry.value_3 }}" /> 
                              </td> 
                              {% else %}
                              <td></td> 
                              {% endif %}
                            </tr>   
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
              </table>  

<!-- end table -->

              </div>
                <input type="submit" onclick="window.location.href='/dashboard/taskmanagement/sensor#table'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>
              </form>
            </div>  
          </div>  

 <!-- instructions -->

        <div class="panel panel-default">
          <div class="panel-body">   
            <div class="well well-sm">
              <div class="text-center">         
                <h3><span class="label label-default">Aufgabe erstellen</span></h3> 
              </div>
              <br>
              <div class="well well-sm">
                <table class="table">
                <thead>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <th>Aufgabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>start_scene:1:100</td>
                    <td>starte Szene Nummer "1", globale Helligkeit 100 %</td>
                  </tr>
                  <tr>
                    <td>start_program:2</td>
                    <td>starte Programm Nummer "2"</td>
                  </tr>
                  <tr>
                    <td>led_off:3</td>
                    <td>LEDs nacheinander ausschalten, alle "3" Sekunden Reduzierung der Helligkeit einer LED um 10%</td>
                  </tr>     
                  <tr>
                    <td>get_mqtt_sensordata:1</td>                 
                    <td>MQTT Sensordaten abrufen, die Zahl bezieht sich auf die Job-ID</td>
                  </tr>               
                </tbody>
              </table>

<section id="add_task"></section>     

            </div>
            <br>
            <br>

<!-- error message -->

{% if error_message != "" %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>      
{% endif %}

<!-- new task -->

            <form method="POST">
              <div class="well well-sm">Aufgaben-Name:         
                <div class="form-group">
                  <input type="text" class="form-control" name="set_name" value="{% if set_name != None %}{{ set_name }}{% endif %}" />
                </div>         
              </div>     
              <div class="well well-sm">Aufgabe:                   
                <div class="form-group">
                  <input type="text" class="form-control" name="set_task" value="{% if set_task != None %}{{ set_task }}{% endif %}" />
                </div>  
              </div>         
              <input type="submit" onclick="window.location.href='/dashboard/taskmanagement/sensor#add_task'" class="btn btn-default" name="add_task" value="Aufgabe anlegen" />
            </form>   
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>    

{% endblock %}
