{% extends "bootstrap/base.html" %}

{% block title %}
  HUE Einstellungen
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if permission_dashboard == "checked" %}
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
      {% endif %}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-leaf"></span> Programme</a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li> 
        {% endif %}
        {% if permission_sensordata == "checked" %}                   
          <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li> 
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li><a href="{{ url_for('dashboard_system_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System</a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">

<!-- settings navs -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_system_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}">ZigBee2MQTT</a></li> 
            <li class={{active03}}><a href="{{ url_for('dashboard_system_controller') }}">Controller</a></li>             
            <li class={{active04}}><a href="{{ url_for('dashboard_system_speechcontrol') }}">Sprachsteuerung</a></li>                
            <li class={{active05}}><a href="{{ url_for('dashboard_system_user') }}">Benutzer</a></li>    
            <li class={{active06}}><a href="{{ url_for('dashboard_system_email') }}">eMail</a></li>         
            <li class={{active07}}><a href="{{ url_for('dashboard_system_backup') }}">Backup</a></li> 
            <li class={{active08}}><a href="{{ url_for('dashboard_system_log') }}">Log</a></li> 
          </ul>
        </div>
      </nav>

<!-- settings mqtt -->

<section id="mqtt_settings"></section>

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>MQTT</b></font></div>
          <div class="panel-body">   
            <form method="POST">  
              <div class="well well-sm">
                <div class="pretty p-default p-round">
                  <input {{check_value_mqtt[0]}} type="radio" value="True" name="radio_mqtt">
                  <div class="state">
                    <label>MQTT aktivieren</label>
                  </div>
                </div>
                <br>
                <div class="pretty p-default p-round">
                    <input {{check_value_mqtt[1]}} type="radio" value="False" name="radio_mqtt">
                  <div class="state">
                    <label>MQTT deaktivieren</label>
                  </div>
                </div>
              </div>
              <font color="red"><b>Flask neustarten, wenn MQTT Einstellungen geändert werden</b></font>
              <br>     
              <br>    
              <input type="submit" onclick="window.location.href='/dashboard/system/mqtt#'" name="set_setting_mqtt" class="btn btn-default" value="Auswählen"/>
            </form>  
          </div>  
        </div>           

<section id="mqtt_table"></section>

<!-- MQTT -->

{% if mqtt_setting != "False" %}


<!-- database backup setting -->

      <div class="panel panel-default">  
          <div class="panel-body">  
            <div class="well well-sm"> 
              <form method="POST">
                <div class="row justify-content-md-center">
                  <div class="col-sm-3">  
                    <button type="button" style="background-color:transparent" class="btn btn-secondary">MQTT aktuallisieren (Minute):</button>  
                  </div>                  
                  <div class="col-sm-2">  
                    <select class="btn btn-default dropdown-toggle" name="get_mqtt_update_minute">
                      {% if mqtt_update_minute != None %}
                        <option value= "{{ mqtt_update_minute }}" > {{ mqtt_update_minute }} </option>
                      {% else %}  
                        <option value= "None" > None </option> 
                      {% endif %}                      
                      <option value= "None" > ------------ </option>  
                      {% for each in dropdown_list_minutes %}
                        <option value="{{ each }}"> {{ each }} </option>
                      {% endfor %}  
                      <option value= "None" > ------------ </option>  
                      <option value= "None" > None </option>           
                    </select>                   
                  </div>                    
                </div>     
              </div>  
                <input type="submit" onclick="window.location.href='/dashboard/system/mqtt#mqtt_settings'" class="btn btn-default" name="save_mqtt_update_setting" value="Einstellung speichern" />                                 
              </form>
            </div>    
          </div>  
        </div>  


<!-- mqtt error messages -->

{% if error_message_mqtt != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_mqtt }}
  </div>      
{% endif %}  

{% if error_message_change_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_change_settings.split(',') %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 


<!-- mqtt device table -->
  
        <div class="panel panel-default">
          <div class="panel-body">  
            <div class="well well-sm">   
              <table class="table">
                <thead>
                  <th scope="col"></th>  
                  <th scope="col">Gerät</th>                        
                  <th scope="col">Adresse</th> 
                  <th scope="col">Modell</th>   
                  <th scope="col">Gerätetyp</th>                     
                  <th scope="col">Beschreibung</th> 
                  <th scope="col">Letzter Kontakt</th>                                                 
                </thead>
                <tbody> 
                  {% for entry in mqtt_device_list %}
                  <tr>
                    <td style="width:3%">
                      <a href="/dashboard/system/mqtt/position/up/mqtt/{{ entry.id }}#mqtt_table"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                      <a href="/dashboard/system/mqtt/position/down/mqtt/{{ entry.id }}#mqtt_table"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                    </td>                     
                    <td>                     
                      <form method="POST" class="verticalform">                                                   
                      <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                    </td>      
                    <td>{{ entry.ieeeAddr }}</td>        
                    <td>{{ entry.model }}</td>   
                    <td>{{ entry.device_type }}</td>     
                    <td>{{ entry.description }}</td>  
                    <td>{{ entry.last_contact }}</td>    
                    <td></td>              
                    <td><a href="/dashboard/system/mqtt/delete/{{ entry.ieeeAddr }}#mqtt_table"><font color="red" size="5"><b>X</b></font></a></td>                                   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
            <font color="red"><b>MQTT Device kann nur gelöschen werden, wenn es nicht verwendet wird !!!</b></font>
            <br>
            <br>
            <div class="row justify-content-md-center">
              <div class="col-sm-3">      
                <input type="submit" onclick="window.location.href='/dashboard/system/mqtt#mqtt_table'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>
              </form> 
              </div>
              <div class="col-sm-3"> 
                <form method="POST">
                  <input type="submit" onclick="window.location.href='/dashboard/system/mqtt#mqtt_table'" class="btn btn-default" name="mqtt_update_devices" value="Verbindungen aktuallisieren" />
                </form>
              </div>
            </div>
          </div>  
        </div>  


<!-- mqtt logs -->

<section id="logfile"></section>

        <div class="panel panel-default">
          <div class="panel-body">  
            <a href="/dashboard/system/mqtt/download/log_mqtt.csv?time={{ timestamp }}"><b>MQTT Log-Datei herunterladen</b></font></a>
            <div class="dropdown text-right">
            <form method="POST" enctype="multipart/form-data">
              <input type="submit" onclick="window.location.href='/dashboard/system/mqtt#logfile'" class="btn btn-danger text-right" name="reset_logfile" value="MQTT Log-Datei zurücksetzen">
            </form>
          </div>        
        </div>  
      </div>  

{% endif %}

    </div>
  </div>    
</div>

{% endblock %}
