{% extends "bootstrap/base.html" %}

{% block title %}
  ZigBee
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scene_01') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <div class="row">
      <div class="col">
  
<!-- settings navs -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_settings_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_settings_zigbee') }}">ZigBee</a></li>          
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_snowboy') }}">SnowBoy</a></li>       
            <li class={{active04}}><a href="{{ url_for('dashboard_settings_user') }}">Benutzer</a></li>    
            <li class={{active05}}><a href="{{ url_for('dashboard_settings_email') }}">eMail</a></li>        
            <li class={{active06}}><a href="{{ url_for('dashboard_settings_system') }}">System</a></li> 
            <li class={{active07}}><a href="{{ url_for('dashboard_settings_system_log') }}">System Log</a></li> 
          </ul>
        </div>
      </nav>

<!-- zigbee settings -->
  
    <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>ZigBee</b></font></div>
        <div class="panel-body">   
          <form method="POST">  
            <div class="well well-sm">
              <div class="radio">
                <label><input {{check_value_zigbee[0]}} type="radio" value="True" name="radio_zigbee">ZigBee aktivieren</label>
                <br>
                <label><input {{check_value_zigbee[1]}} type="radio" value="False" name="radio_zigbee">ZigBee deaktivieren</label>
              </div>
            </div>

<section id="table"></section>

            <font color="red"><b>Um ZigBee nutzen zu können, muss MQTT aktiviert sein</b></font>       
            <br>     
            <br>                
            <input type="submit" onclick="window.location.href='/dashboard/settings/zigbee#'" name="set_setting_zigbee" class="btn btn-default" value="Auswählen"/>
          </form>  
        </div>  
      </div>    

<!-- zigbee -->

{% if zigbee_setting != "False" %}

<!-- zigbee error messages -->

{% if error_message_zigbee != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_zigbee }}
  </div>      
{% endif %}   

{% if error_message_table != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_table }}
  </div>      
{% endif %} 

<!-- zigbee device table -->
  
        <div class="panel panel-default">
          <div class="panel-body">  
            <div class="well well-sm">   
              <table class="table">
                <thead>
                  <th scope="col">Name</th>                        
                  <th scope="col">Adresse</th> 
                  <th scope="col">Modell</th>                        
                  <th scope="col" colspan="2">Inputs</th> 
                  <th scope="col">Letzter Kontakt</th>                                                 
                </thead>
                <tbody> 
                  {% for entry in zigbee_device_list %}
                  <tr>
                    <td>                     
                      <form method="POST" class="verticalform">  
                      <div class="row justify-content-md-center">
                        <div class="col-sm-12">                                                     
                          <div class="form-group">
                            <input type="text" class="form-control" name="set_name" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>{{ entry.ieeeAddr }}</td>
                    <td>{{ entry.model }}</td> 
                    <td>     
                      <div class="row justify-content-md-center">
                        <div class="col-sm-10">                          
                          <div class="form-group">
                            <input type="text" class="form-control" name="set_inputs" value="{% if entry.inputs != None %}{{ entry.inputs }}{% endif %}" /> 
                          </div> 
                        </div>
                      </div>
                    </td>                     
                    <td>                
                        <input type="submit" onclick="window.location.href='/dashboard/settings/zigbee#table'" class="btn btn-default" name="change_settings_{{ entry.id }}" value="aktuallisieren"/>
                      </form>
                    </td>    
                    <td>{{ entry.last_contact }}</td>     
                    <td></td>                    
                    <td><a href="/dashboard/settings/zigbee/delete/{{ entry.id }}#table"><font color="red"><b>löschen</b></font></a></td>                                   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
            <font color="red"><b>ZigBee Device kann nur gelöschen werden, wenn es nicht verwendet wird !!!</b></font>
            <br>
            <br>
            <form method="POST">
              <input type="submit" onclick="window.location.href='/dashboard/settings/zigbee#table'" class="btn btn-default" name="update_zigbee_devices" value="Übersicht aktuallisieren" />
            </form>
          </div>  
        </div>  

<!-- zigbee settings -->

<section id="pairing"></section>

        <div class="panel panel-default">
          <div class="panel-body">   
            <form method="POST">  
              <div class="well well-sm">
                <div class="radio">
                  <label><input {{check_value_pairing[0]}} type="radio" value="True" name="radio_pairing">Pairing aktivieren</label>
                  <br>
                  <label><input {{check_value_pairing[1]}} type="radio" value="False" name="radio_pairing">Pairing deaktivieren</label>
                </div>
              </div>
              <input type="submit" onclick="window.location.href='/dashboard/settings/zigbee#pairing'" name="set_pairing" class="btn btn-default" value="Auswählen"/>
            </form>  
          </div>  
        </div>   


<!-- zigbee logs -->

<section id="logfile"></section>

        <div class="panel panel-default">
          <div class="panel-body">  
              <a href="/dashboard/settings/zigbee/download/log_zigbee.csv?time={{ timestamp }}"><b>ZigBee Log-Datei herunterladen</b></font></a>
            <div class="dropdown text-right">
            <form method="POST" enctype="multipart/form-data">
              <input type="submit" onclick="window.location.href='/dashboard/settings/zigbee#logfile'" class="btn btn-danger text-right" name="reset_logfile" value="ZigBee Log-Datei zurücksetzen">
            </form>
          </div>        
        </div>  
      </div>  

{% endif %}

    </div>
  </div>    
</div>

{% endblock %}

