{% extends "bootstrap/base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var slider_sensitivity = document.getElementById("input_brightness");
    var output_sensitivity = document.getElementById("output_brightness");
    output_sensitivity.innerHTML = slider_sensitivity.value; 
    slider_sensitivity.oninput = function() { output_sensitivity.innerHTML = this.value }
  </script>

  <script>
    var sensor_options_list_1  = '{{ mqtt_device_1_inputs }}';
    var sensor_options_list_1  = sensor_options_list_1.split(",");
    var sensor_options_list_2  = '{{ mqtt_device_2_inputs }}';
    var sensor_options_list_2  = sensor_options_list_2.split(",");
    var sensor_options_list_3  = '{{ mqtt_device_3_inputs }}';
    var sensor_options_list_3  = sensor_options_list_3.split(",");
    var sensor_options_list_4  = '{{ mqtt_device_4_inputs }}';
    var sensor_options_list_4  = sensor_options_list_4.split(",");
    var sensor_options_list_5  = '{{ mqtt_device_5_inputs }}';
    var sensor_options_list_5  = sensor_options_list_5.split(",");
    var sensor_options_list_6  = '{{ mqtt_device_6_inputs }}';
    var sensor_options_list_6  = sensor_options_list_6.split(",");
    var sensor_options_list_7  = '{{ mqtt_device_7_inputs }}';
    var sensor_options_list_7  = sensor_options_list_7.split(",");
    var sensor_options_list_8  = '{{ mqtt_device_8_inputs }}';
    var sensor_options_list_8  = sensor_options_list_8.split(",");
    var sensor_options_list_9  = '{{ mqtt_device_9_inputs }}';
    var sensor_options_list_9  = sensor_options_list_9.split(",");
    var sensor_options_list_10 = '{{ mqtt_device_10_inputs }}';
    var sensor_options_list_10 = sensor_options_list_10.split(",");
    var sensor_options_list_11 = '{{ mqtt_device_11_inputs }}';
    var sensor_options_list_11 = sensor_options_list_11.split(",");
    var sensor_options_list_12 = '{{ mqtt_device_12_inputs }}';
    var sensor_options_list_12 = sensor_options_list_12.split(",");
    var sensor_options_list_13 = '{{ mqtt_device_13_inputs }}';
    var sensor_options_list_13 = sensor_options_list_13.split(",");
    var sensor_options_list_14 = '{{ mqtt_device_14_inputs }}';
    var sensor_options_list_14 = sensor_options_list_14.split(",");
    var sensor_options_list_15 = '{{ mqtt_device_15_inputs }}';
    var sensor_options_list_15 = sensor_options_list_15.split(",");
    var sensor_options_list_16 = '{{ mqtt_device_16_inputs }}';
    var sensor_options_list_16 = sensor_options_list_16.split(",");
    var sensor_options_list_17 = '{{ mqtt_device_17_inputs }}';
    var sensor_options_list_17 = sensor_options_list_17.split(",");
    var sensor_options_list_18 = '{{ mqtt_device_18_inputs }}';
    var sensor_options_list_18 = sensor_options_list_18.split(",");
    var sensor_options_list_19 = '{{ mqtt_device_19_inputs }}';
    var sensor_options_list_19 = sensor_options_list_19.split(",");
    var sensor_options_list_20 = '{{ mqtt_device_20_inputs }}';
    var sensor_options_list_20 = sensor_options_list_20.split(",");
    var sensor_options_list_21 = '{{ mqtt_device_21_inputs }}';
    var sensor_options_list_21 = sensor_options_list_21.split(",");
    var sensor_options_list_22 = '{{ mqtt_device_22_inputs }}';
    var sensor_options_list_22 = sensor_options_list_22.split(",");
    var sensor_options_list_23 = '{{ mqtt_device_23_inputs }}';
    var sensor_options_list_23 = sensor_options_list_23.split(",");
    var sensor_options_list_24 = '{{ mqtt_device_24_inputs }}';
    var sensor_options_list_24 = sensor_options_list_24.split(",");
    var sensor_options_list_25 = '{{ mqtt_device_25_inputs }}';
    var sensor_options_list_25 = sensor_options_list_25.split(",");

    var sensor_options = {};

    sensor_options['1']  = sensor_options_list_1;
    sensor_options['2']  = sensor_options_list_2;
    sensor_options['3']  = sensor_options_list_3;
    sensor_options['4']  = sensor_options_list_4;
    sensor_options['5']  = sensor_options_list_5;
    sensor_options['6']  = sensor_options_list_6;
    sensor_options['7']  = sensor_options_list_7;
    sensor_options['8']  = sensor_options_list_8;
    sensor_options['9']  = sensor_options_list_9;
    sensor_options['10'] = sensor_options_list_10;
    sensor_options['11'] = sensor_options_list_11;
    sensor_options['12'] = sensor_options_list_12;
    sensor_options['13'] = sensor_options_list_13;
    sensor_options['14'] = sensor_options_list_14;
    sensor_options['15'] = sensor_options_list_15;
    sensor_options['16'] = sensor_options_list_16;
    sensor_options['17'] = sensor_options_list_17;
    sensor_options['18'] = sensor_options_list_18;
    sensor_options['19'] = sensor_options_list_19;
    sensor_options['20'] = sensor_options_list_20;
    sensor_options['21'] = sensor_options_list_21;
    sensor_options['22'] = sensor_options_list_22;
    sensor_options['23'] = sensor_options_list_23;
    sensor_options['24'] = sensor_options_list_24;
    sensor_options['25'] = sensor_options_list_25;

    function Choose_Sensor(entry_id) {

      var device_name = "device_" + entry_id
      var sensor_list_name = "selected_sensor_" + entry_id

      var device = document.getElementById(device_name);
      var sensor_list = document.getElementById(sensor_list_name);
      var selected_sensor = device.options[device.selectedIndex].value;
      while (sensor_list.options.length) {
        sensor_list.remove(0);
      }
      var sensors = sensor_options[selected_sensor];
      if (sensors) {
        var i;
        for (i = 0; i < sensors.length; i++) {
          var sensor = new Option(sensors[i], i);
          sensor_list.options.add(sensor);
        }
      }
    } 
  </script>

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>        
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>    
        <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>             
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>      
        <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-tasks"></span> Programme</a></li> 
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>                   
        <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li>                    
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System </a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>


<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">
 
 
<!-- table led -->      
      
      
      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>LED</b></font></div>       
          <div class="panel-body">  
            <div class="well well-sm">

{% if error_message_led != [] %}
  <div class="alert alert-warning" role="alert">
    {% for entry in error_message_led %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}

            <form method="POST">
              <table class="table">
                <thead>                      
                  <th scope="col">Gruppe</th> 
                  <th scope="col">LEDs</th> 
                  <th scope="col">Szene</th> 
                  <th scope="col">Helligkeit</th>
                  <th scope="col">Status</th> 
                </thead>
                <tbody> 
                  {% for entry in data_led %}
                  <tr>
                    <td style="width:16%"> {{entry.name}} </td> 
                    <td style="width:33%"> 
                      {% if entry.led_name_1 != "None" and entry.led_name_1 != None %}
                        {{entry.led_name_1}}
                      {% endif %} 
                      {% if entry.led_name_2 != "None" and entry.led_name_2 != None %}
                      , {{entry.led_name_2}}
                      {% endif %} 
                      {% if entry.led_name_3 != "None" and entry.led_name_3 != None %}
                      , {{entry.led_name_3}}
                      {% endif %}                      
                      {% if entry.led_name_4 != "None" and entry.led_name_4 != None %}
                      , {{entry.led_name_4}}
                      {% endif %} 
                      {% if entry.led_name_5 != "None" and entry.led_name_5 != None %}
                      , {{entry.led_name_5}}
                      {% endif %} 
                      {% if entry.led_name_6 != "None" and entry.led_name_6 != None %}
                      , {{entry.led_name_6}}
                      {% endif %}                          
                      {% if entry.led_name_7 != "None" and entry.led_name_7 != None %}
                      , {{entry.led_name_7}}
                      {% endif %} 
                      {% if entry.led_name_8 != "None" and entry.led_name_8 != None %}
                      , {{entry.led_name_8}}
                      {% endif %} 
                      {% if entry.led_name_9 != "None" and entry.led_name_9 != None %}
                      , {{entry.led_name_9}}
                      {% endif %}                                         
                    </td> 
                    <td style="width:17%"> 
                      <select class="btn btn-default dropdown-toggle" name="set_group_{{ entry.id }}">
                        <option value= "{{ entry.current_setting }}" > {{ entry.current_setting }} </option>
                        <option value= "{{ "" }}" > ----------------------- </option>  
                        {% for each_scene in dropdown_list_led_scenes %}
                        <option value="scene_{{ each_scene.id }}"> {{ each_scene.name }} </option>
                        {% endfor %}
                        <option value= "{{ "" }}" > ----------------------- </option>
                        <option value= "turn_off" > OFF </option>                   
                      </select> 
                    </td>
                    <td style="width:17%">                     
                      <input id="input_brightness" type="range" class="slider" name="set_brightness_{{ entry.id }}" min="0" max="100" value="{{ entry.current_brightness }}" />
                    </td>      
                    <td style="width:17%">                     
                      {{ entry.current_setting }} : {{ entry.current_brightness }}
                    </td>                                  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
              
<section id="device_table"></section>             
              
            </div> 
              <input type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="change_led_settings" value="Einstellungen ändern" />       
            </form>         
          </div>    
        </div>  
      </div> 
 
 
<!-- table device -->      
      
      
      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>Geräte</b></font></div>       
          <div class="panel-body">  
            <div class="well well-sm">

{% if error_message_device != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_device }}
  </div>      
{% endif %}

{% if error_message_device_checks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_device_checks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}

            <form method="POST">
              <table class="table">
                <thead>                      
                  <th scope="col">Gerät</th> 
                  <th scope="col">Kontrolle</th> 
                  <th scope="col">Befehl</th> 
                  <th scope="col">Status</th> 
                </thead>
                <tbody> 
                  {% for entry in data_device %}
                    <tr>
                      <td style="width:16%"> {{entry.name}} </td>
                      <td style="width:50%">      
                        <div class="row justify-content-md-center">
                          <div class="col-sm-5">                                        
                            <select id="device_{{ entry.id }}" onchange="Choose_Sensor('{{ entry.id }}')" class="btn btn-default dropdown-toggle" name="set_dashboard_check_option_{{ entry.id }}">
                              {% if entry.dashboard_check_option != "None" %}
                                <option value = "{{ entry.dashboard_check_option }}" > {{ entry.dashboard_check_option }} </option>
                              {% else %}   
                                <option value = "None" > None </option> 
                              {% endif %} 
                              <option value= "None" > ------------------------- </option>  
                              {% for each in dropdown_list_check_options %}
                                <option value = {{each}} > {{each}} </option>
                              {% endfor %}
                              {% for each in list_mqtt_devices %}
                                <option value = {{ each.id }} > {{ each.name }} </option>
                              {% endfor %}                         
                              <option value= "None" > ------------------------- </option> 
                              <option value= "None" > None </option>                   
                            </select> 
                          </div>
                                  
                          {% if entry.dashboard_check_option != "None" %} 
      
                          <div class="col-sm-5"> 
                            <select class="btn btn-default dropdown-toggle" name="set_dashboard_check_command_{{ entry.id }}">
                              {% if entry.dashboard_check_command != "None" %}
                                <option value = "{{ entry.dashboard_check_command }}" > {{ entry.dashboard_check_command }} </option>
                              {% else %}   
                                <option value = "None" > None </option> 
                              {% endif %} 
                              <option value= "None" > ------------------------- </option>  
                              {% if entry.commands != "None" %}
                                {% for each in entry.commands.split(',') %}
                                  <option value= "{{ each }}" > {{ each }} </option>
                                {% endfor %}  
                              {% endif %} 
                                               
                            </select>   
                          </div>       
                          
                          {% endif %} 
                            
                        </div>                                        
                      </td>
                      
                      <td style="width:17%">   
                        <select class="btn btn-default dropdown-toggle" name="set_dashboard_command_{{ entry.id }}">
                          
                          <option value= "None" > None </option> 
                          <option value= "None" > ----------------------- </option>
                          {% if entry.commands != "None" %}
                            {% for each in entry.commands.split(',') %}
                              <option value= "{{ each }}" > {{ each }} </option>
                            {% endfor %}  
                          {% endif %} 
                                           
                        </select>                           
                      </td>
                      <td style="width:17%"> {{entry.status}} </td>    
                    
                    </tr>
                    <tr>
                      <td></td> 
                      <td>
                        <div class="row justify-content-md-center">
   
                        {% if entry.dashboard_check_option == "IP-Address" %}         
                          <div class="col-sm-4"> 
                            <input type="text" class="form-control" name="set_dashboard_check_value_1_{{ entry.id }}" value="{{ entry.dashboard_check_value_1 }}" />
                          </div> 
                        {% endif %}
                       
                       
                        {% if entry.dashboard_check_sensor_ieeeAddr != "None" %} 
   
                          <div class="col-sm-5"> 
                            <select id="selected_sensor_{{ entry.id }}" class="btn btn-default dropdown-toggle" name="set_dashboard_check_value_1_{{ entry.id }}">
                              {% if entry.dashboard_check_value_1 != "None" %}
                                <option value = "{{ entry.dashboard_check_value_1 }}" > {{ entry.dashboard_check_value_1 }} </option>
                              {% else %}   
                                <option value = "None" > None </option>   
                              {% endif %} 
                              <option value= "None" > -------------------------------- </option>
                              
                              {% if entry.inputs != "None" %}
                                {% for each in entry.inputs.split(',') %}
                                  <option value= "{{ each }}" > {{ each }} </option>
                                {% endfor %}      
                              {% else %}
                                {% for each in entry.dashboard_check_sensor_inputs.split(',') %}
                                  <option value= "{{ each }}" > {{ each }} </option>
                                {% endfor %}     
                              {% endif %}    
                            </select> 
                          </div>   
        
                          <div class="col-sm-4"> 
                            <select class="btn btn-default dropdown-toggle" name="set_dashboard_check_value_2_{{ entry.id }}">
                              {% if entry.dashboard_check_value_2 != "None" %}
                                <option value = "{{ entry.dashboard_check_value_2 }}" > {{ entry.dashboard_check_value_2 }} </option>
                              {% else %}   
                                <option value = "None" > None </option>   
                              {% endif %} 
                              <option value= "None" > ------------------------- </option>
                              {% for each in dropdown_list_operators %}
                                <option value= "{{ each }}" > {{ each }} </option>
                              {% endfor %}      
                            </select> 
                          </div>           
                                  
                          <div class="col-sm-3"> 
                            <input type="text" class="form-control" name="set_dashboard_check_value_3_{{ entry.id }}" value="{{ entry.dashboard_check_value_3 }}" />
                          </div>                          
                            
                          {% endif %}                  
                      
                        </div> 
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>                      
                      <td></td>
                      <td></td>                      
                    </tr>
                  
                  {% endfor %} 
                </tbody>
              </table> 
            </div> 
            <input type="submit" onclick="window.location.href='/dashboard#device_table'" class="btn btn-default" name="change_device_settings" value="Einstellungen ändern" />       
          </form>         
        </div>    
      </div>  


 <!-- table sensor values -->      
      
      
      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>Sensoren</b></font></div>       
          <div class="panel-body">  
            <div class="well well-sm">
              <table class="table">
                <thead>                      
                  <th scope="col">Sensor</th> 
                  <th scope="col">Beschreibung</th>
                  <th scope="col">Werte</th> 
                  <th scope="col">Letzter Kontakt</th>
                </thead>
                <tbody> 
                  {% for entry in data_sensor %}
                  <tr>
                    <td style="width:16%"> {{entry.name}} </td>
                    <td style="width:25%"> {{entry.description}} </td> 
                    <td style="width:42%"> {{entry.last_values_formated}} </td>
                    <td style="width:17%"> {{entry.last_contact}} </td>
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
            </div>        
          </div>    
        </div>  
 
      
<!-- table logs -->      
      
      
      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>Ereignisse</b></font></div>       
          <div class="panel-body">  
            <div class="well well-sm">

{% if error_message_log != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_log }}
  </div>      
{% endif %}

              <table class="table">
                <thead>                      
                  <th scope="col">Zeitpunkt</th> 
                  <th scope="col">Typ</th> 
                  <th scope="col">Eintrag</th> 
                </thead>
                <tbody> 
                  {% for entry in data_log_system %}
                  <tr>
                    <td style="width:16%">{{ entry[0] }}</td> 
                    <td style="width:10%">
                      {% if entry[1] == "EVENT" %} <font color="black">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "STATUS" %} <font color="darkblue">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "SUCCESS" %} <font color="green">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "WARNING" %} <font color="orange">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "ERROR" %} <font color="red">{{ entry[1] }} </font> {% endif %}            
                    </td>                   
                    <td style="width:74%">{{ entry[2] }}</td>  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
            </div>
            
<!-- program version -->

            <div class="text-right">
              Version {{ version }}
            </div>    
          </div>  
        </div> 
      </div>   
    </div>  
  </div> 
</div>   

{% endblock %}
