{% extends "bootstrap/base.html" %}

{% block title %}
  Aufgabenplanung (Zeit)
{% endblock %}

{% block styles %}
  {{super()}}

  <script>
    var sensor_options_list_1  = '{{ mqtt_device_1_inputs }}';
    var sensor_options_list_1  = sensor_options_list_1.split(",");
    var sensor_options_list_2  = '{{ mqtt_device_2_inputs }}';
    var sensor_options_list_2  = sensor_options_list_2.split(",");
    var sensor_options_list_3  = '{{ mqtt_device_3_inputs }}';
    var sensor_options_list_3  = sensor_options_list_3.split(",");
    var sensor_options_list_4  = '{{ mqtt_device_4_inputs }}';
    var sensor_options_list_4  = sensor_options_list_4.split(",");
    var sensor_options_list_5  = '{{ mqtt_device_5_inputs }}';
    var sensor_options_list_5  = sensor_options_list_5.split(",");
    var sensor_options_list_6  = '{{ mqtt_device_6_inputs }}';
    var sensor_options_list_6  = sensor_options_list_6.split(",");
    var sensor_options_list_7  = '{{ mqtt_device_7_inputs }}';
    var sensor_options_list_7  = sensor_options_list_7.split(",");
    var sensor_options_list_8  = '{{ mqtt_device_8_inputs }}';
    var sensor_options_list_8  = sensor_options_list_8.split(",");
    var sensor_options_list_9  = '{{ mqtt_device_9_inputs }}';
    var sensor_options_list_9  = sensor_options_list_9.split(",");
    var sensor_options_list_10 = '{{ mqtt_device_10_inputs }}';
    var sensor_options_list_10 = sensor_options_list_10.split(",");
    var sensor_options_list_11 = '{{ mqtt_device_11_inputs }}';
    var sensor_options_list_11 = sensor_options_list_11.split(",");
    var sensor_options_list_12 = '{{ mqtt_device_12_inputs }}';
    var sensor_options_list_12 = sensor_options_list_12.split(",");
    var sensor_options_list_13 = '{{ mqtt_device_13_inputs }}';
    var sensor_options_list_13 = sensor_options_list_13.split(",");
    var sensor_options_list_14 = '{{ mqtt_device_14_inputs }}';
    var sensor_options_list_14 = sensor_options_list_14.split(",");
    var sensor_options_list_15 = '{{ mqtt_device_15_inputs }}';
    var sensor_options_list_15 = sensor_options_list_15.split(",");
    var sensor_options_list_16 = '{{ mqtt_device_16_inputs }}';
    var sensor_options_list_16 = sensor_options_list_16.split(",");
    var sensor_options_list_17 = '{{ mqtt_device_17_inputs }}';
    var sensor_options_list_17 = sensor_options_list_17.split(",");
    var sensor_options_list_18 = '{{ mqtt_device_18_inputs }}';
    var sensor_options_list_18 = sensor_options_list_18.split(",");
    var sensor_options_list_19 = '{{ mqtt_device_19_inputs }}';
    var sensor_options_list_19 = sensor_options_list_19.split(",");
    var sensor_options_list_20 = '{{ mqtt_device_20_inputs }}';
    var sensor_options_list_20 = sensor_options_list_20.split(",");
    var sensor_options_list_21 = '{{ mqtt_device_21_inputs }}';
    var sensor_options_list_21 = sensor_options_list_21.split(",");
    var sensor_options_list_22 = '{{ mqtt_device_22_inputs }}';
    var sensor_options_list_22 = sensor_options_list_22.split(",");
    var sensor_options_list_23 = '{{ mqtt_device_23_inputs }}';
    var sensor_options_list_23 = sensor_options_list_23.split(",");
    var sensor_options_list_24 = '{{ mqtt_device_24_inputs }}';
    var sensor_options_list_24 = sensor_options_list_24.split(",");
    var sensor_options_list_25 = '{{ mqtt_device_25_inputs }}';
    var sensor_options_list_25 = sensor_options_list_25.split(",");

    var sensor_options = {};

    sensor_options['1']  = sensor_options_list_1;
    sensor_options['2']  = sensor_options_list_2;
    sensor_options['3']  = sensor_options_list_3;
    sensor_options['4']  = sensor_options_list_4;
    sensor_options['5']  = sensor_options_list_5;
    sensor_options['6']  = sensor_options_list_6;
    sensor_options['7']  = sensor_options_list_7;
    sensor_options['8']  = sensor_options_list_8;
    sensor_options['9']  = sensor_options_list_9;
    sensor_options['10'] = sensor_options_list_10;
    sensor_options['11'] = sensor_options_list_11;
    sensor_options['12'] = sensor_options_list_12;
    sensor_options['13'] = sensor_options_list_13;
    sensor_options['14'] = sensor_options_list_14;
    sensor_options['15'] = sensor_options_list_15;
    sensor_options['16'] = sensor_options_list_16;
    sensor_options['17'] = sensor_options_list_17;
    sensor_options['18'] = sensor_options_list_18;
    sensor_options['19'] = sensor_options_list_19;
    sensor_options['20'] = sensor_options_list_20;
    sensor_options['21'] = sensor_options_list_21;
    sensor_options['22'] = sensor_options_list_22;
    sensor_options['23'] = sensor_options_list_23;
    sensor_options['24'] = sensor_options_list_24;
    sensor_options['25'] = sensor_options_list_25;

    function Choose_Sensor_1(entry_id) {

      var device_name = "device_1_" + entry_id
      var sensor_list_name = "selected_sensor_1_" + entry_id
      var device = document.getElementById(device_name);
      var sensor_list = document.getElementById(sensor_list_name);
      var selected_sensor = device.options[device.selectedIndex].value;

      while (sensor_list.options.length) {
        sensor_list.remove(0);
      }
      var sensors = sensor_options[selected_sensor];
      if (sensors) {
        var i;
        for (i = 0; i < sensors.length; i++) {
          var sensor = new Option(sensors[i], i);
          sensor_list.options.add(sensor);
        }
      }
    } 

    function Choose_Sensor_2(entry_id) {

      var device_name = "device_2_" + entry_id
      var sensor_list_name = "selected_sensor_2_" + entry_id
      var device = document.getElementById(device_name);
      var sensor_list = document.getElementById(sensor_list_name);
      var selected_sensor = device.options[device.selectedIndex].value;

      while (sensor_list.options.length) {
        sensor_list.remove(0);
      }
      var sensors = sensor_options[selected_sensor];
      if (sensors) {
        var i;
        for (i = 0; i < sensors.length; i++) {
          var sensor = new Option(sensors[i], i);
          sensor_list.options.add(sensor);
        }
      }
    } 

    function Choose_Sensor_3(entry_id) {

      var device_name = "device_3_" + entry_id
      var sensor_list_name = "selected_sensor_3_" + entry_id
      var device = document.getElementById(device_name);
      var sensor_list = document.getElementById(sensor_list_name);
      var selected_sensor = device.options[device.selectedIndex].value;

      while (sensor_list.options.length) {
        sensor_list.remove(0);
      }
      var sensors = sensor_options[selected_sensor];
      if (sensors) {
        var i;
        for (i = 0; i < sensors.length; i++) {
          var sensor = new Option(sensors[i], i);
          sensor_list.options.add(sensor);
        }
      }
    } 
  </script>

  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li> 
        <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-tasks"></span> Programme</a></li>                
        <li><a href="{{ url_for('dashboard_watering') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>    
        <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>             
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>      
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>                   
        <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li>                    
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System</a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">


<!-- ------------------------ -->   
<!-- ------------------------ -->   
<!--  reduced scheduler tasks -->  
<!-- ------------------------ -->
<!-- ------------------------ -->

<!-- add reduced scheduler task -->  

     <div class="well well-sm">     

<!-- error message add reduced scheduler task -->

{% if error_message_add_reduced_scheduler_task != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_reduced_scheduler_task }}
  </div>      
{% endif %}              

        <form method="POST"> 
          <div class="row justify-content-md-center">
            <div class="col-sm-2">  
              <button type="button" style="background-color:transparent" class="btn btn-secondary">Neue einfache Aufgabe:</button>                   
            </div>
            <div class="col-sm-3"> 
              <input type="text" class="form-control" name="set_reduced_scheduler_task_name" value="" />                         
            </div>  
            <div class="col-sm-1">                                      
              <input type="submit" onclick="window.location.href='/dashboard/scheduler#'" class="btn btn-default" name="add_reduced_scheduler_task" value="Aufgabe erstellen" />
          </form>
          </div>
        </div>
      </div> 


      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b> einfache Aufgaben </b></font></div>
          <div class="panel-body">  

<!-- error message reduced change settings -->

{% if error_message_reduced_change_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_reduced_change_settings.split(",") %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %}  

<!-- error message reduced tasks -->

{% if error_message_reduced_scheduler_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_reduced_scheduler_tasks %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %}  

<!-- error message reduced time settings -->

{% if error_message_reduced_time_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_reduced_time_settings %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- reduced scheduler table -->

              <div class="well well-sm"> 
                 <table class="table">          
                    <thead>   
                      <th scope="col"></th>                     
                      <th scope="col">Name</th> 
                      <th scope="col">Aufgabe</th>                 
                      <th scope="col">Tag</th> 
                      <th scope="col">Stunde</th> 
                      <th scope="col">Minute</th> 
                      <th scope="col">Wiederholen</th> 
                    </thead>
                    <tbody> 
                      {% for entry in scheduler_task_list %}
                        {% if entry.task_type == "reduced" %}
                          <tr>
                            <td style="width:3%">
                              <a href="/dashboard/scheduler/position/up/reduced/{{ entry.id }}#"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                              <a href="/dashboard/scheduler/position/down/reduced/{{ entry.id }}#"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                            </td> 
                            <td style="width:18%">
                              <form method="POST" class="verticalform">
                              <input type="text" class="form-control" name="set_name_reduced_{{ entry.id }}" value="{{ entry.name }}" />                                     
                            </td> 
                            <td style="width:25%">        
                              <input type="text" class="form-control" name="set_task_reduced_{{ entry.id }}" value="{{ entry.task }}" />  
                            </td>
                            <td style="width:15%">                   
                              <input type="text" class="form-control" name="set_day_reduced_{{ entry.id }}" value="{{ entry.day }}" /> 
                            </td> 
                            <td style="width:15%">                  
                              <input type="text" class="form-control" name="set_hour_reduced_{{ entry.id }}" value="{{ entry.hour }}" /> 
                            </td>
                            <td style="width:15%">
                              <input type="text" class="form-control" name="set_minute_reduced_{{ entry.id }}" value="{{ entry.minute }}" /> 
                            </td>                         
                            <td>
                              <font size="+2">
                                <div class="pretty p-default p-curve p-fill p-bigger">
                                  <input type="checkbox" {{ entry.option_repeat }} name="checkbox_option_repeat_reduced_{{ entry.id }}" >
                                  <div class="state">
                                    <label></label>
                                  </div>
                                </div>
                              </font>
                            </td>
                            <td><a href="/dashboard/scheduler/delete/{{ entry.id }}#"><font color="red" size="5"><b>X</b></font></a></td>  
                          </tr>
                        {% endif %} 
                      {% endfor %}
                    </tbody>
                  </table>  
                </div>

<section id="tasks"></section>

                <input type="submit" onclick="window.location.href='/dashboard/scheduler#'" class="btn btn-default" name="change_reduced_settings" value="Änderungen speichern"/>             
              </form> 
            </div>
          </div>

<!-- -------------------------- -->   
<!-- -------------------------- -->   
<!--  complete scheduler tasks  -->  
<!-- -------------------------- -->
<!-- -------------------------- -->

<!-- add scheduler task -->        

     <div class="well well-sm">     

<!-- error message add scheduler task -->

{% if error_message_add_scheduler_task != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_scheduler_task }}
  </div>      
{% endif %}              

        <form method="POST"> 
          <div class="row justify-content-md-center">
            <div class="col-sm-2">  
              <button type="button" style="background-color:transparent" class="btn btn-secondary">Neue vollständige Aufgabe:</button>                   
            </div>
            <div class="col-sm-3"> 
              <input type="text" class="form-control" name="set_scheduler_task_name" value="" />                         
            </div>  
            <div class="col-sm-1">                                      
              <input type="submit" onclick="window.location.href='/dashboard/scheduler#tasks'" class="btn btn-default" name="add_scheduler_task" value="Aufgabe erstellen" />
          </form>
          </div>
        </div>
      </div> 

<!-- error message tasks -->

{% if error_message_scheduler_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_scheduler_tasks %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %}  

<!-- error message general settings -->

{% if error_message_general_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_general_settings %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- error message time settings -->

{% if error_message_time_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_time_settings %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- error message sun settings -->

{% if error_message_sun_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_sun_settings %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- error message sensor settings -->

{% if error_message_sensor_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_sensor_settings %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- error message position settings -->

{% if error_message_position_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_position_settings %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- error message location imports -->

{% if error_message_locations_import != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_locations_import }} 
  </div>      
{% endif %}  


<!-- scheduler table -->

{% for entry in scheduler_task_list %}

  {% if entry.task_type == "complete" %}


  <section id="table_{{ entry.id }}"></section> 

        <div class="panel panel-default">
          <div class="panel-heading"><font color="black"><b> {{ entry.name }} </b></font></div>
            <div class="panel-body">      
              <div class="well well-sm">


  <!-- error change settings -->

  {% if entry.error_change_settings != "" %}
    <div class="alert alert-danger" role="alert">
        {{ entry.error_change_settings }}
    </div>      
  {% endif %}      

  <!-- error message task settings -->

  {% if entry.error_task_settings != "" %}
    <div class="alert alert-danger" role="alert">
      {% for entry in entry.error_task_settings.split(',') %}
        {{ entry }} <br>
      {% endfor %}
    </div>      
  {% endif %} 

  <!-- error message general settings -->

  {% if entry.error_general_settings != "" %}
    <div class="alert alert-danger" role="alert">
      {% for entry in entry.error_general_settings.split(',') %}
        {{ entry }} <br>
      {% endfor %}
    </div>      
  {% endif %} 

  <!-- error message time settings -->

  {% if entry.error_time_settings != "" %}
    <div class="alert alert-danger" role="alert">
      {% for entry in entry.error_time_settings.split(',') %}
        {{ entry }} <br>
      {% endfor %}
    </div>      
  {% endif %} 

  <!-- error message sun settings -->

  {% if entry.error_sun_settings != "" %}
    <div class="alert alert-danger" role="alert">
      {% for entry in entry.error_sun_settings.split(',') %}
        {{ entry }} <br>
      {% endfor %}
    </div>      
  {% endif %} 

  <!-- error message sensor settings -->

  {% if entry.error_sensor_settings != "" %}
    <div class="alert alert-danger" role="alert">
      {% for entry in entry.error_sensor_settings.split(',') %}
        {{ entry }} <br>
      {% endfor %}
    </div>      
  {% endif %} 

  <!-- error message position settings -->

  {% if entry.error_position_settings != "" %}
    <div class="alert alert-danger" role="alert">
      {% for entry in entry.error_position_settings.split(',') %}
        {{ entry }} <br>
      {% endfor %}
    </div>      
  {% endif %} 


  <!-- section main -->

                <table class="table">          
                  <thead>          
                    <th scope="col"></th>              
                    <th scope="col">Name</th> 
                    <th scope="col">Aufgabe</th>    
                    <th scope="col"></th>            
                    <th scope="col">Zeit</th>   
                    <th scope="col">Sonne</th>              
                    <th scope="col">Sensoren</th>
                    <th scope="col">Position</th>
                    <th scope="col">Wiederholen</th>
                  </thead>
                  <tbody> 
                    <tr>
                      <td style="width:3%">
                        <a href="/dashboard/scheduler/position/up/complete/{{ entry.id }}#table_{{ entry.id }}"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                        <a href="/dashboard/scheduler/position/down/complete/{{ entry.id }}#table_{{ entry.id }}"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                      </td>                       
                      <td style="width:18%">
                        <form method="POST" class="verticalform">
                        <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                                     
                      </td> 
                      <td style="width:30%">        
                        <input type="text" class="form-control" name="set_task_{{ entry.id }}" value="{{ entry.task }}" />  
                      </td>  
                      <td>
                        <button type="button" style="background-color:transparent" class="btn btn-secondary"><font size="3">Optionen</font></button> 
                      </td>                                      
                      <td>
                        <font size="+2">
                          <div class="pretty p-default p-curve p-fill p-bigger">
                            <input type="checkbox" {{ entry.option_time }} name="checkbox_option_time_{{ entry.id }}" >
                            <div class="state">
                              <label></label>
                            </div>
                          </div>
                        </font>
                      </td>    
                      <td>
                        <font size="+2">
                          <div class="pretty p-default p-curve p-fill p-bigger">
                            <input type="checkbox" {{ entry.option_sun }} name="checkbox_option_sun_{{ entry.id }}" >
                            <div class="state">
                              <label></label>
                            </div>
                          </div>
                        </font>
                      </td>                                         
                      <td>
                        <font size="+2">
                          <div class="pretty p-default p-curve p-fill p-bigger">
                            <input type="checkbox" {{ entry.option_sensors }} name="checkbox_option_sensors_{{ entry.id }}" >
                            <div class="state">
                              <label></label>
                            </div>
                          </div>
                        </font>
                      </td>       
                      <td>
                        <font size="+2">
                          <div class="pretty p-default p-curve p-fill p-bigger">
                            <input type="checkbox" {{ entry.option_position }} name="checkbox_option_position_{{ entry.id }}" >
                            <div class="state">
                              <label></label>
                            </div>
                          </div>
                        </font>
                      </td>                                 
                      <td>
                        <font size="+2">
                          <div class="pretty p-default p-curve p-fill p-bigger">
                            <input type="checkbox" {{ entry.option_repeat }} name="checkbox_option_repeat_{{ entry.id }}" >
                            <div class="state">
                              <label></label>
                            </div>
                          </div>
                        </font>
                      </td>
                      <td><a href="/dashboard/scheduler/delete/{{ entry.id }}#"><font color="red" size="5"><b>X</b></font></a></td>  
                    </tr>

  <!-- section time -->

  {% if entry.option_time == "checked" %}

                    <tr>
                      <td colspan="11"></td>
                    </tr>
                    <tr>
                      <td colspan="1"></td>
                      <td colspan="1"></td>
                      <td colspan="9">
                        <div class="row justify-content-md-center">
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Tag:</button>
                          </div>                                                   
                          <div class="col-sm-3"> 
                            <input type="text" class="form-control" name="set_day_{{ entry.id }}" value="{{ entry.day }}" /> 
                          </div>
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Stunde:</button>
                          </div>                      
                          <div class="col-sm-3">                                       
                            <input type="text" class="form-control" name="set_hour_{{ entry.id }}" value="{{ entry.hour }}" /> 
                          </div>
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Minute:</button>
                          </div>   
                          <div class="col-sm-3">   
                            <input type="text" class="form-control" name="set_minute_{{ entry.id }}" value="{{ entry.minute }}" /> 
                          </div>
                        </div>
                      </td>                           
                    </tr>

  {% endif %}

  <!-- section sun -->

  {% if entry.option_sun == "checked" %}

                    <tr>
                      <td colspan="11"></td>
                    </tr>
                    <tr>
                      <td colspan="1"></td>
                      <td colspan="1"></td>
                      <td colspan="9">
                        <div class="row justify-content-md-center">
                          <div class="col-sm-3">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Sonnenaufgang ({{ entry.sunrise }}):</button>
                          </div>   
                          <div class="col-sm-1">   
                            <font size="+2">
                              <div class="pretty p-default p-curve p-fill p-bigger">
                                <input type="checkbox" {{ entry.option_sunrise }} name="checkbox_option_sunrise_{{ entry.id }}" >
                                <div class="state">
                                  <label></label>
                                </div>
                              </div>
                            </font>
                          </div>  
                          <div class="col-sm-3">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Sonnenuntergang ({{ entry.sunset }}):</button>
                          </div>   
                          <div class="col-sm-1">   
                            <font size="+2">
                              <div class="pretty p-default p-curve p-fill p-bigger">
                                <input type="checkbox" {{ entry.option_sunset }} name="checkbox_option_sunset_{{ entry.id }}" >
                                <div class="state">
                                  <label></label>
                                </div>
                              </div>
                            </font>                           
                          </div>

                          <div class="col-sm-1">
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Ort:</button>
                          </div>
                          <div class="col-sm-1">
                            <select class="btn btn-default dropdown-toggle" name="set_location_{{ entry.id }}">
                              
                              {% if entry.location != None %}
                                <option value= "{{ entry.location }}" > {{ entry.location }} </option>
                                <option value= "{{ entry.location }}" > ------------------------- </option>
                              {% endif %}
                              
                              {% if error_message_locations_import == "" %}
                                {% for each in dropdown_list_locations %}
                                  <option value= "{{ each }}" > {{ each }} </option>
                                {% endfor %}   
                                <option value= "" > ------------------------- </option>                                                         
                                <option value= "" > None </option>   
                              {% endif %} 
                              
                            </select>
                          </div>
                        </div>
                      </td>                           
                    </tr>

  {% endif %}

  <!-- section sensors -->

  {% if entry.option_sensors == "checked" %}

  <!-- section 1 -->

                    <tr>
                      <td colspan="11"></td>
                    </tr>            
                    <tr>
                      <td colspan="1"></td>
                      <td colspan="1">
                        <font size="+2">
                          <div class="row justify-content-md-center">
                            <div class="col-sm-6">   
                            </div>   
                            <div class="col-sm-2">                
                              <a href="/dashboard/scheduler/sensor_row/add/{{ entry.id }}#table_{{ entry.id }}">
                                <span class="glyphicon glyphicon-plus" style="color:white"></span>
                              </a>                  
                            </div>
                            <div class="col-sm-1">          
                              <a href="/dashboard/scheduler/sensor_row/remove/{{ entry.id }}#table_{{ entry.id }}">
                                <span class="glyphicon glyphicon-minus" style="color:white"></span>
                              </a>   
                            </div>
                          </div>
                        </font>                  
                      </td>
                      
                      <td colspan="9">    
                        <div class="row justify-content-md-center">
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Gerät:</button>
                          </div>                                                   
                          <div class="col-sm-3"> 
                            <select id="device_1_{{ entry.id }}" onchange="Choose_Sensor_1('{{ entry.id }}')" class="btn btn-default dropdown-toggle" name="set_mqtt_device_1_{{ entry.id }}">
                              <option value= "{{ entry.mqtt_device_ieeeAddr_1 }}" > {{ entry.mqtt_device_name_1 }} </option>
                              <option value= "{{ entry.mqtt_device_ieeeAddr_1 }}" > ------------------------- </option>                                           
                              {% for each in dropdown_list_mqtt_devices %}
                                <option value="{{ each.id }}"> {{ each.name }} </option>
                              {% endfor %}
                            </select> 
                          </div>
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Sensor:</button>
                          </div>                                                   
                          <div class="col-sm-3"> 
                            <select id="selected_sensor_1_{{ entry.id }}" class="btn btn-default dropdown-toggle" name="set_sensor_1_{{ entry.id }}">
                              {% if entry.mqtt_device_id_1 != None %}
                                <option value= "{{ entry.sensor_key_1 }}" > {{ entry.sensor_key_1 }} </option>
                                <option value= "{{ entry.sensor_key_1 }}" > ------------------------- </option>
                                  {% for each in entry.mqtt_device_inputs_1.split(',') %}
                                    <option value= "{{ each }}" > {{ each }} </option>
                                  {% endfor %}                             
                                {% else %}
                                <option value= "" > None </option>
                                <option value= "" > ------------------------- </option>                            
                              {% endif %}
                            </select>  

                          {% if entry.operator_main_1 == "and" or entry.operator_main_1 == "or" or entry.operator_main_1 == "None" or entry.operator_main_1 == None %}
                            
                            </div>                                                 
                            <div class="col-sm-2">                          
                              <select class="btn btn-default dropdown-toggle" name="set_operator_1_{{ entry.id }}">
                                <option value= "{{ entry.operator_1 }}" > {{ entry.operator_1 }} </option>
                                <option value= "{{ entry.operator_1 }}" > -------- </option>
                                {% for each in dropdown_list_operators %}
                                <option value="{{each}}"> {{ each }} </option>
                                {% endfor %}
                              </select>  
                            </div>                                           
                            <div class="col-sm-2"> 
                            <input type="text" class="form-control" name="set_value_1_{{ entry.id }}" value="{{ entry.value_1 }}" /> 
                          {% else %}                 
                        {% endif %}

                          </div>
                        </div>
                        </td>
                      </tr>  

  <!-- section 2 -->

                    {% if entry.operator_main_1 != "None" and entry.operator_main_1 != None %}            
                    <tr>
                      <td colspan="1"></td>
                      <td colspan="1">
                        <div class="dropdown text-right">                    
                          <select class="btn btn-default dropdown-toggle" name="set_operator_main_1_{{ entry.id }}">
                            <option value= "{{ entry.operator_main_1 }}" > {{ entry.operator_main_1 }} </option>
                            <option value= "{{ entry.operator_main_1 }}" > -------- </option>
                            {% for each in dropdown_list_operator_main %}
                            <option value="{{each}}"> {{ each }} </option>
                            {% endfor %}
                          </select>         
                        </div>               
                      </td>
                      
                      <td colspan="9">    
                        <div class="row justify-content-md-center">
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Gerät:</button>
                          </div>                                                   
                          <div class="col-sm-3"> 
                            <select id="device_2_{{ entry.id }}" onchange="Choose_Sensor_2('{{ entry.id }}')" class="btn btn-default dropdown-toggle" name="set_mqtt_device_2_{{ entry.id }}">
                              <option value= "{{ entry.mqtt_device_ieeeAddr_2 }}" > {{ entry.mqtt_device_name_2 }} </option>
                              <option value= "{{ entry.mqtt_device_ieeeAddr_2 }}" > ------------------------- </option>                                           
                              {% for each in dropdown_list_mqtt_devices %}
                                <option value="{{ each.id }}"> {{ each.name }} </option>
                              {% endfor %}
                            </select> 
                          </div>
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Sensor:</button>
                          </div>                                                   
                          <div class="col-sm-3"> 
                            <select id="selected_sensor_2_{{ entry.id }}" class="btn btn-default dropdown-toggle" name="set_sensor_2_{{ entry.id }}">
                              {% if entry.mqtt_device_id_2 != None %}
                                <option value= "{{ entry.sensor_key_2 }}" > {{ entry.sensor_key_2 }} </option>
                                <option value= "{{ entry.sensor_key_2 }}" > ------------------------- </option>
                                {% for each in entry.mqtt_device_inputs_2.split(',') %}
                                  <option value= "{{ each }}" > {{ each }} </option>
                                {% endfor %}                            
                                {% else %}
                                <option value= "" > None </option>
                                <option value= "" > ------------------------- </option>                            
                              {% endif %}
                              </select>  

                          {% if entry.operator_main_1 == "and" or entry.operator_main_1 == "or" %}

                            </div>                                               
                            <div class="col-sm-2">  
                              <select class="btn btn-default dropdown-toggle" name="set_operator_2_{{ entry.id }}">
                                <option value= "{{ entry.operator_2 }}" > {{ entry.operator_2 }} </option>
                                <option value= "{{ entry.operator_2 }}" > -------- </option>
                                {% for each in dropdown_list_operators %}
                                <option value="{{each}}"> {{ each }} </option>
                                {% endfor %}
                              </select>  
                            </div>                                           
                            <div class="col-sm-2">     
                              <input type="text" class="form-control" name="set_value_2_{{ entry.id }}" value="{{ entry.value_2 }}" /> 
                          {% endif %} 

                          </div>
                        </div>
                        </td>
                      </tr> 

                    {% endif %} 

  <!-- section 3 -->

                    {% if entry.operator_main_2 != "None" and entry.operator_main_2 != None %}                    
                    <tr>
                      <td colspan="1"></td>
                      <td colspan="1">
                        <div class="dropdown text-right">
                          <select class="btn btn-default dropdown-toggle" name="set_operator_main_2_{{ entry.id }}">
                            <option value= "{{ entry.operator_main_2 }}" > {{ entry.operator_main_2 }} </option>
                            <option value= "{{ entry.operator_main_2 }}" > -------- </option>
                            {% for each in dropdown_list_operator_main %}
                            <option value="{{each}}"> {{ each }} </option>
                            {% endfor %}
                          </select>  
                        </div>
                      </td>
                      
                      <td colspan="9">    
                        <div class="row justify-content-md-center">
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Gerät:</button>
                          </div>                                                   
                          <div class="col-sm-3"> 
                            <select id="device_3_{{ entry.id }}" onchange="Choose_Sensor_3('{{ entry.id }}')" class="btn btn-default dropdown-toggle" name="set_mqtt_device_3_{{ entry.id }}">
                                <option value= "{{ entry.mqtt_device_ieeeAddr_3 }}" > {{ entry.mqtt_device_name_3 }} </option>
                                <option value= "{{ entry.mqtt_device_ieeeAddr_3 }}" > ------------------------- </option>                                        
                              {% for each in dropdown_list_mqtt_devices %}
                                <option value="{{ each.id }}"> {{ each.name }} </option>
                              {% endfor %}
                            </select> 
                          </div>  
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">Sensor:</button>
                          </div>                                                   
                          <div class="col-sm-3"> 
                            <select id="selected_sensor_3_{{ entry.id }}" class="btn btn-default dropdown-toggle" name="set_sensor_3_{{ entry.id }}">
                              {% if entry.mqtt_device_id_3 != None %}  
                                <option value= "{{ entry.sensor_key_3 }}" > {{ entry.sensor_key_3 }} </option>
                                <option value= "{{ entry.sensor_key_3 }}" > ------------------------- </option>
                                {% for each in entry.mqtt_device_inputs_3.split(',') %}
                                  <option value= "{{ each }}" > {{ each }} </option>
                                {% endfor %}                           
                                {% else %}
                                <option value= "" > None </option>
                                <option value= "" > ------------------------- </option>                            
                              {% endif %}                            
                            </select>  

                          {% if entry.operator_main_2 == "and" or entry.operator_main_2 == "or" %}

                            </div>                                                
                            <div class="col-sm-2">  
                              <select class="btn btn-default dropdown-toggle" name="set_operator_3_{{ entry.id }}">
                                <option value= "{{ entry.operator_3 }}" > {{ entry.operator_3 }} </option>
                                <option value= "{{ entry.operator_3 }}" > -------- </option>
                                {% for each in dropdown_list_operators %}
                                <option value="{{each}}"> {{ each }} </option>
                                {% endfor %}
                              </select>  
                            </div>                                           
                            <div class="col-sm-2">        
                              <input type="text" class="form-control" name="set_value_3_{{ entry.id }}" value="{{ entry.value_3 }}" /> 

                          {% endif %}

                          </div>
                        </div>
                        </td>
                      </tr> 

                    {% endif %}

  {% endif %}

  <!-- section position -->

  {% if entry.option_position == "checked" %}


                    <tr>
                      <td colspan="11"></td>
                    </tr>
                    <tr>
                      <td colspan="1"></td>
                      <td colspan="1"></td>
                      <td colspan="9">
                        <div class="row justify-content-md-center">
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">HOME:</button>
                          </div>                                                   
                          <div class="col-sm-1"> 
                            <font size="+2">
                              <div class="pretty p-default p-curve p-fill p-bigger">
                                <input type="checkbox" {{ entry.option_home }} name="checkbox_option_home_{{ entry.id }}" >
                                <div class="state">
                                  <label></label>
                                </div>
                              </div>
                            </font>
                          </div>
                          <div class="col-sm-1">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">AWAY:</button>
                          </div>                      
                          <div class="col-sm-1">                                       
                            <font size="+2">
                              <div class="pretty p-default p-curve p-fill p-bigger">
                                <input type="checkbox" {{ entry.option_away }} name="checkbox_option_away_{{ entry.id }}" >
                                <div class="state">
                                  <label></label>
                                </div>
                              </div>
                            </font>
                          </div>
                          <div class="col-sm-2">  
                            <button type="button" style="background-color:transparent" class="btn btn-secondary">IP-Adressen:</button>
                          </div>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" name="set_ip_addresses_{{ entry.id }}" value="{{ entry.ip_addresses }}" /> 
                          </div>
                        </div>
                      </td>
                    </tr>

  {% endif %}

                  </tbody>
                </table>  
              </div>
                <input type="submit" onclick="window.location.href='/dashboard/scheduler#table_{{ entry.id }}'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>             
              </form> 
            </div>  
          </div>  

  {% endif %}

{% endfor %}

<!-- instructions -->

        <div class="panel panel-default">         
          <div class="panel-body">   
            <div class="well well-sm">
              <div class="text-center"> 
                <h3><span class="label label-default">Hinweise</span></h3>         
              </div>
              <br>
              <div class="well well-sm">
                <table class="table">
                <thead>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <th>Aufgabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>scene:wohnzimmer:relax:100</td>
                    <td>starte LEDs der Gruppe "wohnzimmer" mit Szene "relex" >>> Optionale Einstellung: globale Helligkeit 100 %</td>
                  </tr>
                  <tr>
                    <td>led_off:group:flur, bad</td>
                    <td>LEDs der Gruppe "flur" und "bad" ausschalten</td>
                  </tr>
                  <tr>
                    <td>led_off:all</td>
                    <td>alle LEDs ausschalten</td>
                  </tr>    
                  <tr>
                    <td>device:Steckdose TV:off</td>
                    <td>Gerät Steckdose TV ausschalten (on ist einschalten)</td>
                  </tr>    
                  <tr>
                    <td>program:SUNRISE:start</td>
                    <td>Programm "SUNRISE" starten >>> stop für stoppen</td>
                  </tr>                                                
                  <tr>
                    <td>watering_plants</td>
                    <td>alle Pflanzen gießen, Einstellungen unter Bewässung</td>
                  </tr>
                  <tr>
                    <td>save_database</td>
                    <td>Datenbank sichern (Speicherordner: "/SmartHome/backup" >>> max. 10 Speicherstände)</td>
                  </tr>              
                  <tr>
                    <td>mqtt_update_devices</td>
                    <td>MQTT Geräte aktuallisieren</td>
                  </tr> 
                  <tr>
                    <td>request_sensordata:Testdaten</td>
                    <td>Sensordaten abrufen, der dazugehörige Job ist "Testdaten"</td>
                  </tr>               
                </tbody>
              </table>     
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

{% endblock %}
