{% extends "bootstrap/base.html" %}

{% block title %}
  HUE Einstellungen
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- settings navs -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_settings_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_settings_zigbee2mqtt') }}">ZigBee2MQTT</a></li>          
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_snowboy') }}">SnowBoy</a></li>       
            <li class={{active04}}><a href="{{ url_for('dashboard_settings_user') }}">Benutzer</a></li>    
            <li class={{active05}}><a href="{{ url_for('dashboard_settings_email') }}">eMail</a></li>        
            <li class={{active06}}><a href="{{ url_for('dashboard_settings_system') }}">System</a></li> 
            <li class={{active07}}><a href="{{ url_for('dashboard_settings_system_log') }}">System Log</a></li> 
          </ul>
        </div>
      </nav>

<!-- settings snowboy -->

      <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>SnowBoy</b></font></div>
        <div class="panel-body">   
          <form method="POST">
            <div class="well well-sm">  
 
<section id="settings"></section> 
 
              <div class="pretty p-default p-round">
                <input {{check_value_snowboy[0]}} type="radio" value="True" name="radio_snowboy">
                <div class="state">
                  <label>SnowBoy aktivieren</label>
                </div>
              </div>
              <br>
              <div class="pretty p-default p-round">
                <input {{check_value_snowboy[1]}} type="radio" value="False" name="radio_snowboy">
                <div class="state">
                  <label>SnowBoy deaktivieren</label>
                </div>
              </div>
            </div>
          <font color="red"><b>Flask neustarten, wenn SnowBoy Einstellungen geändert werden</b></font>
          <br>     
          <br>        
          <input type="submit" onclick="window.location.href='/dashboard/settings/snowboy#'" class="btn btn-default" value="Auswählen"/>
          </form>       
        </div>  
      </div>           

<!-- SNOWBOY -->

{% if snowboy_setting != "False" %}

<!-- snowboy error message snowboy -->

    {% if error_message_snowboy != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message_snowboy }}
      </div>      
    {% endif %}    

<!-- snowboy settings -->

      <div class="panel panel-default">
        <div class="panel-body">  
          
<!-- error message settings -->

{% if error_message_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_settings }}
  </div>      
{% endif %}     
          
          
          <form method="POST">
            <div class="well well-sm">Empfindlichkeit: {{ sensitivity }}
            <br>
            <br>
              <div class="slidecontainer">                        
                <input type="range" class="slider" name="set_sensitivity" min="0" max="100" value="{{ sensitivity }}" />
              </div>
            </div>
            <div class="well well-sm">
              <div class="row justify-content-md-center">
                <div class="col-sm-3">              
                  Verzögerungswert (1 - 10 Sekunden):
                </div>
                <div class="col-sm-1">    
                  <input type="text" class="form-control" name="set_delay" value="{% if delay != None %}{{ delay }}{% endif %}" /> 
                </div>  
              </div>
            </div>

      <section id="table_tasks"></section> 

            <input type="submit" onclick="window.location.href='/dashboard/settings/snowboy#settings'" class="btn btn-default" name="change_settings" value="Einstellungen ändern" />       
          </form>  
        </div>                    
      </div> 

<!-- snowboy error message file missing -->

{% if error_message_hotword != "" %}
  <div class="alert alert-danger" role="alert">
    Hotword-Datein fehlen: {{ error_message_hotword }}
  </div>      
{% endif %} 

<!-- snowboy table tasks --> 

      <div class="panel panel-default">     
        <div class="panel-body">
          <div class="well well-sm">
            
<!-- error message form -->

{% if error_message_form != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_form }}
  </div>      
{% endif %}     

<!-- error message tasks -->

{% if error_message_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_tasks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 
            
            <table class="table">
              <thead>                      
                <th scope="col">Name</th> 
                <th scope="col">Aufgabe</th> 
              </thead>
              <tbody> 
                {% for entry in snowboy_list %}
                <tr>
                  <td>
                  <form method="POST" class="verticalform">
                    <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                    
                  </td> 
                  <td>
                    <input type="text" class="form-control" name="set_task_{{ entry.id }}" value="{{ entry.task }}" />                    
                  </td> 
                  <td></td>
                  <td><a href="/dashboard/settings/snowboy/delete/task/{{ entry.id }}#table_tasks"><font color="red" size="5"><b>X</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>
          <input type="submit" onclick="window.location.href='/dashboard/settings/snowboy#table_tasks'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>             
          </form> 
        </div>  
      </div>  

<!-- snowboy taskmanagement -->    
  
      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
            <div class="text-center">   
              <h3><span class="label label-default">Neue Aufgabe erstellen</span></h3>
            </div>          
            <br>
            <div class="well well-sm">
              <table class="table">
                <thead>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <th>Aufgabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>snowboy_active</td>
                    <td>SnowBoy für weitere Befehle aktivieren, wird nach Ablauf des eingestellten Verzögerungswerts oder einem empfangenden Befehl wieder zurückgesetzt <br>
                        >>> Blaue LEDs vom Snowboy leuchten im aktiven Modus (bei Verwendung des ReSpeaker MicArrays)</td>
                  </tr> 
                  <tr>
                    <td>scene:wohnzimmer:relax:100</td>
                    <td>starte LEDs der Gruppe "wohnzimmer" mit Szene "relex" >>> Optionale Einstellung: globale Helligkeit 100 %</td>
                  </tr>
                  <tr>
                    <td>program:schlafzimmer:aufwachen</td>
                    <td>starte LEDs der Gruppe "schlafzimmer" mit Programm "aufwachen"</td>
                  </tr>
                  <tr>
                    <td>led_off:group:flur</td>
                    <td>LEDs der Gruppe "flur" ausschalten</td>
                  </tr>
                  <tr>
                    <td>led_off:all</td>
                    <td>alle LEDs ausschalten</td>
                  </tr> 
                </tbody>
              </table>  
 
<section id="add_task"></section>
 
            </div>            
            <b>HINWEIS:</b> Hotword-Dateiname soll gleich dem Aufgabennamen und auszusprechenden Wort sein
            <br>
            <br>

<!-- snowboy error message -->

{% if error_message != "" %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>      
{% endif %} 

            <form method="POST">
              <div class="well well-sm">Name:            
                <div class="form-group">
                  <input type="text" class="form-control" name="set_name" value="{% if set_name != None %}{{ set_name }}{% endif %}" />
                </div>    
              </div>                      
              <div class="well well-sm">Aufgabe:            
                <div class="form-group">
                  <input type="text" class="form-control" name="set_task" value="{% if set_task != None %}{{ set_task }}{% endif %}" /> 
                </div>    
              </div>           

<section id="fileupload"></section>

              <input type="submit" onclick="window.location.href='/dashboard/settings/snowboy#add_task'" class="btn btn-default" name="add_task" value="Aufgabe anlegen" />
            </form>
          </div>  
        </div>
      </div>       
      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
            <div class="text-center">     
              <h3><span class="label label-default">Hotword hochladen</span></h3>    
            </div>
            <br>
 
<!-- error message fileupload --> 

{% if error_message_fileupload != "" %}
<div class="alert alert-danger" role="alert">
  {{ error_message_fileupload }}
</div>      
{% endif %}   

            <div class="well well-sm">
              <a href="https://snowboy.kitt.ai">Hotword erstellen</a>
              <br>
              <br>
              <form method=post enctype=multipart/form-data>
                <input type=file name=file>
            </div>
                <input type=submit onclick="window.location.href='/dashboard/settings/snowboy#fileupload'" class="btn btn-default" name="file_upload" value="Datei hochladen">
              </form>   
          </div> 
        </div>                   
      </div>  

<!-- snowboy table hotwords --> 

<section id="table_hotwords"></section>

      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="well well-sm">                     
            <table class="table">
              <thead> 
                <th scope="col">Hotword Datein</th>   
              </thead>             
              <tbody> 
                {% for entry in file_list %}
                <tr>
                  <td>{{ entry }}</td> 
                  <td class="text-right"><a href="/dashboard/settings/snowboy/download/hotword/{{ entry }}#table_hotwords"><b>herunterladen</b></font></a></td>
                  <td class="text-right"><a href="/dashboard/settings/snowboy/delete/hotword/{{ entry }}#table_hotwords"><font color="red" size="5"><b>X</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>
        </div>  
      </div>               

{% endif %}

    </div>
  </div>    
</div>

{% endblock %}
