{% extends "bootstrap/base.html" %}

{% block title %}
  Sprachsteuerung
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var slider_sensitivity = document.getElementById("input_sensitivity");
    var output_sensitivity = document.getElementById("output_sensitivity");
    output_sensitivity.innerHTML = slider_sensitivity.value; 
    slider_sensitivity.oninput = function() { output_sensitivity.innerHTML = this.value }
  </script>

  <script>
    var slider_timeout = document.getElementById("input_timeout");
    var output_timeout = document.getElementById("output_timeout");
    output_timeout.innerHTML = slider_timeout.value; 
    slider_timeout.oninput = function() { output_timeout.innerHTML = this.value }
  </script>
  
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li> 
        <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-tasks"></span> Programme</a></li>                
        <li><a href="{{ url_for('dashboard_watering') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>    
        <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>             
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>      
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>                   
        <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li>                    
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System</a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- settings navs -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_settings_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_settings_zigbee2mqtt') }}">ZigBee2MQTT</a></li> 
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_controller') }}">Controller</a></li>             
            <li class={{active04}}><a href="{{ url_for('dashboard_settings_speechcontrol') }}">Sprachsteuerung</a></li>                
            <li class={{active05}}><a href="{{ url_for('dashboard_settings_user') }}">Benutzer</a></li>    
            <li class={{active06}}><a href="{{ url_for('dashboard_settings_email') }}">eMail</a></li>        
            <li class={{active07}}><a href="{{ url_for('dashboard_settings_backup') }}">Backup</a></li> 
            <li class={{active08}}><a href="{{ url_for('dashboard_settings_system_log') }}">System Log</a></li> 
          </ul>
        </div>
      </nav>

<!-- settings snowboy -->

      <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>Sprachsteuerung</b></font></div>
        <div class="panel-body">   
          <form method="POST">
            <div class="well well-sm">  
              <div class="pretty p-default p-round">
                <input {{check_value_speechcontrol[0]}} type="radio" value="True" name="radio_speechcontrol">
                <div class="state">
                  <label>Sprachsteuerung aktivieren</label>
                </div>
              </div>
              <br>
              <div class="pretty p-default p-round">
                <input {{check_value_speechcontrol[1]}} type="radio" value="False" name="radio_speechcontrol">
                <div class="state">
                  <label>Sprachsteuerung deaktivieren</label>
                </div>
              </div>
            </div>
          <font color="red"><b>Flask neustarten, wenn Einstellungen der Sprachsteuerung geändert werden</b></font>
          <br>     
          <br>        
          <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#'" class="btn btn-default" value="Auswählen"/>
          </form>       
        </div>  
      </div>           

<section id="snowboy_settings"></section> 


<!-- ----------------- -->
<!--  SNOWBOY SETTINGS -->
<!-- ----------------- -->


{% if speechcontrol_setting != "False" %}

<!-- snowboy error message snowboy -->

    {% if error_message_snowboy != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message_snowboy }}
      </div>      
    {% endif %}    

<!-- snowboy settings -->

      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="text-center">   
            <h3><span class="label label-default">SnowBoy Einstellungen</span></h3>
          </div>          
          <br>               
          <form method="POST">
          <div class="well well-sm">
            <div class="row justify-content-md-center">
              <div class="col-sm-2">
                <button type="button" style="background-color:transparent" class="btn btn-secondary">Empfindlichkeit: <span id="output_sensitivity"></span></button>
              </div>          
            </div>           
              <input id="input_sensitivity" type="range" class="slider" name="set_sensitivity" min="0" max="100" value="{{ sensitivity }}" />
            </div>     
          <div class="well well-sm">
            <div class="row justify-content-md-center">
              <div class="col-sm-2">
                <button type="button" style="background-color:transparent" class="btn btn-secondary">Timeout: <span id="output_timeout"></span></button>
              </div>                                            
            </div>     
              <input id="input_timeout" type="range" class="slider" name="set_timeout" min="1" max="10" value="{{ timeout }}" />
            </div>     
          <div class="well well-sm">
            <div class="row justify-content-md-center">
              <div class="col-sm-2">
                <button type="button" style="background-color:transparent" class="btn btn-secondary">Mikrofon:</button>
              </div>
            <div class="col-sm-1">   
              <select class="btn btn-default dropdown-toggle" name="set_microphone">
                  {% if microphone != "" %}
                    <option value= "{{ microphone }}" > {{ microphone }} </option>
                    <option value= "{{ microphone }}" > -------------------- </option> 
                  {% else %}     
                    <option value= "{{ "" }}" > Mikrofon wählen: </option>
                    <option value= "{{ "" }}" > -------------------- </option> 
                  {% endif %}   
                  {% for each in dropdown_list_microphone_options %}
                  <option value="{{ each }}"> {{ each }} </option>
                  {% endfor %}
                  <option value= "None" > -------------------- </option> 
                  <option value= "None" > None </option> 
                </select> 
              </div>   
            </div> 
          </div>    

<section id="speech_recognition_provider_settings"></section> 

            <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#snowboy_settings'" class="btn btn-default" name="change_snowboy_settings" value="Einstellungen speichern" />       
          </form>  
        </div>                    
      </div> 


<!-- --------------------------- -->
<!-- SPEECH RECOGNITION PROVIDER -->
<!-- --------------------------- -->


<!-- speech_recognition_provider settings -->

      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="well well-sm">     
            <form method="POST">   
              <div class="form-group">
                <div class="text-center">  
                  <h3><span class="label label-default">Onlinedienst Einstellungen</span></h3>
                </div>
                <br>

<!-- error message speech_recognition_provider -->

{% if error_message_speech_recognition_provider_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_speech_recognition_provider_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 

                <div class="well well-sm">
                  <div class="row justify-content-md-center">
                    <div class="col-sm-2">
                      <button type="button" style="background-color:transparent" class="btn btn-secondary">Snowboy Hotword:</button>
                    </div>
                    <div class="col-sm-1">   
                      <select class="btn btn-default dropdown-toggle" name="set_snowboy_hotword">
                        {% if snowboy_hotword != "" %}
                          <option value= "{{ snowboy_hotword }}" > {{ snowboy_hotword }} </option>
                          <option value= "{{ snowboy_hotword }}" > -------------------- </option> 
                        {% else %}     
                          <option value= "{{ "" }}" > Hotwords wählen: </option>
                          <option value= "{{ "" }}" > -------------------- </option> 
                        {% endif %}   
                        {% for each in hotword_file_list %}
                        <option value="{{ each }}"> {{ each }} </option>
                        {% endfor %}
                        <option value= "{{ "" }}" > -------------------- </option> 
                        <option value= "{{ "" }}" > kein Snowboy Hotword </option> 
                      </select>    
                    </div>
                  </div>                     
                </div>
                <div class="well well-sm">
                  <div class="row justify-content-md-center">
                    <div class="col-sm-2">
                      <button type="button" style="background-color:transparent" class="btn btn-secondary">Onlinedienst:</button>
                    </div>
                    <div class="col-sm-1">                
                      <select class="btn btn-default dropdown-toggle" name="set_speech_recognition_provider">
                        {% if speech_recognition_provider != "" %}
                          <option value= "{{ speech_recognition_provider }}" > {{ speech_recognition_provider }} </option>
                          <option value= "{{ speech_recognition_provider }}" > ---------- </option>   
                        {% else %}     
                          <option value= "{{ "" }}" > Provider wählen: </option>
                          <option value= "{{ "" }}" > -------------------- </option>                                             
                        {% endif %}   
                        {% for each in dropdown_list_speech_recognition_provider %}
                        <option value="{{ each }}"> {{ each }} </option>
                        {% endfor %}
                        <option value= "{{ "" }}" > -------------------- </option> 
                        <option value= "{{ "" }}" > kein Provider </option> 
                      </select>    
                    </div>
                  </div>  
                </div> 
                <div class="well well-sm">Username / Client ID (Optional):            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_speech_recognition_provider_username" value="{% if speech_recognition_provider_username != None %}{{ speech_recognition_provider_username }}{% endif %}" /> 
                  </div>                  
                </div> 
                <div class="well well-sm">Key / Credentials:            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_speech_recognition_provider_key" value="{% if speech_recognition_provider_key != None %}{{ speech_recognition_provider_key }}{% endif %}" /> 
                  </div>                  
                </div> 
              </div>   

<section id="led_task_table"></section>

              <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#speech_recognition_provider_settings'" class="btn btn-default" name="set_speech_recognition_provider_settings" value="Einstellungen speichern" />
            </form>   
          </div>  
        </div>
      </div>


<!-- -------------------- -->
<!-- SPEECH CONTROL TASKS -->
<!-- -------------------- -->

<!-- speech control led task table -->

      <div class="panel panel-default">     
        <div class="panel-body">
          <div class="well well-sm">  

<!-- error message speech control led tasks  -->

{% if error_message_speechcontrol_led_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_speechcontrol_led_tasks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 


          <form method="POST"> 
            <table class="table">
              <thead>                    
                <th scope="col">Aufgabe</th> 
                <th scope="col">Parameter</th> 
                <th scope="col">Schlüsselwörter</th> 
              </thead>
              <tbody> 
                {% for entry in speechcontrol_led_task_list %}
                <tr>                  
                  <td style="width:20%">{{ entry.task }}</td> 
                  <td style="width:40%">{{ entry.parameters }}</td> 
                  <td style="width:40%">
                    <input type="text" class="form-control" name="set_speechcontrol_led_task_keyword_{{ entry.id }}" value="{{ entry.keywords }}" />                    
                  </td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
                     
<section id="device_task_table"></section>           
            
          </div>
          <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#led_task_table'" class="btn btn-default" name="change_speechcontrol_led_tasks" value="Änderungen speichern"/> 
          </form> 
        </div>  
      </div>  
      

<!-- add speech control device task -->     

      <div class="panel panel-default">     
        <div class="panel-body">
          <div class="well well-sm">     


<!-- error message add speechcontrol device task -->

{% if error_message_add_speechcontrol_device_task != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_speechcontrol_device_task }}
  </div>      
{% endif %}              


            <form method="POST"> 
              <div class="row justify-content-md-center">
                <div class="col-sm-2">                     
                  <button type="button" style="background-color:transparent" class="btn btn-secondary">Neue Geräte-Aufgabe:</button>
                </div>
                <div class="col-sm-3"> 
                  <input type="text" class="form-control" name="set_speechcontrol_device_task" value="{{ device_task }}" />
                </div>  
                <div class="col-sm-1">                     
                  <button type="button" style="background-color:transparent" class="btn btn-secondary">Gerät:</button>
                </div>            
                <div class="col-sm-3"> 
                  <select class="btn btn-default dropdown-toggle" name="set_speechcontrol_device_task_mqtt_device_ieeeAddr">
                    <option value= "None" > None </option> 
                    <option value= "None" > ------------------------------- </option>                       
                    {% for each in dropdown_list_mqtt_devices %}
                      <option value="{{each.ieeeAddr}}"> {{ each.name }} </option>
                    {% endfor %}
                  </select>                         
                </div>  
                <div class="col-sm-1">                                      
                  <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#device_task_table'" class="btn btn-default" name="add_speechcontrol_device_task" value="Aufgabe erstellen" />
                </div>
              </div>
            </form>       
          </div>    
        
        
<!-- error message speechcontrol device tasks  -->

{% if error_message_speechcontrol_device_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_speechcontrol_device_tasks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 


<!-- speech control device task table -->

        <div class="well well-sm">  
          <form method="POST"> 
            <table class="table">
              <thead>   
                <th scope="col"></th>                    
                <th scope="col">Aufgabe</th> 
                <th scope="col">Gerät</th> 
                <th scope="col">Befehl</th> 
                <th scope="col">Schlüsselwörter</th> 
                <th scope="col"></th> 
              </thead>
              <tbody> 
                {% for entry in speechcontrol_device_task_list %}
                <tr>
                  <td style="width:3%">
                    <a href="/dashboard/settings/speechcontrol/device_task/position/up/{{ entry.id }}#device_task_table"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                    <a href="/dashboard/settings/speechcontrol/device_task/position/down/{{ entry.id }}#device_task_table"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                  </td>                     
                  <td style="width:17%">{{ entry.task }}</td> 
                  <td style="width:20%">{{ entry.mqtt_device.name }}</td> 
                  <td style="width:20%">   
                    <select class="btn btn-default dropdown-toggle" name="set_speechcontrol_device_task_setting_value_{{ entry.id }}">
                      {% if entry.setting_value != "None" %}
                        <option value = "{{ entry.setting_value }}" > {{ entry.setting_value }} </option>
                      {% else %}   
                        <option value = "None" > None </option> 
                      {% endif %} 
                      <option value= "None" > ------------------------- </option>  
                      {% for each in entry.mqtt_device.commands.split(',') %}
                        <option value= "{{ each.split('=')[1] }}" > {{ each.split('=')[1] }} </option>
                      {% endfor %}    
                    </select>                 
                  </td> 
                  <td style="width:37%">
                    <input type="text" class="form-control" name="set_speechcontrol_device_task_keyword_{{ entry.id }}" value="{{ entry.keywords }}" />                    
                  </td>  
                  <td style="width:3%"><td><a href="/dashboard/settings/speechcontrol/device_task/delete/{{ entry.id }}#device_task_table"><font color="red" size="5"><b>X</b></font></a></td></td>
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
                     
<section id="program_task_table"></section>           
            
          </div>
          <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#device_task_table'" class="btn btn-default" name="change_speechcontrol_device_tasks" value="Änderungen speichern"/> 
          </form> 
        </div>  
      </div>  
      
<!-- add speech control program task -->     

      <div class="panel panel-default">     
        <div class="panel-body">
          <div class="well well-sm">     


<!-- error message add speechcontrol program task -->

{% if error_message_add_speechcontrol_program_task != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_speechcontrol_program_task }}
  </div>      
{% endif %}              


            <form method="POST"> 
              <div class="row justify-content-md-center">
                <div class="col-sm-2">                     
                  <button type="button" style="background-color:transparent" class="btn btn-secondary">Neue Programm-Aufgabe:</button>
                </div>
                <div class="col-sm-3"> 
                  <input type="text" class="form-control" name="set_speechcontrol_program_task" value="{{ program_task }}" />
                </div>  
                <div class="col-sm-1">                     
                  <button type="button" style="background-color:transparent" class="btn btn-secondary">Programm:</button>
                </div>            
                <div class="col-sm-3"> 
                  <select class="btn btn-default dropdown-toggle" name="set_speechcontrol_program_task_program_id">
                    <option value= "None" > None </option> 
                    <option value= "None" > ------------------------------- </option>                                        
                    {% for each in dropdown_list_programs %}
                      <option value="{{each.id}}"> {{ each.name }} </option>
                    {% endfor %}
                  </select>                         
                </div>  
                <div class="col-sm-1">                                      
                  <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#program_task_table'" class="btn btn-default" name="add_speechcontrol_program_task" value="Aufgabe erstellen" />
                </div>
              </div>
            </form>       
          </div>    
        
        
<!-- error message speechcontrol program tasks  -->

{% if error_message_speechcontrol_program_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_speechcontrol_program_tasks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 


<!-- speech control program task table -->

        <div class="well well-sm">  
          <form method="POST"> 
            <table class="table">
              <thead>   
                <th scope="col"></th>                    
                <th scope="col">Aufgabe</th> 
                <th scope="col">Programm</th> 
                <th scope="col">Befehl</th> 
                <th scope="col">Schlüsselwörter</th> 
                <th scope="col"></th> 
              </thead>
              <tbody> 
                {% for entry in speechcontrol_program_task_list %}
                <tr>
                  <td style="width:3%">
                    <a href="/dashboard/settings/speechcontrol/program_task/position/up/{{ entry.id }}#program_task_table"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                    <a href="/dashboard/settings/speechcontrol/program_task/position/down/{{ entry.id }}#program_task_table"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                  </td>                     
                  <td style="width:17%">{{ entry.task }}</td> 
                  <td style="width:20%">{{ entry.program.name }}</td> 
                  <td style="width:20%">   
                    <select class="btn btn-default dropdown-toggle" name="set_speechcontrol_program_task_command_{{ entry.id }}">
                      {% if entry.command != "None" %}
                        <option value = "{{ entry.command }}" > {{ entry.command }} </option>
                      {% else %}   
                        <option value = "None" > None </option> 
                      {% endif %} 
                      <option value= "None" > ------------------------- </option>  
                      <option value= "START" > START </option>
                      <option value= "STOP" > STOP </option>  
                    </select>                 
                  </td> 
                  <td style="width:37%">
                    <input type="text" class="form-control" name="set_speechcontrol_program_task_keyword_{{ entry.id }}" value="{{ entry.keywords }}" />                    
                  </td>  
                  <td style="width:3%"><td><a href="/dashboard/settings/speechcontrol/program_task/delete/{{ entry.id }}#program_task_table"><font color="red" size="5"><b>X</b></font></a></td></td>
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
                     
<section id="fileupload"></section>           
            
          </div>
          <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#program_task_table'" class="btn btn-default" name="change_speechcontrol_program_tasks" value="Änderungen speichern"/> 
          </form> 
        </div>  
      </div>  
      
  
<!-- fileupload --> 

      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
            <div class="text-center">     
              <h3><span class="label label-default">Hotword hochladen</span></h3>    
            </div>
            <br>
 
<!-- error message fileupload --> 

{% if error_message_fileupload != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_fileupload }}
  </div>      
{% endif %}   

            <div class="well well-sm">
              <a href="https://snowboy.kitt.ai">Hotword erstellen</a>
              <br>
              <br>
              <form method=post enctype=multipart/form-data>
                <input type=file name=file>
            </div>
                <input type=submit onclick="window.location.href='/dashboard/settings/speechcontrol#fileupload'" class="btn btn-default" name="file_upload" value="Datei hochladen">
              </form>   
          </div> 
        </div>                   
      </div>  

<!-- snowboy table hotwords --> 

<section id="table_hotwords"></section>

      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="well well-sm">                     
            <table class="table">
              <thead> 
                <th scope="col">Hotword Datein</th>   
              </thead>             
              <tbody> 
                {% for entry in hotword_file_list %}
                <tr>
                  <td>{{ entry }}</td> 
                  <td class="text-right"><a href="/dashboard/settings/speechcontrol/snowboy/download/hotword/{{ entry }}#table_hotwords"><b>herunterladen</b></font></a></td>
                  <td class="text-right"><a href="/dashboard/settings/speechcontrol/snowboy/delete/hotword/{{ entry }}#table_hotwords"><font color="red" size="5"><b>X</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>
        </div>  
      </div>   

{% endif %} 

    </div>
  </div>    
</div>

{% endblock %}
