{% extends "bootstrap/base.html" %}

{% block title %}
  Bewässerung
{% endblock %}

{% block styles %}
  {{super()}}

  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if permission_dashboard == "checked" %}
        <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartControl</a>
      {% endif %}
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><span class="glyphicon glyphicon-leaf"></span> Programme</a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><span class="glyphicon glyphicon-facetime-video"></span> Kameras</a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li> 
        {% endif %}
        {% if permission_sensordata == "checked" %}                   
          <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li> 
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><span class="glyphicon glyphicon-music"></span> Spotify</a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li><a href="{{ url_for('dashboard_system_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> System</a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- add new plant -->        

      <div class="well well-sm">  

<!-- error message add plant -->

{% if error_message_add_plant != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_plant }}
  </div>      
{% endif %}               

        <form method="POST"> 
          <div class="row justify-content-md-center">
            <div class="col-sm-2">                     
              <button type="button" style="background-color:transparent" class="btn btn-secondary">Neue Pflanze:</button>
            </div>
            <div class="col-sm-3"> 
              <input type="text" class="form-control" name="set_name" value="" />
            </div>  
            <div class="col-sm-1">                     
              <button type="button" style="background-color:transparent" class="btn btn-secondary">Gerät:</button>
            </div>            
            <div class="col-sm-2"> 
              <select class="btn btn-default dropdown-toggle" name="set_mqtt_device_ieeeAddr">
                {% for each in dropdown_list_mqtt_devices %}
                  <option value="{{each.ieeeAddr}}"> {{ each.name }} </option>
                {% endfor %}
              </select>                         
            </div>  

<section id="table"></section> 

            <div class="col-sm-1">                                      
              <input type="submit" onclick="window.location.href='/dashboard/watering#'" class="btn btn-default" name="add_plant" value="Pflanze erstellen" />
            </div>
          </div>
        </form>       
      </div>    

<!-- plants table -->

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>Bewässerung</b></font></div>      
          <div class="panel-body">                       
            <div class="well well-sm">  
 
<!-- error message change name -->

{% if error_message_change_name != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_change_name }}
  </div>      
{% endif %}  

<!-- error message settings -->

{% if error_message_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}  
 
 
              <table class="table">
                <thead>
                  <th scope="col"></th> 
                  <th scope="col">Pflanze</th>   
                  <th scope="col">Gerät</th> 
                  <th scope="col">Gruppe</th> 
                  <th scope="col">Pumpdauer (s)</th>     
                  <th scope="col">Sensor Wasservorrat</th>                                   
                  <th scope="col">Sensor Feuchtigkeit</th>                                                      
                </thead>
                <tbody> 
                  {% for entry in plants_list %}
                  <tr>
                    <td style="width:3%">
                      <a href="/dashboard/watering/position/up/{{ entry.id }}#table"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                      <a href="/dashboard/watering/position/down/{{ entry.id }}#table"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                    </td>                   
                    <td>
                      <form method="POST" class="verticalform">
                      <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                    
                    </td> 
                    <td>
                      <select id="device_{{ entry.id }}" onchange="Choose_Sensor('{{ entry.id }}'), Choose_Pump('{{ entry.id }}')" class="btn btn-default dropdown-toggle" name="set_mqtt_device_{{ entry.id }}">
                        <option value= "{{ entry.mqtt_device_ieeeAddr }}" > {{ entry.mqtt_device.name }} </option>
                        <option value= "{{ entry.mqtt_device_ieeeAddr }}" > ------------------------------ </option>                                           
                        {% for each in dropdown_list_mqtt_devices %}
                          <option value="{{ each.id }}"> {{ each.name }} </option>
                        {% endfor %}
                      </select> 
                    </td>  
                    <td>
                      <select class="btn btn-default dropdown-toggle" name="set_group_{{ entry.id }}">
                        <option value= "{{ entry.group }}" > {{ entry.group }} </option>
                        <option value= "{{ entry.group }}" > --------- </option>                           
                        {% for each in dropdown_list_groups %}
                          <option value="{{ each }}"> {{ each }} </option>
                        {% endfor %}
                      </select>                    
                    </td>                                                           
                    <td>
                      <select class="btn btn-default dropdown-toggle" name="set_pumptime_{{ entry.id }}">
                        <option value= "{{ entry.pumptime }}" > {{ entry.pumptime }} </option>
                        <option value= "{{ entry.pumptime }}" > ---------- </option>
                        {% for each in dropdown_list_pumptime %}
                          <option value="{{each}}"> {{ each }} </option>
                        {% endfor %}
                      </select>  
                    </td>   
                    <td>
                      <div class="row justify-content-md-center">                      
                        <div class="col-sm-2"> 
                          <font size="+2">
                            <div class="pretty p-default p-curve p-fill p-bigger">
                              <input type="checkbox" {{ entry.control_sensor_watertank }} name="set_control_sensor_watertank_{{ entry.id }}" >
                              <div class="state">
                                <label></label>
                              </div>
                            </div>
                          </font>                      
                        </div>
                      </div>  
                    </td>        
                    <td>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-2">  
                        <font size="+2">
                          <div class="pretty p-default p-curve p-fill p-bigger">
                            <input type="checkbox" {{ entry.control_sensor_moisture }} name="set_control_sensor_moisture_{{ entry.id }}" >
                            <div class="state">
                              <label></label>
                            </div>
                          </div>
                        </font>
                        </div>
                        
                        {% if entry.control_sensor_moisture == "checked" %}
                        
                        <div class="col-sm-1">              
                          <select class="btn btn-default dropdown-toggle" name="set_moisture_{{ entry.id }}">
                            <option value= "{{ entry.moisture }}" > {{ entry.moisture }} </option>
                            <option value= "{{ entry.moisture }}" > ---------- </option>
                            {% for each in dropdown_list_moisture %}
                              <option value="{{each}}"> {{ each }} </option>
                            {% endfor %}
                          </select>                          
                        </div>
                         
                        {% endif %}
            
                      </div>
                    </td>               
                    <td><a href="/dashboard/watering/delete/{{ entry.id }}#table"><font color="red" size="5"><b>X</b></font></a></td>   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
              <input type="submit" onclick="window.location.href='/dashboard/watering#table'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>
            </form>  
          </div>  
        </div>  

<!-- informations -->

       <div class="panel panel-default">
         <div class="panel-body"> 
           <div class="well well-sm">     
             <div class="form-group">
               <div class="text-center">  
                  <h3><span class="label label-default">Hinweise</span></h3>
               </div>
               <br>
               Die Pflanzenbewässerung kann in der Aufgabenplanung als Aufgabe zu einem beliebigen Zeitpunkt gestartet werden.
               <br>
               <br>
               Alle hier eingerichteten Pflanzen werden dann versorgt.
            </div>
          </div>
        </div>
      </div>   
    </div>
  </div>    
</div>


{% endblock %}
