{% extends "bootstrap/base.html" %}

{% block title %}
  Bewässerung
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>
  
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('dashboard_led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('dashboard_sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('dashboard_system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('dashboard_system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('dashboard_system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('dashboard_system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">

<!-- add new plant -->        

      <div class="well well-sm">  

<!-- error message add plant -->

{% if error_message_add_plant != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_plant }}
  </div>      
{% endif %}               

        <form method="POST"> 
          <div class="row justify-content-md-center">
            <div class="col-sm-2">                     
              <button type="button" style="background-color:transparent" class="btn btn-secondary">Neue Pflanze:</button>
            </div>
            <div class="col-sm-3"> 
              <input type="text" class="form-control" name="set_name" value="" />
            </div>  
            <div class="col-sm-1">                     
              <button type="button" style="background-color:transparent" class="btn btn-secondary">Gerät:</button>
            </div>            
            <div class="col-sm-3"> 
              <select class="selectpicker" data-width="80%" data-live-search="true" name="set_mqtt_device_ieeeAddr">
                {% for each in dropdown_list_mqtt_devices %}
                  <option value="{{each.ieeeAddr}}"> {{ each.name }} </option>
                {% endfor %}                                                                              
              </select>                                      
            </div>  

<section id="table"></section> 

            <div class="col-sm-1">                                      
              <input type="submit" onclick="window.location.href='/dashboard/watering#'" class="btn btn-default" name="add_plant" value="Pflanze erstellen" />
            </div>
          </div>
        </form>       
      </div>    

<!-- plants table -->

      <div class="panel panel-default">
        <div class="panel-heading"><font color="white"><b>Bewässerung</b></font></div>      
          <div class="panel-body">                       
            <div class="well well-sm">  
 
<!-- error message change name -->

{% if error_message_change_name != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_change_name }}
  </div>      
{% endif %}  

<!-- error message settings -->

{% if error_message_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}  
 
            <form method="POST" class="verticalform"> 
              <table class="table">
                <thead>
                  <th scope="col"></th> 
                  <th scope="col">Pflanze</th>   
                  <th scope="col">Gerät</th> 
                  <th scope="col">Gruppe</th> 
                  <th scope="col">Pumpdauer (s)</th>    
                  <th scope="col">Sensor Feuchtigkeit</th>                      
                  <th scope="col">Sensor Wasservorrat</th>                                     
                  <th scope="col"></th>                                                    
                </thead>
                <tbody> 
                  {% for entry in plants_list %}
                  <tr>
                    <td style="width:3%">
                      <a href="/dashboard/watering/position/up/{{ entry.id }}#table"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                      <a href="/dashboard/watering/position/down/{{ entry.id }}#table"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                    </td>                   
                    <td style="width:14%">
                      <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                    
                    </td> 
                    <td style="width:22%">
                      <select id="device_{{ entry.id }}" onchange="Choose_Sensor('{{ entry.id }}'), Choose_Pump('{{ entry.id }}')" class="selectpicker" data-width="95%" data-live-search="true" name="set_mqtt_device_{{ entry.id }}">
                        <option value= "{{ entry.mqtt_device_ieeeAddr }}" > {{ entry.mqtt_device.name }} </option>
                        <optgroup>
                          {% for each in dropdown_list_mqtt_devices %}
                            <option value="{{ each.id }}"> {{ each.name }} </option>
                          {% endfor %}
                        </optgroup>                                                                                 
                      </select>                        
                    </td>  
                    <td style="width:11%">
                      <select class="selectpicker" data-width="90%" name="set_group_{{ entry.id }}">
                        <option value= "{{ entry.group }}" > {{ entry.group }} </option>
                        <optgroup>
                          {% for each in dropdown_list_groups %}
                            <option value="{{ each }}"> {{ each }} </option>
                          {% endfor %}
                        </optgroup>                                                                                 
                      </select>                                          
                    </td>                                                           
                    <td style="width:11%">
                      <select class="selectpicker" data-width="90%" name="set_pumptime_{{ entry.id }}">
                        <option value= "{{ entry.pumptime }}" > {{ entry.pumptime }} </option>
                        <optgroup>
                          {% for each in dropdown_list_pumptime %}
                            <option value="{{each}}"> {{ each }} </option>
                          {% endfor %}
                        </optgroup>                                                                                 
                      </select>                       
                    </td>          
                    <td style="width:17%">
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3">  
                        <font size="+2">
                          <div class="pretty p-default p-curve p-bigger">
                            <input type="checkbox" {{ entry.control_sensor_moisture }} name="set_control_sensor_moisture_{{ entry.id }}" >
                            <div class="state p-success">
                              <label></label>
                            </div>
                          </div>
                        </font>
                        </div>
                        
                        {% if entry.control_sensor_moisture == "checked" %}
                        
                        <div class="col-sm-7">    
                          <select class="selectpicker" data-width="100%" name="set_moisture_{{ entry.id }}">
                            <option value= "{{ entry.moisture }}" > {{ entry.moisture }} </option>
                            <optgroup>
                              {% for each in dropdown_list_moisture %}
                                <option value="{{each}}"> {{ each }} </option>
                              {% endfor %}
                            </optgroup>                                                                                 
                          </select>                                                               
                        </div>
                         
                        {% endif %}
            
                      </div>
                    </td>    
                    <td style="width:17%">
                      <div class="row justify-content-md-center">                      
                        <div class="col-sm-2"> 
                          <font size="+2">
                            <div class="pretty p-default p-curve p-bigger">
                              <input type="checkbox" {{ entry.control_sensor_watertank }} name="set_control_sensor_watertank_{{ entry.id }}" >
                              <div class="state p-success">
                                <label></label>
                              </div>
                            </div>
                          </font>                      
                        </div>
                      </div>  
                    </td>                                
                    <td style="width:5%">
                      <a href="/dashboard/watering/delete/{{ entry.id }}#table"><font color="salmon" size="5"><b>X</b></font></a>
                    </td>   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
              <input type="submit" onclick="window.location.href='/dashboard/watering#table'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>
            </form>  
          </div>  
        </div>  

<!-- informations -->

       <div class="panel panel-default">
         <div class="panel-body"> 
           <div class="well well-sm">     
             <div class="form-group">
               <div class="text-center">  
                  <h3><span class="label label-default">Hinweise</span></h3>
               </div>
               <br>
               Die Pflanzenbewässerung kann in der Aufgabenplanung als Aufgabe zu einem beliebigen Zeitpunkt gestartet werden.
               <br>
               <br>
               Alle hier eingerichteten Pflanzen werden dann versorgt.
            </div>
          </div>
        </div>
      </div>  
      </font> 
    </div>
  </div>    
</div>


{% endblock %}
