{% extends "bootstrap/base.html" %}

{% block title %}
  Sprachsteuerung
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}

  <script>
    var slider_sensitivity = document.getElementById("input_sensitivity");
    var output_sensitivity = document.getElementById("output_sensitivity");
    output_sensitivity.innerHTML = slider_sensitivity.value; 
    slider_sensitivity.oninput = function() { output_sensitivity.innerHTML = this.value }
  </script>

  <script>
    var slider_delay = document.getElementById("input_delay");
    var output_delay = document.getElementById("output_delay");
    output_delay.innerHTML = slider_delay.value;
    slider_delay.oninput = function() { output_delay.innerHTML = this.value }
  </script>

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_scheduler_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- settings navs -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_settings_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_settings_zigbee2mqtt') }}">ZigBee2MQTT</a></li>          
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_speechcontrol') }}">Sprachsteuerung</a></li>        
            <li class={{active04}}><a href="{{ url_for('dashboard_settings_user') }}">Benutzer</a></li>    
            <li class={{active05}}><a href="{{ url_for('dashboard_settings_email') }}">eMail</a></li>        
            <li class={{active06}}><a href="{{ url_for('dashboard_settings_system') }}">System</a></li> 
            <li class={{active07}}><a href="{{ url_for('dashboard_settings_system_log') }}">System Log</a></li> 
          </ul>
        </div>
      </nav>

<!-- settings snowboy -->

      <div class="panel panel-default">
      <div class="panel-heading"><font color="black"><b>Sprachsteuerung</b></font></div>
        <div class="panel-body">   
          <form method="POST">
            <div class="well well-sm">  
              <div class="pretty p-default p-round">
                <input {{check_value_speechcontrol[0]}} type="radio" value="snowboy" name="radio_speechcontrol">
                <div class="state">
                  <label>SnowBoy</label>
                </div>
              </div>
              <br>
              <div class="pretty p-default p-round">
                <input {{check_value_speechcontrol[1]}} type="radio" value="speech_recognition_provider" name="radio_speechcontrol">
                <div class="state">
                  <label>Onlineanbieter</label>
                </div>
              </div>
              <br>

<section id="snowboy_settings"></section> 

              <div class="pretty p-default p-round">
                <input {{check_value_speechcontrol[2]}} type="radio" value="False" name="radio_speechcontrol">
                <div class="state">
                  <label>Sprachsteuerung deaktivieren</label>
                </div>
              </div>
            </div>
          <font color="red"><b>Flask neustarten, wenn Einstellungen der Sprachsteuerung geändert werden</b></font>
          <br>     
          <br>        
          <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#'" class="btn btn-default" value="Auswählen"/>
          </form>       
        </div>  
      </div>           

<!-- ------------------------ -->
<!-- GENERAL SNOWBOY SETTINGS -->
<!-- ------------------------ -->

{% if speechcontrol_setting != "False" %}

<!-- snowboy error message snowboy -->

    {% if error_message_snowboy != "" %}
      <div class="alert alert-danger" role="alert">
        {{ error_message_snowboy }}
      </div>      
    {% endif %}    

<!-- snowboy settings -->

      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="text-center">   
            <h3><span class="label label-default">SnowBoy Einstellungen</span></h3>
          </div>          
          <br>               
          <form method="POST">
            <div class="well well-sm">Empfindlichkeit: <span id="output_sensitivity"></span>
            <br>
            <br>
              <div class="slidecontainer">                        
                <input id="input_sensitivity" type="range" class="slider" name="set_sensitivity" min="0" max="100" value="{{ sensitivity }}" />
              </div>
            </div>
            <div class="well well-sm">Verzögerungswert: <span id="output_delay"></span>
            <br>
            <br>
              <div class="slidecontainer">                        
                <input id="input_delay" type="range" class="slider" name="set_delay" min="1" max="10" value="{{ delay }}" />
              </div>
            </div>         

<section id="table_tasks"></section> 

            <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#snowboy_settings'" class="btn btn-default" name="change_settings" value="Einstellungen speichern" />       
          </form>  
        </div>                    
      </div> 

<!-- ------- -->
<!-- SNOWBOY -->
<!-- ------- -->

{% if speechcontrol_setting == "snowboy" %}


<!-- snowboy error message file missing -->

{% if error_message_hotword != "" %}
  <div class="alert alert-danger" role="alert">
    Hotword-Datein fehlen: {{ error_message_hotword }}
  </div>      
{% endif %} 


<!-- snowboy task table -->

      <div class="panel panel-default">     
        <div class="panel-body">
          <div class="well well-sm">


<!-- error message table -->

{% if error_message_table != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_table }}
  </div>      
{% endif %}     

<!-- error message snowboy tasks -->

{% if error_message_snowboy_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_snowboy_tasks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 


            <table class="table">
              <thead>                      
                <th scope="col">Name</th> 
                <th scope="col">Aufgabe</th> 
              </thead>
              <tbody> 
                {% for entry in snowboy_task_list %}
                <tr>
                  <td>
                  <form method="POST" class="verticalform">
                    <input type="text" class="form-control" name="set_snowboy_name_{{ entry.id }}" value="{{ entry.name }}" />                    
                  </td> 
                  <td>
                    <input type="text" class="form-control" name="set_snowboy_task_{{ entry.id }}" value="{{ entry.task }}" />                    
                  </td> 
                  <td></td>
                  <td><a href="/dashboard/settings/speechcontrol/snowboy/delete/task/{{ entry.id }}#table_tasks"><font color="red" size="5"><b>X</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>
          <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#table_tasks'" class="btn btn-default" name="change_snowboy_task" value="Änderungen speichern"/> 
          </form> 
        </div>  
      </div>  

<!-- snowboy add task -->    
  
      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
            <div class="text-center">   
              <h3><span class="label label-default">Neue Aufgabe erstellen</span></h3>
            </div>          
            <br>
            <div class="well well-sm">
              <table class="table">
                <thead>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <th>Aufgabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>snowboy_active</td>
                    <td>SnowBoy für weitere Befehle aktivieren, wird nach Ablauf des eingestellten Verzögerungswerts oder einem empfangenden Befehl wieder zurückgesetzt <br>
                        >>> Blaue LEDs vom Snowboy leuchten im aktiven Modus (bei Verwendung des ReSpeaker MicArrays)</td>
                  </tr> 
                  <tr>
                    <td>scene:wohnzimmer:relax:100</td>
                    <td>starte LEDs der Gruppe "wohnzimmer" mit Szene "relex" >>> Optionale Einstellung: globale Helligkeit 100 %</td>
                  </tr>
                  <tr>
                    <td>program:schlafzimmer:aufwachen</td>
                    <td>starte LEDs der Gruppe "schlafzimmer" mit Programm "aufwachen"</td>
                  </tr>
                  <tr>
                    <td>led_off:group:flur, bad</td>
                    <td>LEDs der Gruppe "flur" und "bad" ausschalten</td>
                  </tr>
                  <tr>
                    <td>led_off:all</td>
                    <td>alle LEDs ausschalten</td>
                  </tr> 
                </tbody>
              </table>  
 
<section id="add_task"></section>
 
            </div>            
            <b>HINWEIS:</b> Hotword-Dateiname soll gleich dem Aufgabennamen und auszusprechenden Wort sein
            <br>
            <br>

<!-- input error message -->

{% if error_message != "" %}
<div class="alert alert-danger" role="alert">
  {{ error_message }}
</div>      
{% endif %} 

            <form method="POST">
              <div class="well well-sm">Name:            
                <div class="form-group">
                  <input type="text" class="form-control" name="set_snowboy_name" value="{% if snowboy_name != None %}{{ snowboy_name }}{% endif %}" />
                </div>    
              </div>                      
              <div class="well well-sm">Aufgabe:            
                <div class="form-group">
                  <input type="text" class="form-control" name="set_snowboy_task" value="{% if snowboy_task != None %}{{ snowboy_task }}{% endif %}" /> 
                </div>    
              </div>           

<section id="fileupload"></section>

              <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#add_task'" class="btn btn-default" name="add_snowboy_task" value="Aufgabe anlegen" />
            </form>
          </div>  
        </div>
      </div>       

{% endif %}

<!-- --------------------------- -->
<!-- SPEECH_RECOGNITION_PROVIDER -->
<!-- --------------------------- -->

{% if speechcontrol_setting == "speech_recognition_provider" %}

<section id="speech_recognition_provider_settings"></section>

<!-- speech_recognition_provider settings -->

      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="well well-sm">     
            <form method="POST">   
              <div class="form-group">
                <div class="text-center">  
                  <h3><span class="label label-default">Onlineanbieter Einstellungen</span></h3>
                </div>
                <br>

<!-- error message speech_recognition_provider -->

{% if error_message_speech_recognition_provider_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_speech_recognition_provider_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 

                <div class="well well-sm">
                  <div class="row justify-content-md-center">
                    <div class="col-sm-2">
                      Snowboy Hotword:
                    </div>
                    <div class="col-sm-1">   
                      <select class="btn btn-default dropdown-toggle" name="set_snowboy_hotword">
                        {% if snowboy_hotword != "" %}
                          <option value= "{{ snowboy_hotword }}" > {{ snowboy_hotword }} </option>
                          <option value= "{{ snowboy_hotword }}" > -------------------- </option> 
                        {% else %}     
                          <option value= "{{ "" }}" > Hotwords wählen: </option>
                          <option value= "{{ "" }}" > -------------------- </option> 
                        {% endif %}   
                        {% for each in hotword_file_list %}
                        <option value="{{ each }}"> {{ each }} </option>
                        {% endfor %}
                        <option value= "{{ "" }}" > -------------------- </option> 
                        <option value= "{{ "" }}" > kein Snowboy Hotword </option> 
                      </select>    
                    </div>
                  </div>                     
                </div>
                <div class="well well-sm">
                  <div class="row justify-content-md-center">
                    <div class="col-sm-2">
                      Onlinedienst:
                    </div>
                    <div class="col-sm-1">                
                      <select class="btn btn-default dropdown-toggle" name="set_speech_recognition_provider">
                        {% if speech_recognition_provider != "" %}
                          <option value= "{{ speech_recognition_provider }}" > {{ speech_recognition_provider }} </option>
                          <option value= "{{ speech_recognition_provider }}" > ---------- </option>   
                        {% else %}     
                          <option value= "{{ "" }}" > Provider wählen: </option>
                          <option value= "{{ "" }}" > -------------------- </option>                                             
                        {% endif %}   
                        {% for each in dropdown_list_speech_recognition_provider %}
                        <option value="{{ each }}"> {{ each }} </option>
                        {% endfor %}
                        <option value= "{{ "" }}" > -------------------- </option> 
                        <option value= "{{ "" }}" > kein Provider </option> 
                      </select>    
                    </div>
                  </div>  
                </div> 
                <div class="well well-sm">Username / Client ID (Optional):            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_speech_recognition_provider_username" value="{% if speech_recognition_provider_username != None %}{{ speech_recognition_provider_username }}{% endif %}" /> 
                  </div>                  
                </div> 
                <div class="well well-sm">Key / Credentials:            
                  <div class="form-group">
                    <input type="text" class="form-control" name="set_speech_recognition_provider_key" value="{% if speech_recognition_provider_key != None %}{{ speech_recognition_provider_key }}{% endif %}" /> 
                  </div>                  
                </div> 
              </div>   

<section id="table"></section>

              <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#speech_recognition_provider_settings'" class="btn btn-default" name="set_speech_recognition_provider_settings" value="Einstellungen speichern" />
            </form>   
          </div>  
        </div>
      </div>


<!-- speech_recognition_provider task table -->

      <div class="panel panel-default">     
        <div class="panel-body">
          <div class="well well-sm">


<!-- error message table -->

{% if error_message_table != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_table }}
  </div>      
{% endif %}     

<!-- error message speech_recognition_provider tasks -->

{% if error_message_speech_recognition_provider_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_speech_recognition_provider_tasks %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 


            <table class="table">
              <thead>                      
                <th scope="col">Aufgabe</th> 
                <th scope="col">Schlüsselwörter</th> 
                <th scope="col">Parameter</th>  
              </thead>
              <tbody> 
                {% for entry in speech_recognition_provider_task_list %}
                <tr>
                  <td>
                  <form method="POST" class="verticalform">
                    <input type="text" class="form-control" name="set_speech_recognition_provider_task_{{ entry.id }}" value="{{ entry.task }}" />                    
                  </td> 
                  <td>
                    <input type="text" class="form-control" name="set_speech_recognition_provider_keywords_{{ entry.id }}" value="{{ entry.keywords }}" />                    
                  </td>  
                  <td>
                    <input type="text" class="form-control" name="set_speech_recognition_provider_parameters_{{ entry.id }}" value="{{ entry.parameters }}" />                    
                  </td>  
                  <td></td>
                  <td><a href="/dashboard/settings/speechcontrol/speech_recognition_provider/delete/task/{{ entry.id }}#table"><font color="red" size="5"><b>X</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>
          <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#table'" class="btn btn-default" name="change_speech_recognition_provider_task" value="Änderungen speichern"/> 
          </form> 
        </div>  
      </div>  

<!-- speech_recognition_provider add task -->    

<section id="add_task"></section>
  
      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
            <div class="text-center">   
              <h3><span class="label label-default">Neue Aufgabe erstellen</span></h3>
            </div>          
            <br>

<!-- input error message -->

{% if error_message != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>      
{% endif %} 

            <form method="POST">
              <div class="well well-sm">Aufgabe:            
                <div class="form-group">
                  <input type="text" class="form-control" name="set_speech_recognition_provider_task" value="{% if speech_recognition_provider_task != None %}{{ speech_recognition_provider_task }}{% endif %}" />
                </div>    
              </div>    
              <div class="well well-sm">Schlüsselwörter:          
                <div class="form-group">
                  <input type="text" class="form-control" name="set_speech_recognition_provider_keywords" value="{% if speech_recognition_provider_keywords != None %}{{ speech_recognition_provider_keywords }}{% endif %}" /> 
                </div>    
              </div>                                           
              <div class="well well-sm">Parameter:          
                <div class="form-group">
                  <input type="text" class="form-control" name="set_speech_recognition_provider_parameters" value="{% if speech_recognition_provider_parameters != None %}{{ speech_recognition_provider_parameters }}{% endif %}" /> 
                </div>    
              </div>    

<section id="fileupload"></section>

              <input type="submit" onclick="window.location.href='/dashboard/settings/speechcontrol#add_task'" class="btn btn-default" name="add_speech_recognition_provider_task" value="Aufgabe anlegen" />
            </form>
          </div>  
        </div>
      </div>       

{% endif %}


<!-- --------------------------------------- -->
<!-- SNOWBOY and SPEECH_RECOGNITION_PROVIDER -->
<!-- --------------------------------------- -->

      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
            <div class="text-center">     
              <h3><span class="label label-default">Hotword hochladen</span></h3>    
            </div>
            <br>
 
<!-- error message fileupload --> 

{% if error_message_fileupload != "" %}
<div class="alert alert-danger" role="alert">
  {{ error_message_fileupload }}
</div>      
{% endif %}   

            <div class="well well-sm">
              <a href="https://snowboy.kitt.ai">Hotword erstellen</a>
              <br>
              <br>
              <form method=post enctype=multipart/form-data>
                <input type=file name=file>
            </div>
                <input type=submit onclick="window.location.href='/dashboard/settings/speechcontrol#fileupload'" class="btn btn-default" name="file_upload" value="Datei hochladen">
              </form>   
          </div> 
        </div>                   
      </div>  

<!-- snowboy table hotwords --> 

<section id="table_hotwords"></section>

      <div class="panel panel-default">
        <div class="panel-body"> 
          <div class="well well-sm">                     
            <table class="table">
              <thead> 
                <th scope="col">Hotword Datein</th>   
              </thead>             
              <tbody> 
                {% for entry in hotword_file_list %}
                <tr>
                  <td>{{ entry }}</td> 
                  <td class="text-right"><a href="/dashboard/settings/speechcontrol/snowboy/download/hotword/{{ entry }}#table_hotwords"><b>herunterladen</b></font></a></td>
                  <td class="text-right"><a href="/dashboard/settings/speechcontrol/snowboy/delete/hotword/{{ entry }}#table_hotwords"><font color="red" size="5"><b>X</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>
        </div>  
      </div>   

{% endif %}

    </div>
  </div>    
</div>

{% endblock %}
