{% extends "bootstrap/base.html" %}

{% block title %}
  Sensordaten
{% endblock %}

{% block styles %}
  {{super()}}

  <script>
    var sensor_options_list_1  = '{{ mqtt_device_1_inputs }}';
    var sensor_options_list_1  = sensor_options_list_1.split(",");
    var sensor_options_list_2  = '{{ mqtt_device_2_inputs }}';
    var sensor_options_list_2  = sensor_options_list_2.split(",");
    var sensor_options_list_3  = '{{ mqtt_device_3_inputs }}';
    var sensor_options_list_3  = sensor_options_list_3.split(",");
    var sensor_options_list_4  = '{{ mqtt_device_4_inputs }}';
    var sensor_options_list_4  = sensor_options_list_4.split(",");
    var sensor_options_list_5  = '{{ mqtt_device_5_inputs }}';
    var sensor_options_list_5  = sensor_options_list_5.split(",");
    var sensor_options_list_6  = '{{ mqtt_device_6_inputs }}';
    var sensor_options_list_6  = sensor_options_list_6.split(",");
    var sensor_options_list_7  = '{{ mqtt_device_7_inputs }}';
    var sensor_options_list_7  = sensor_options_list_7.split(",");
    var sensor_options_list_8  = '{{ mqtt_device_8_inputs }}';
    var sensor_options_list_8  = sensor_options_list_8.split(",");
    var sensor_options_list_9  = '{{ mqtt_device_9_inputs }}';
    var sensor_options_list_9  = sensor_options_list_9.split(",");
    var sensor_options_list_10 = '{{ mqtt_device_10_inputs }}';
    var sensor_options_list_10 = sensor_options_list_10.split(",");
    var sensor_options_list_11 = '{{ mqtt_device_11_inputs }}';
    var sensor_options_list_11 = sensor_options_list_11.split(",");
    var sensor_options_list_12 = '{{ mqtt_device_12_inputs }}';
    var sensor_options_list_12 = sensor_options_list_12.split(",");
    var sensor_options_list_13 = '{{ mqtt_device_13_inputs }}';
    var sensor_options_list_13 = sensor_options_list_13.split(",");
    var sensor_options_list_14 = '{{ mqtt_device_14_inputs }}';
    var sensor_options_list_14 = sensor_options_list_14.split(",");
    var sensor_options_list_15 = '{{ mqtt_device_15_inputs }}';
    var sensor_options_list_15 = sensor_options_list_15.split(",");
    var sensor_options_list_16 = '{{ mqtt_device_16_inputs }}';
    var sensor_options_list_16 = sensor_options_list_16.split(",");
    var sensor_options_list_17 = '{{ mqtt_device_17_inputs }}';
    var sensor_options_list_17 = sensor_options_list_17.split(",");
    var sensor_options_list_18 = '{{ mqtt_device_18_inputs }}';
    var sensor_options_list_18 = sensor_options_list_18.split(",");
    var sensor_options_list_19 = '{{ mqtt_device_19_inputs }}';
    var sensor_options_list_19 = sensor_options_list_19.split(",");
    var sensor_options_list_20 = '{{ mqtt_device_20_inputs }}';
    var sensor_options_list_20 = sensor_options_list_20.split(",");
    var sensor_options_list_21 = '{{ mqtt_device_21_inputs }}';
    var sensor_options_list_21 = sensor_options_list_21.split(",");
    var sensor_options_list_22 = '{{ mqtt_device_22_inputs }}';
    var sensor_options_list_22 = sensor_options_list_22.split(",");
    var sensor_options_list_23 = '{{ mqtt_device_23_inputs }}';
    var sensor_options_list_23 = sensor_options_list_23.split(",");
    var sensor_options_list_24 = '{{ mqtt_device_24_inputs }}';
    var sensor_options_list_24 = sensor_options_list_24.split(",");
    var sensor_options_list_25 = '{{ mqtt_device_25_inputs }}';
    var sensor_options_list_25 = sensor_options_list_25.split(",");

    var sensor_options = {};

    sensor_options['1']  = sensor_options_list_1;
    sensor_options['2']  = sensor_options_list_2;
    sensor_options['3']  = sensor_options_list_3;
    sensor_options['4']  = sensor_options_list_4;
    sensor_options['5']  = sensor_options_list_5;
    sensor_options['6']  = sensor_options_list_6;
    sensor_options['7']  = sensor_options_list_7;
    sensor_options['8']  = sensor_options_list_8;
    sensor_options['9']  = sensor_options_list_9;
    sensor_options['10'] = sensor_options_list_10;
    sensor_options['11'] = sensor_options_list_11;
    sensor_options['12'] = sensor_options_list_12;
    sensor_options['13'] = sensor_options_list_13;
    sensor_options['14'] = sensor_options_list_14;
    sensor_options['15'] = sensor_options_list_15;
    sensor_options['16'] = sensor_options_list_16;
    sensor_options['17'] = sensor_options_list_17;
    sensor_options['18'] = sensor_options_list_18;
    sensor_options['19'] = sensor_options_list_19;
    sensor_options['20'] = sensor_options_list_20;
    sensor_options['21'] = sensor_options_list_21;
    sensor_options['22'] = sensor_options_list_22;
    sensor_options['23'] = sensor_options_list_23;
    sensor_options['24'] = sensor_options_list_24;
    sensor_options['25'] = sensor_options_list_25;

    function Choose_Sensor(entry_id) {

      var device_name = "device_" + entry_id
      var sensor_list_name = "selected_sensor_" + entry_id

      var device = document.getElementById(device_name);
      var sensor_list = document.getElementById(sensor_list_name);
      var selected_sensor = device.options[device.selectedIndex].value;
      while (sensor_list.options.length) {
        sensor_list.remove(0);
      }
      var sensors = sensor_options[selected_sensor];
      if (sensors) {
        var i;
        for (i = 0; i < sensors.length; i++) {
          var sensor = new Option(sensors[i], i);
          sensor_list.options.add(sensor);
        }
      }
    } 
  </script>

  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_scheduler') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        {% if role == "superuser" %}
          <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
    <div class="row">
      <div class="col">

<!-- sensordata navs -->

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li class={{jobs}}><a href="{{ url_for('dashboard_sensordata_jobs') }}">Sensordaten Jobs </a></li> 
              <li class={{statistics}}><a href="{{ url_for('dashboard_sensordata_statistics') }}">Sensordaten Statistiken</a></li>   
            </ul>
          </div>
        </nav>       


<!-- add sensordata job -->        

    <div class="well well-sm">     

<!-- error message add job -->

{% if error_message_add_sensordata_job != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_sensordata_job }}
  </div>      
{% endif %}              

      <form method="POST"> 
        <div class="row justify-content-md-center">
          <div class="col-sm-2">  
            <button type="button" style="background-color:transparent" class="btn btn-secondary">Neuer Job:</button>                   
          </div>
          <div class="col-sm-3"> 
            <input type="text" class="form-control" name="set_job_name" value="{% if job_name != None %}{{ job_name }}{% endif %}" />                         
          </div>  
          <div class="col-sm-1">
            <button type="button" style="background-color:transparent" class="btn btn-secondary">Datei:</button>
          </div>
          <div class="col-sm-3"> 
            <input type="text" class="form-control" name="set_job_filename" value="{% if job_filename != None %}{{ job_filename }}{% endif %}" />                         
          </div>           
          <div class="col-sm-1">                                      
            <input type="submit" onclick="window.location.href='/dashboard/sensordata#'" class="btn btn-default" name="add_job" value="Job erstellen" />
        </form>
        </div>
      </div>
    </div>  

<section id="table"></section>

<!-- sensordata table -->

        <div class="panel panel-default">
          <div class="panel-heading"><font color="black"><b>Sensordaten Jobs</b></font></div>    
            <div class="panel-body"> 
            <div class="well well-sm">

<!-- error message settings -->

{% if error_message_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- error message change settings -->

{% if error_message_change_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_change_settings %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}               
              
              <table class="table">
                <thead>
                  <th scope="col">ID</th>  
                  <th scope="col">Job</th>  
                  <th scope="col">Datei</th>   
                  <th scope="col">Gerät</th>
                  <th scope="col">Sensor</th>
                  <th scope="col">Sensor-Inputs speichern</th>
                </thead>
                <tbody> 
                  {% for entry in list_sensordata %}
                  <tr>
                    <td>{{ entry.id }}</td> 
                    <td>
                    <form method="POST" class="verticalform">
                      <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                    
                    </td> 
                    <td>
                      <input type="text" class="form-control" name="set_filename_{{ entry.id }}" value="{{ entry.filename }}" />                    
                    </td> 
                    <td>
                      <select id="device_{{ entry.id }}" onchange="Choose_Sensor('{{ entry.id }}')" class="btn btn-default dropdown-toggle" name="set_mqtt_device_id_{{ entry.id }}">
                        {% if entry.mqtt_device_id == "None" or  entry.mqtt_device_id == None %} 
                         <option value= "" > Sensor wählen </option>
                         <option value= "" > -------------------- </option>                           
                        {% else %}
                          <option value= "{{ entry.mqtt_device_id }}" > {{ entry.mqtt_device.name }} </option>
                          <option value= "{{ entry.mqtt_device_id }}" > -------------------- </option>
                        {% endif %}
                        {% for each in dropdown_list_mqtt_devices %}
                          <option value="{{ each.id }}"> {{ each.name }} </option>
                        {% endfor %}
                      </select> 
                    </td>
                    <td>                  
                      <div class="row justify-content-md-center">
                        <div class="col-sm-4">                       
                          <select id="selected_sensor_{{ entry.id }}" class="btn btn-default dropdown-toggle" name="set_sensor_{{ entry.id }}">
                            <option value= "{{ entry.sensor_key }}" > {{ entry.sensor_key }} </option>
                            <option value= "{{ entry.sensor_key }}" > -------------------- </option>
                            {% if entry.sensor_key != "None" and  entry.sensor_key != None %}   
                              {% for each in entry.mqtt_device.inputs.split(',') %}
                                <option value= "{{ each }}" > {{ each }} </option>
                              {% endfor %}
                            {% endif %}
                          </select>  
                        </div>
                      </div>
                    </td> 
                    <td>
                      <font size="+2">
                        <div class="pretty p-default p-curve p-fill p-bigger">
                            <input type="checkbox" {{ entry.always_active }} name="checkbox_table_{{ entry.id }}" >
                          <div class="state">
                            <label></label>
                          </div>
                        </div>
                      </font>
                    </td>           
                    <td><a href="/dashboard/sensordata/jobs/delete/job/{{ entry.id }}#table"><font color="red" size="5"><b>X</b></font></a></td>   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
              <input type="submit" onclick="window.location.href='/dashboard/sensordata/jobs#table'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>             
            </form> 
          </div>  
        </div>  


<!-- informations -->

       <div class="panel panel-default">
         <div class="panel-body"> 
           <div class="well well-sm">     
             <div class="form-group">
               <div class="text-center">  
                  <h3><span class="label label-default">Hinweise</span></h3>
               </div>
               <br>
               Datein
               <br>
               <br>
               - Die Sensordaten werden in den angegebenen Datein gespeichert
               <br>
               - Diese Datein werden automatisch angelegt und können können von beliebig vielen Jobs gemeinsam verwendet werden
               <br>               
               - Die Daten können innerhalb von SmartHome unter Sensordaten/Statistiken ausgewertet werden
               <br>               
               - In der Tablle "Datein" lassen sich auch die Datein herunterladen und mit einem anderen Programm verarbeiten
               <br>
               <br>
               <br>               
               Option Sensor-Inputs speichern
               <br>
               <br>               
               - Mit dieser Option können Sensordaten von passiven Sensoren aufgezeichnet werden
               <br>               
               - Passive Sensoren senden Daten von sich aus und können nicht direkt abgefragt werden
               <br>               
               - Aktive Sensoren senden keine Daten von sich aus und müssen mit einem Auftrag in der Aufgabenplanung dazu aufgefordert werden
            </div>
          </div>
        </div>
      </div>   


<section id="table_files"></section> 

<!-- error message file -->

{% if error_message_file != "" %}
<div class="alert alert-danger" role="alert">
  {{ error_message_file }}
</div>      
{% endif %}

<!-- sensorfile table -->

      <div class="panel panel-default">
        <div class="panel-body">  
          <div class="well well-sm">
            <table class="table">
              <thead>                      
                <th scope="col">Datein</th> 
              </thead>              
              <tbody> 
                {% for entry in list_files %}
                <tr>
                  <td>{{ entry }}</td> 
                  <td class="text-right"><a href="/dashboard/sensordata/jobs/download/file/{{ entry }}?time={{ timestamp }}"><b>herunterladen</b></font></a></td>  
                  <td class="text-right"><a href="/dashboard/sensordata/jobs/delete/file/{{ entry }}#table_files"><font color="red" size="5"><b>X</b></font></a></td>  
                </tr>
                {% endfor %} 
              </tbody>
            </table>  
          </div>
        </div>
      </div>  
    </div>
  </div>       
</div>

{% endblock %}
