{% extends "bootstrap/base.html" %}

{% block title %}
  System / Controller
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>
  
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('dashboard_led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('dashboard_sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_system_host') }}"><font color="black">Host</font></a></li>              
              <li><a href="{{ url_for('dashboard_system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('dashboard_system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('dashboard_system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('dashboard_system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('dashboard_system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">
          
      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>System / Controller</b></font>
            </div>              
          </div>  
        </div>     
      </div>             


<!-- error message controller -->

{% if error_message_add_controller != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_add_controller }}
  </div>      
{% endif %}    


<!-- add new controller -->

      <div class="well well-sm">
        <form method="POST"> 
        <div class="row justify-content-md-center">             
          <div class="col-sm-3">
            <select class="selectpicker" data-width="100%" data-live-search="true" name="set_mqtt_device_ieeeAddr">
              {% for each in dropdown_list_controller %}
                <option value="{{ each.ieeeAddr }}" > {{ each.name }} </option>
              {% endfor %}                                                                          
            </select>                                 
          </div>
          <div class="col-sm-2">
            <input type="submit" onclick="window.location.href='/dashboard/system/controller#'" class="btn btn-default" name="add_controller" value="Controller hinzufügen" />
          </div>         
        </div>
        </form> 
      </div>


<!-- error message controller tasks -->

{% if error_message_controller_tasks != "" %}
  <div class="alert alert-danger" role="alert">
    {% for message in error_message_controller_tasks %}
      {{ message }} <br>
    {% endfor %}
  </div>      
{% endif %}  


<!-- controller table -->

<div class="panel-group">

{% for entry in data_controller %}

<section id="table_{{entry.id}}"></section>  

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse{{entry.id}}"><font color="white"><b> {{entry.mqtt_device.name}} </b></font></a>
        </h4>
      </div>   
      <div id="collapse{{entry.id}}" class="panel-collapse collapse {{entry.collapse}} ">      
        <div class="panel-body">      
          <div class="well well-sm">
            <form method="POST"> 
              <table class="table">
                <thead>  
                  <th scope="col" style="width:3%"></th> 
                  <th scope="col" style="width:17%">Controller</th>                     
                  <th scope="col" style="width:17%">Ereignisse</th> 
                  <th scope="col" style="width:66%">Aufgabe</th> 
                  <th scope="col" style="width:5%"></th>                   
                </thead>
                <tbody> 
                  <tr>
                    <td>
                      <a href="/dashboard/system/controller/position/up/{{ entry.id }}#table_{{entry.id}}"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                      <a href="/dashboard/system/controller/position/down/{{ entry.id }}#table_{{entry.id}}"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                    </td>                     
                    <td> {{ entry.mqtt_device.name }} </td>                
                    <td> {{ entry.command_1 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td> 
                      <input type="text" class="form-control" name="set_task_1_{{entry.id}}" value="{{entry.task_1}}" />  
                    </td>
                    <td><a href="/dashboard/system/controller/delete/{{ entry.id }}#"><font color="salmon" size="5"><b>X</b></font></a></td> 
                  </tr>
                  {% if entry.command_2 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td> {{ entry.command_2 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td>
                      <input type="text" class="form-control" name="set_task_2_{{entry.id}}" value="{{entry.task_2}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_3 != "None" %}
                    <tr>
                    <td></td>
                    <td></td> 
                    <td> {{ entry.command_3 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td>
                      <input type="text" class="form-control" name="set_task_3_{{entry.id}}" value="{{entry.task_3}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_4 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td style="width:17%"> {{ entry.command_4 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td style="width:66%"> 
                      <input type="text" class="form-control" name="set_task_4_{{entry.id}}" value="{{entry.task_4}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_5 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td> {{ entry.command_5 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td> 
                      <input type="text" class="form-control" name="set_task_5_{{entry.id}}" value="{{entry.task_5}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_6 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td> {{ entry.command_6 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td> 
                      <input type="text" class="form-control" name="set_task_6_{{entry.id}}" value="{{entry.task_6}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_7 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td> {{ entry.command_7 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td> 
                      <input type="text" class="form-control" name="set_task_7_{{entry.id}}" value="{{entry.task_7}}" />  
                    </td>
                    </tr>  
                  {% endif %}  
                  {% if entry.command_8 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td> {{ entry.command_8 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td> 
                      <input type="text" class="form-control" name="set_task_8_{{entry.id}}" value="{{entry.task_8}}" />  
                    </td>
                    </tr>  
                  {% endif %}   
                  {% if entry.command_9 != "None" %}
                    <tr>
                    <td></td> 
                    <td></td>
                    <td> {{ entry.command_9 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </td>
                    <td> 
                      <input type="text" class="form-control" name="set_task_9_{{entry.id}}" value="{{entry.task_9}}" />  
                    </td>
                    </tr>  
                  {% endif %}                                                                  
                </tbody>
              </table>   
            </div>
            <input type="submit" onclick="window.location.href='/dashboard/system/controller#table_{{entry.id}}'" class="btn btn-default" name="save_task_settings" value="Änderungen speichern" />
            </form> 
          </div>        
        </div> 
      </div>   
      <br>  

{% endfor %} 

      <br>
      <br>      


<!-- informations -->


      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
            </h4>
          </div>   
          <div id="collapse_info" class="panel-collapse collapse ">      
            <div class="panel-body">      
              <div class="well well-sm">   
                <table class="table">
                <thead>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <th>Aufgabe</th>
                    <th>Erklärung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>                   
                  <tr>
                    <td>scene /// wohnzimmer /// relax /// 100</td>
                    <td>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-12"> 
                          Starte LEDs der Gruppe "wohnzimmer" mit Szene "relax" 
                        </div>
                      </div>  
                      <br>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          Optional
                        </div>
                        <div class="col-sm-9"> 
                          globale Helligkeit 100 % 
                        </div>                        
                      </div>                                            
                  </tr>
                  <tr>
                    <td>brightness /// schlafzimmer /// TURN_UP</td>
                    <td>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-12"> 
                          Erhöhe Helligkeit der LEDs Gruppe "schlafzimmer" um 20% 
                        </div>
                      </div>  
                      <br>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          TURN_UP
                        </div>
                        <div class="col-sm-9"> 
                          20 % heller 
                        </div>                        
                      </div>                                            
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          TURN_DOWN 
                        </div>
                        <div class="col-sm-9"> 
                          20 % dunkler 
                        </div>                        
                      </div>
                    </td>
                  </tr>                                   
                  <tr>
                    <td>led_off /// group /// flur, bad</td>
                    <td>LEDs der Gruppe "flur" und "bad" ausschalten</td>
                  </tr>               
                  <tr>
                    <td>led_off /// ALL</td>
                    <td>alle LEDs ausschalten</td>
                  </tr> 
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>                   
                  <tr>
                    <td>device /// Steckdose_TV /// state:OFF</td>   
                    <td>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-12"> 
                          Gerät Steckdose_TV ausschalten
                        </div>
                      </div>  
                      <br>
                      {% for device in list_device_command_options %}
                        <div class="row justify-content-md-center">
                          <div class="col-sm-3">
                            {{ device[0] }}
                          </div>
                          <div class="col-sm-9">          
                            {{ device[1] | replace(' ', ' | ') | replace('{', '') | replace('}', '') | replace(',', ', ') | replace('"', '') }} 
                          </div>
                        </div> 
                      {% endfor %}                                            
                    </td>
                  </tr>  
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>                   
                  <tr>
                    <td>program /// SUNRISE /// START</td>
                    <td>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-12"> 
                          Programm "SUNRISE" starten 
                        </div>
                      </div>  
                      <br>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          START 
                        </div>
                        <div class="col-sm-9"> 
                          starten 
                        </div>                        
                      </div>                                            
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          STOP 
                        </div>
                        <div class="col-sm-9"> 
                          beenden 
                        </div>                        
                      </div>                                        
                    </td>                    
                  </tr>     
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>   
                  <tr>
                    <td>spotify /// playlist /// PC /// Gemischt /// 50</td>
                    <td>Playlist "Gemischt" auf Gerät "PC" mit Lautstärke 50 % starten</td>
                  </tr>     
                  <tr>
                    <td>spotify /// track /// PC /// Go Time /// Young Mozart /// 25</td>
                    <td>Track "Go Time" von "Young Mozart" auf Gerät "PC" mit Lautstärke 25 % starten</td>
                  </tr>     
                  <tr>
                    <td>spotify /// album /// PC /// Hold On /// Nano /// 60</td>
                    <td>Album "Hold On" von "Nano" auf Gerät "PC" mit Lautstärke 60 % starten</td>
                  </tr>                                    
                  <tr>
                    <td>spotify /// PLAY</td>
                    <td>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-12"> 
                          letztes Lied / Album / Playlist auf aktiven Spotify-Gerät starten
                        </div>
                      </div>  
                      <br>
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          PLAY 
                        </div>
                        <div class="col-sm-9"> 
                          abspielen starten
                        </div>                        
                      </div>                                            
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          PREVIOUS 
                        </div>
                        <div class="col-sm-9"> 
                          vorheriger Track 
                        </div>                        
                      </div>    
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          NEXT 
                        </div>
                        <div class="col-sm-9"> 
                          nächster Track 
                        </div>                        
                      </div>                        
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          STOP 
                        </div>
                        <div class="col-sm-9"> 
                          abspielen stoppen
                        </div>                        
                      </div>                        
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          TURN_UP 
                        </div>
                        <div class="col-sm-9"> 
                          10 % lauter
                        </div>                        
                      </div>                        
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          TURN_DOWN 
                        </div>
                        <div class="col-sm-9"> 
                          10 % leiser
                        </div>                        
                      </div> 
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          VOLUME /// 70 
                        </div>
                        <div class="col-sm-9"> 
                          Lautstärke auf 70%
                        </div>
                      </div>                        
                      <br>        
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          Spotify - Geräte:
                        </div>
                        <div class="col-sm-9">   
                          {% for device in spotify_devices %}
                            {% if device['type'] != "Smartphone" %}
                              {{ device['name'] }} |
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>                     
                      <div class="row justify-content-md-center">
                        <div class="col-sm-3"> 
                          Spotify - Playlists:
                        </div>
                        <div class="col-sm-9">   
                          {% for playlist in spotify_playlists %}
                            {% if playlist['name'] != "Discover Weekly" %}
                              {{ playlist['name'] }} |
                            {% endif %}
                          {% endfor %}    
                        </div>
                      </div>                                                                                    
                    </td>                    
                  </tr>                                                                               
                </tbody>
              </table>   
            </div>
          </div>
        </font>
      </div>
    </div>
  </div>    
</div> 

{% endblock %}
