{% extends "bootstrap/base.html" %}

{% block title %}
  HUE Einstellungen
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('dashboard') }}">SmartHome</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('dashboard_led_scenes') }}"><span class="glyphicon glyphicon-certificate"></span> LED</a></li>
        <li><a href="{{ url_for('dashboard_plants') }}"><span class="glyphicon glyphicon-leaf"></span> Bewässerung</a></li>
        <li><a href="{{ url_for('dashboard_taskmanagement_time') }}"><span class="glyphicon glyphicon-calendar"></span> Aufgabenplanung</a></li>  
        <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><span class="glyphicon glyphicon-scale"></span> Sensordaten</a></li>               
        <li><a href="{{ url_for('dashboard_settings_mqtt') }}"><span class="glyphicon glyphicon-cog"></span> Systemeinstellungen </a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" style="color:red"></span><font color="red"> Logout </font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-2 col-sm-offset-2 col-md-10 col-md-offset-1 main">
  <div class="row">
    <div class="col">

<!-- settings navs -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class={{active01}}><a href="{{ url_for('dashboard_settings_mqtt') }}">MQTT</a></li>
            <li class={{active02}}><a href="{{ url_for('dashboard_settings_zigbee2mqtt') }}">ZigBee2MQTT</a></li>          
            <li class={{active03}}><a href="{{ url_for('dashboard_settings_snowboy') }}">SnowBoy</a></li>       
            <li class={{active04}}><a href="{{ url_for('dashboard_settings_user') }}">Benutzer</a></li>    
            <li class={{active05}}><a href="{{ url_for('dashboard_settings_email') }}">eMail</a></li>        
            <li class={{active06}}><a href="{{ url_for('dashboard_settings_system') }}">System</a></li> 
            <li class={{active07}}><a href="{{ url_for('dashboard_settings_system_log') }}">System Log</a></li> 
          </ul>
        </div>
      </nav>

<!-- settings mqtt -->

<section id="mqtt_devices"></section>

      <div class="panel panel-default">
        <div class="panel-heading"><font color="black"><b>MQTT</b></font></div>
          <div class="panel-body">   
            <form method="POST">  
              <div class="well well-sm">
                <div class="pretty p-default p-round">
                  <input {{check_value_mqtt[0]}} type="radio" value="True" name="radio_mqtt">
                  <div class="state">
                    <label>MQTT aktivieren</label>
                  </div>
                </div>
                <br>
                <div class="pretty p-default p-round">
                    <input {{check_value_mqtt[1]}} type="radio" value="False" name="radio_mqtt">
                  <div class="state">
                    <label>MQTT deaktivieren</label>
                  </div>
                </div>
              </div>
              <font color="red"><b>Flask neustarten, wenn MQTT Einstellungen geändert werden</b></font>
              <br>     
              <br>    
              <input type="submit" onclick="window.location.href='/dashboard/settings/mqtt#'" name="set_setting_mqtt" class="btn btn-default" value="Auswählen"/>
            </form>  
          </div>  
        </div>           

<section id="table"></section>

<!-- MQTT -->

{% if mqtt_setting != "False" %}

<!-- mqtt error messages -->

{% if error_message_mqtt != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_mqtt }}
  </div>      
{% endif %}  

{% if error_message_table != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_table.split(',') %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 

<!-- mqtt device table -->
  
        <div class="panel panel-default">
          <div class="panel-body">  
            <div class="well well-sm">   
              <table class="table">
                <thead>
                  <th scope="col" colspan="2">Gerät</th>                        
                  <th scope="col" colspan="2">Adresse</th> 
                  <th scope="col" colspan="2">Modell</th>                        
                  <th scope="col">Inputs</th> 
                  <th scope="col">Outputs</th> 
                  <th scope="col">Kontakt</th>                                                 
                </thead>
                <tbody> 
                  {% for entry in mqtt_device_list %}
                  <tr>
                    <td>                     
                      <form method="POST" class="verticalform">                                                     
                      <div class="form-group">
                        <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                      </div>
                    </td>
                    <td></td>        
                    <td>{{ entry.ieeeAddr }}</td>
                    <td></td>         
                    <td>{{ entry.model }}</td> 
                    <td></td>        
                    <td>
                      {{ entry.inputs }}
                    </td> 
                    <td>{{ entry.outputs }}</td>  
                    <td>{{ entry.last_contact }}</td>    
                    <td></td>              
                    <td><a href="/dashboard/settings/mqtt/delete/{{ entry.id }}#table"><font color="red" size="5"><b>X</b></font></a></td>                                   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
            <font color="red"><b>MQTT Device kann nur gelöschen werden, wenn es nicht verwendet wird !!!</b></font>
            <br>
            <br>
            <div class="row justify-content-md-center">
              <div class="col-sm-3">      
                <input type="submit" onclick="window.location.href='/dashboard/settings/mqtt#table'" class="btn btn-default" name="change_settings" value="Änderungen speichern"/>
              </form> 
              </div>
              <div class="col-sm-3"> 
                <form method="POST">
                  <input type="submit" onclick="window.location.href='/dashboard/settings/mqtt#table'" class="btn btn-default" name="mqtt_update_devices" value="Verbindungen aktuallisieren" />
                </form>
              </div>
            </div>
          </div>  
        </div>  


<!-- mqtt logs -->

<section id="logfile"></section>

        <div class="panel panel-default">
          <div class="panel-body">  
            <a href="/dashboard/settings/mqtt/download/log_mqtt.csv?time={{ timestamp }}"><b>MQTT Log-Datei herunterladen</b></font></a>
            <div class="dropdown text-right">
            <form method="POST" enctype="multipart/form-data">
              <input type="submit" onclick="window.location.href='/dashboard/settings/mqtt#logfile'" class="btn btn-danger text-right" name="reset_logfile" value="MQTT Log-Datei zurücksetzen">
            </form>
          </div>        
        </div>  
      </div>  

{% endif %}

    </div>
  </div>    
</div>

{% endblock %}
