{% extends "bootstrap/base.html" %}

{% block title %}
  Sensordaten / Statistiken
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>
  
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('dashboard_scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('dashboard_programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('dashboard_watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('dashboard_camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('dashboard_led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('dashboard_sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('dashboard_spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('dashboard_system_host') }}"><font color="black">Host</font></a></li>              
              <li><a href="{{ url_for('dashboard_system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('dashboard_system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('dashboard_system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('dashboard_system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('dashboard_system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('dashboard_system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('dashboard_system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<section id="table"></section>  

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">   

      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>Sensordaten / Statistiken</b></font>
            </div>              
          </div>  
        </div>     
      </div>   


<!-- error message -->

{% if error_message != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message }}
  </div>      
{% endif %}      

<!-- error message graph -->

{% if graph != True and graph != False %}
  <div class="alert alert-danger" role="alert">
    {{ graph }}
  </div>      
{% endif %}    


<!-- sensordata table -->


      <div class="panel panel-default">  
        <div class="panel-body">   

<!-- select data source -->
  
<section id="create_table"></section>  

            <div class="well well-sm">
              <form method="POST">   
                <div class="form-group">
                  <div class="text-center">   
                    <h3><span class="label label-default">Tabelle erstellen</span></h3> 
                  </div> 
                  <br>
                  <br>                
                  <div class="well well-sm">
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">
                        <button type="button" style="background-color:transparent" class="btn btn-secondary">Datenquellen auswählen:</button> 
                      </div>  
                      <div class="col-sm-3">
                        <div class="dropdown">
                          <select class="selectpicker" data-width="80%" data-live-search="true" name="get_file_1">
                            {% if data_file_1 != "" %}
                              <option value= "{{ data_file_1 }}" > {{ data_file_1 }} </option> 
                            {% else %}                                                               
                              <option value= "" > None </option>                                                                          
                            {% endif %}    
                            <optgroup>
                              {% for each in dropdown_list_files %}
                                {% if each != None %}
                                <option value="{{ each }}">{{ each }}</option>
                                {% endif %}
                              {% endfor %}                 
                            </optgroup>
                            <optgroup> 
                              <option value= "" > None </option> 
                            </optgroup>                                                                                 
                          </select>                           
                        </div> 
                      </div> 
                      <div class="col-sm-3">
                        <div class="dropdown">
                          <select class="selectpicker" data-width="80%" data-live-search="true" name="get_file_2">
                            {% if data_file_2 != "" %}
                              <option value= "{{ data_file_2 }}" > {{ data_file_2 }} </option>  
                            {% else %}                                                               
                              <option value= "" > None </option>                                                                         
                            {% endif %}    
                            <optgroup>
                              {% for each in dropdown_list_files %}
                                {% if each != None %}
                                <option value="{{ each }}">{{ each }}</option>
                                {% endif %}
                              {% endfor %}                 
                            </optgroup>
                            <optgroup> 
                              <option value= "" > None </option> 
                            </optgroup>                                                                                 
                          </select>   
                        </div> 
                      </div>    
                      <div class="col-sm-3">
                        <div class="dropdown">
                          <select class="selectpicker" data-width="80%" data-live-search="true" name="get_file_3">
                            {% if data_file_3 != "" %}
                              <option value= "{{ data_file_3 }}" > {{ data_file_3 }} </option>      
                            {% else %}                                                               
                              <option value= "" > None </option>                                                               
                            {% endif %}  
                            <optgroup>
                              {% for each in dropdown_list_files %}
                                {% if each != None %}
                                <option value="{{ each }}">{{ each }}</option>
                                {% endif %}
                              {% endfor %}                 
                            </optgroup>
                            <optgroup> 
                              <option value= "" > None </option> 
                            </optgroup>                                                                                 
                          </select>   
                        </div> 
                      </div>                     
                    </div> 
                  </div>   
                  <div class="well well-sm"> 
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">
                        <button type="button" style="background-color:transparent" class="btn btn-secondary">Geräte: </button>
                      </div> 
                      <div class="col-sm-9">
                       <input type="text" class="form-control" name="set_devices" value="{% if devices != None %}{{ devices }}{% endif %}" /> 
                      </div>                            
                    </div> 
                  </div>                    
                  <div class="well well-sm"> 
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">
                        <button type="button" style="background-color:transparent" class="btn btn-secondary">Sensoren: </button>
                      </div> 
                      <div class="col-sm-9">
                       <input type="text" class="form-control" name="set_sensors" value="{% if sensors != None %}{{ sensors }}{% endif %}" /> 
                      </div>                            
                    </div> 
                  </div>                                                     
                </div>   
              </div>
              <div class="row justify-content-md-center">
                <div class="col-sm-2">              
                  <input type="submit" onclick="window.location.href='/dashboard/sensordata/statistics#create_table'" class="btn btn-default" name="get_data" value="Daten laden" />
                </div>
                <div class="col-sm-2">
                  <input type="submit" onclick="window.location.href='/dashboard/sensordata/statistics#create_table'" class="btn btn-default" name="create_table" value="Tabelle erstellen" />
                </div>
              </div>
              </form> 
            </div>
          </div>      
        </div>    
           
        {% if graph == True %}
        
        <div class="panel panel-default">
          <div class="panel-body">           
            <div class="well well-sm"> 
              <br>
              <div class="img-container-graph">
                <div class="img">
                  <div><img src="{{ url_for('static', filename='images/graph.png') }}"></img></div>
                </div>
              </div>                  
            </div> 
          </div>                  
        </div> 
                        
        {% endif %} 
        
    <br>
    <br>      

<!-- informations -->

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
          </h4>
        </div>   
        <div id="collapse_info" class="panel-collapse collapse ">      
          <div class="panel-body">      
            <div class="well well-sm">   
             <br>
             Text
             <br>
          </div>
        </div>
      </font>
      </div>
    </div>
  </div>    
</div> 

{% endblock %}
