{% extends "bootstrap/base.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>

  <script>
    var slider_sensitivity = document.getElementById("input_brightness");
    var output_sensitivity = document.getElementById("output_brightness");
    output_sensitivity.innerHTML = slider_sensitivity.value; 
    slider_sensitivity.oninput = function() { output_sensitivity.innerHTML = this.value }
  </script>

{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_heating == "checked" %}               
          <li><a href="{{ url_for('heating') }}"><font color="white">Heizung</font></a></li>
        {% endif %}           
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('system_host') }}"><font color="black">Host</font></a></li>
              <li><a href="{{ url_for('system_device_administration') }}"><font color="black">Geräteverwaltung</font></a></li>              
              <li><a href="{{ url_for('system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">
        
      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>Dashboard</b></font>
            </div>              
          </div>  
        </div>     
      </div>           
 
 
<!------------------>
<!--     led      -->
<!------------------> 
 
<!-- error message led -->   

{% if error_message_led != [] %}
  <div class="alert alert-warning" role="alert">
    {% for entry in error_message_led %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %}

 
<!-- table led -->      
 
 
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_led"><font color="white"><b>LED</b></font></a>
          </h4>
        </div>   
        <div id="collapse_led" class="panel-collapse collapse {% if collapse_dashboard_led_setting == 'checked' %} in {% else %} {{ collapse_dashboard_led }} {% endif %}" >      
          <div class="panel-body">    
            <form method="POST">             
              <div class="well well-sm">    

              <table class="table">
                <thead>                      
                  <th scope="col" style="width:17%">Gruppe</th> 
                  <th scope="col" style="width:43%">LEDs</th> 
                  <th scope="col" style="width:20%">Szene</th> 
                  <th scope="col" style="width:20%">Helligkeit</th>
                </thead>
                <tbody> 
                  {% for entry in data_led %}
                  <tr>
                    <td> {{entry.name}} </td> 
                    <td> 
                      {% if entry.led_name_1 != "None" and entry.led_name_1 != None %}
                        {{entry.led_name_1}}
                      {% endif %} 
                      {% if entry.led_name_2 != "None" and entry.led_name_2 != None %}
                      | {{entry.led_name_2}}
                      {% endif %} 
                      {% if entry.led_name_3 != "None" and entry.led_name_3 != None %}
                      | {{entry.led_name_3}}
                      {% endif %}                      
                      {% if entry.led_name_4 != "None" and entry.led_name_4 != None %}
                      | {{entry.led_name_4}}
                      {% endif %} 
                      {% if entry.led_name_5 != "None" and entry.led_name_5 != None %}
                      | {{entry.led_name_5}}
                      {% endif %} 
                      {% if entry.led_name_6 != "None" and entry.led_name_6 != None %}
                      | {{entry.led_name_6}}
                      {% endif %}                          
                      {% if entry.led_name_7 != "None" and entry.led_name_7 != None %}
                      | {{entry.led_name_7}}
                      {% endif %} 
                      {% if entry.led_name_8 != "None" and entry.led_name_8 != None %}
                      | {{entry.led_name_8}}
                      {% endif %} 
                      {% if entry.led_name_9 != "None" and entry.led_name_9 != None %}
                      | {{entry.led_name_9}}
                      {% endif %}                                         
                    </td> 
                    <td> 
                      <select class="selectpicker" data-width="100%" data-live-search="true" name="set_group_{{ entry.id }}">
                        <option value= "{{ entry.current_setting }}" > {{ entry.current_setting }} </option>
                        <optgroup>
                          {% for each_scene in dropdown_list_led_scenes %}
                          <option value="scene_{{ each_scene.id }}"> {{ each_scene.name }} </option>
                          {% endfor %}                     
                        </optgroup>
                        <optgroup> 
                          <option value= "turn_off" > OFF </option> 
                        </optgroup>                                                                                 
                      </select>                       
                    </td>
                    <td>              
                      <input id="input_brightness" type="range" class="slider" name="set_brightness_{{ entry.id }}" min="0" max="100" value="{{ entry.current_brightness }}" />
                    </td>                                    
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
              
<section id="device_table"></section>             
              
            </div> 
            <div class="row justify-content-md-center">
              <div class="col-sm-3">     
                <input type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="change_led_settings" value="Einstellungen ändern" />       
              </div>  
              <div class="col-sm-7"></div>    
              <div class="col-sm-1">  
                <button type="button" style="background-color:transparent" class="btn btn-secondary">anzeigen</button>                   
              </div>                            
              <div class="col-sm-1">   
                <font size="+2">               
                  <div class="pretty p-default p-curve p-bigger">
                    <input type="checkbox" {{ collapse_dashboard_led_setting }} class="form-check-input " name="checkbox_collapse_led">
                  <div class="state p-success">
                    <label></label>
                  </div>
                </font>
              </div>                        
            </div>
            </form>         
          </div>    
        </div>  
      </div>
    </div>  
    <br>
 
 
<!------------------>
<!--    devices   -->
<!------------------>

 
<!-- error message devices -->                    

{% if error_message_devices != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_devices }}
  </div>      
{% endif %}

 
<!-- table devices -->      
      
    
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_devices"><font color="white"><b>Geräte</b></font></a>
          </h4>
        </div>   
        <div id="collapse_devices" class="panel-collapse collapse {% if collapse_dashboard_devices_setting == 'checked' %} in {% else %} {{ collapse_dashboard_devices }} {% endif %}" >      
          <div class="panel-body">    
            <form method="POST">             
              <div class="well well-sm">    

              <table class="table">
                <thead>                      
                  <th scope="col" style="width:17%">Gerät</th>
                  <th scope="col" style="width:43%">Letzte Werte</th>                   
                  <th scope="col" style="width:20%">Befehl</th>
                  <th scope="col" style="width:20%">Letzter Kontakt</th>                  
                </thead>
                <tbody> 
                          
                  {% for entry in data_device %}
                  
                    <tr>
                      <td> {{entry.name}} </td>
                      <td> {{entry.last_values_formated}} </td> 
                      <td>   
                        <select class="selectpicker" data-width="100%" name="set_dashboard_setting_{{ entry.id }}">
                          <option value = "None" > None </option>                          
                          <optgroup>
                            {% if entry.commands != None %}  
                              {% for each in entry.commands.split(' ') %}
                                <option value= "{{ each | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                              {% endfor %}  
                            {% endif %}      
                          </optgroup>                                                                       
                        </select>                                                  
                      </td>
                      <td> {{entry.last_contact}} </td>    
                    </tr>
                        
                  {% endfor %}   
                  
                </tbody>
              </table> 
              
<section id="watering_table"></section>         
                    
            </div> 
            <div class="row justify-content-md-center">
              <div class="col-sm-3">     
                <input type="submit" onclick="window.location.href='/dashboard#device_table'" class="btn btn-default" name="change_device_settings" value="Einstellungen ändern" />           
              </div>  
              <div class="col-sm-7"></div>            
              <div class="col-sm-1">  
                <button type="button" style="background-color:transparent" class="btn btn-secondary">anzeigen</button>                   
              </div>                
              <div class="col-sm-1">   
                <font size="+2">               
                  <div class="pretty p-default p-curve p-bigger">
                    <input type="checkbox" {{ collapse_dashboard_devices_setting }} class="form-check-input " name="checkbox_collapse_devices">
                  <div class="state p-success">
                    <label></label>
                  </div>
                </font>
              </div>         
            </div>
            </form>         
          </div>    
        </div>  
      </div>
    </div>  
    <br>


<!------------------>
<!--   watering   -->
<!------------------>


<!-- error message watering -->      

{% if error_message_watering_control != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_watering_control }}
  </div>      
{% endif %}


<!-- table watering control -->      
      
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_watering"><font color="white"><b>Bewässerung</b></font></a>
            </h4>
          </div>   
          <div id="collapse_watering" class="panel-collapse collapse {% if collapse_dashboard_watering_setting == 'checked' %} in {% else %} {{ collapse_dashboard_watering }} {% endif %}" >     
            <div class="panel-body">    
              <form method="POST">             
                <div class="well well-sm">    
                  <table class="table">
                    <thead>                      
                      <th scope="col" style="width:17%">Pflanze</th> 
                      <th scope="col" style="width:35%">Letzte Werte</th>
                      <th scope="col" style="width:8%">Gruppe</th>                       
                      <th scope="col" style="width:20%">Befehl</th>                   
                      <th scope="col" style="width:20%">Letzter Kontakt</th>  
                    </thead>
                    <tbody> 
                      {% for entry in data_watering_control %}
                        <tr>
                          <td> {{entry.name}} </td>
                          <td> {{entry.mqtt_device.last_values_formated}} </td>
                          <td> <button type="button" style="background-color:transparent" class="btn btn-secondary">{{entry.group}}</button> </td>                         
                          <td>  
                            <select class="selectpicker" data-width="100%" name="set_watering_control_setting_{{ entry.id }}">
                              <option value= "None" > None </option>                      
                              <optgroup>
                              {% if entry.commands != None %}
                                {% for each in entry.mqtt_device.commands.split(' ') %}
                                  <option value= "{{ each | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                                {% endfor %}  
                              {% endif %}   
                              </optgroup>                            
                            </select>                        
                          </td>                       
                          <td> {{entry.mqtt_device.last_contact}} </td>
                        </tr>
                      {% endfor %}  
                    </tbody>
                  </table> 
                  
<section id="programs"></section>         

                </div> 
                <div class="row justify-content-md-center">
                  <div class="col-sm-3">     
                    <input type="submit" onclick="window.location.href='/dashboard#watering_table'" class="btn btn-default" name="change_watering_control_settings" value="Einstellungen ändern" />                 
                  </div>  
                  <div class="col-sm-7"></div>               
                  <div class="col-sm-1">  
                    <button type="button" style="background-color:transparent" class="btn btn-secondary">anzeigen</button>                   
                  </div>                
                  <div class="col-sm-1">   
                    <font size="+2">               
                      <div class="pretty p-default p-curve p-bigger">
                        <input type="checkbox" {{ collapse_dashboard_watering_setting }} class="form-check-input " name="checkbox_collapse_watering">
                      <div class="state p-success">
                        <label></label>
                      </div>
                    </font>
                  </div>         
                </div>
                </form>         
              </div>    
            </div>  
          </div>
        </div>  
        <br>


<!------------------>
<!--   programs   -->
<!------------------>


<!-- error message programs -->      
              
{% if error_message_start_program != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_start_program }}
  </div>      
{% endif %}    


 <!-- program control -->      
     
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_programs"><font color="white"><b>Programme</b></font></a>
            </h4>
          </div>   
          <div id="collapse_programs" class="panel-collapse collapse {{ collapse_dashboard_programs }}" >      
            <div class="panel-body">    
              <form method="POST">             
                <div class="well well-sm">    
                      
                <div class="row justify-content-md-center">
                  <div class="col-sm-3">  
                    <select class="selectpicker" data-live-search="true" data-width="100%" name="get_program_id">
                      <option value= "None" > None </option>                      
                      <optgroup>
                      {% for each_program in dropdown_list_programs %}
                        <option value="{{ each_program.id }}"> {{ each_program.name }} </option>
                      {% endfor %}
                      </optgroup>                            
                    </select>
                  </div>  
                  <div class="col-sm-1">  
                    <button type="button" style="background-color:transparent" class="btn btn-secondary">Repeat</button>  
                  </div>
                  <div class="col-sm-1">  
                    <font size="+2">
                      <div class="pretty p-default p-curve p-bigger">
                        <input type="checkbox" {{ checkbox_repeat_program }} name="repeat_program" >
                        <div class="state p-success">
                          <label></label>
                        </div>
                      </div>
                    </font>                                    
                  </div>                    
                  <div class="col-sm-2">                                        
                    <input type="submit" onclick="window.location.href='/dashboard#programs'" class="btn btn-default" name="start_program" value="Programm starten" />
                  </div>   
                  <div class="col-sm-2">                                        
                    <input type="submit" onclick="window.location.href='/dashboard#programs'" class="btn btn-default" name="stop_program" value="Programm stoppen" />
                  </div>        
                  <div class="col-sm-3">    
                    <button type="button" style="background-color:transparent" class="btn btn-secondary">Laufendes Programm: {{ program_running }}</button>                                    
                  </div>                                      
                </div>   
              </form>
            </div>    
          </div>  
        </div>  
      </div>
      <br>


<!------------------>
<!--    spotify   -->
<!------------------>


<!-- error message spotify -->   

{% if error_message_spotify != "" %}
  <div class="alert alert-warning" role="alert">
    {{ error_message_spotify }}
  </div>      
{% endif %}


<!-- table spotify -->    

<section id="spotify"></section>  

      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_spotify"><font color="white"><b>Spotify</b></font></a>
            </h4>
          </div>   
          <div id="collapse_spotify" class="panel-collapse collapse {{ collapse_dashboard_spotify }}" >      
            <div class="panel-body">             
              <form method="POST">             
                <div class="well well-sm">    
                  <div class="row justify-content-md-center">
                    <div class="col-sm-9">     
                      <button type="button" style="background-color:transparent" class="btn btn-secondary">
                        Spotify-Account >>> {% if spotify_user == "" %}<font color="salmon"> Nicht eingeloggt </font>{% else %}<font color="lightgreen"> {{ spotify_user }} </font>{% endif %}</span>
                      </button>                
                    </div>                                                                       
                    <div class="col-sm-3">  
                      <div class="text-right">
                        {% if spotify_user == "" %}
                          <a href="/spotify/login/url_target/dashboard#" class="btn btn-default" role="button">Login</a> 
                        {% else %}    
                          <a href="/spotify/logout/url_target/dashboard#" class="btn btn-danger" role="button">Logout</a>  
                        {% endif %}  
                      </div>                                                 
                    </div>
                  </div>
                </form>
              </div>
          
          {% if tupel_current_playback != ('', '', '', '', '', [], '', '', '') and tupel_current_playback != '' %}  
          
            <div class="well well-sm"> 
              <div class="well well-sm">     
                <table class="table">
                  <thead>
                    <th scope="col" style="width:14%">Gerät Name</th>   
                    <th scope="col" style="width:13%">Gerät Typ</th> 
                    <th scope="col" style="width:11%">Playing</th>                                                      
                    <th scope="col" style="width:17%">Track</th>                                     
                    <th scope="col" style="width:17%">Interpreten</th>                     
                    <th scope="col" style="width:17%">Playlist</th> 
                    <th scope="col" style="width:11%">Shuffle</th> 
                  </thead>                                             
                  <tbody> 
                    <tr>
                      <td>
                        {{ tupel_current_playback[0] }}
                      </td>   
                      <td>
                        {{ tupel_current_playback[1] }}
                      </td>  
                      <td>
                        {{ tupel_current_playback[2] }}
                      </td>   
                      <td>
                        {{ tupel_current_playback[4] }} 
                      </td>                          
                      <td>
                        {% for artist in tupel_current_playback[5] %}
                           {{ artist }}
                        {% endfor %} 
                      </td>                         
                      <td>
                        {{ tupel_current_playback[7] }}
                      </td>   
                      <td>
                        {{ tupel_current_playback[8] }}
                      </td>                                                                                                                           
                    </tr>             
                  </tbody>
                </table>                                 
              </div>
              <div class="well well-sm"> 
                <form method="POST">          
                  <div class="row justify-content-md-center">
                    <div class="col-sm-1">     
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_play">
                        <span class="glyphicon glyphicon-play"></span>
                      </button>                               
                    </div>
                    <div class="col-sm-1">  
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_previous">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                      </button>
                    </div>                              
                    <div class="col-sm-1">  
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_next">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                      </button>
                    </div>        
                    <div class="col-sm-1">  
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_stop">
                        <span class="glyphicon glyphicon-pause"></span>
                      </button>
                    </div>        
                    <div class="col-sm-1">  
                      <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="set_spotify_volume">
                        <span class="glyphicon glyphicon-volume-up"></span>
                      </button>
                    </div>                      
                    <div class="col-sm-7">
                      <div class="slidecontainer">                       
                        <input type="range" class="slider" name="get_spotify_volume" min="0" max="100" value="{{ volume }}" />                                                    
                      </div>                          
                    </div>                                                     
                  </div>              
                </form>
              </div> 
            </div> 
                  
          {% endif %} 
         
<!-- spotify devices -->       
            
        {% if spotify_devices != "" %}   
                    
          <div class="well well-sm">  
            <form method="POST"> 
              <table class="table">
                <thead>
                  <th scope="col" style="width:25%">Gerät Name</th>   
                  <th scope="col" style="width:25%">Gerät Typ</th>                                  
                  <th scope="col" style="width:20%">Playlist</th>
                  <th scope="col" style="width:20%">Lautstärke</th>  
                  <th scope="col" style="width:10%"><div class="text-center">Abspielen</div></th>                                  
                </thead>
                <tbody> 
                  
                  {% for device in spotify_devices %}
                  
                    <tr>
                      
                      {% if device['type'] != "Smartphone" %}

                        <td>
                          {{ device['name'] }}
                        </td>              
                        <td>
                          {{ device['type'] }}
                        </td>     
                        <td>  
                          <select class="selectpicker" data-width="90%" data-live-search="true" name="set_spotify_playlist:{{ device['id'] }}">
                            {% if spotify_playlists != "" %}
                              {% for playlist in spotify_playlists %}
                                {% if playlist['name'] != "Discover Weekly" %}
                                  <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                                {% endif %}
                              {% endfor %}
                            {% else %}
                            <option value= "" > Keine Playlist gefunden </option>
                            {% endif %}
                          </select>  
                        </td>              
                        <td>
                          <div class="slidecontainer"> 
                            <div class="col-12"> 
                              <input type="range" class="slider" name="set_spotify_playlist_volume:{{ device['id'] }}" min="0" max="100" value="{{ volume }}" />
                            </div> 
                          </div> 
                        </td>
                        <td>   
                          <div class="text-center">
                            <button type="submit" onclick="window.location.href='/dashboard#spotify'" class="btn btn-default" name="spotify_start_playlist" value="{{ device['id'] }}">
                              <span class="glyphicon glyphicon-play"></span>
                            </button>
                           </div>                                                        
                        </td>  
                        
                       {% endif %}   
                        
                    </tr>
                    
                  {% endfor %}    
                            
                </tbody>
              </table>                                                      
            </div>              
          </form>
        </div> 

       {% endif %}   
        
        </div>    
      </div>    
    </div>
    
    {% if spotify_user == "" %} <br> {% endif %}   
    

<!------------------>
<!--   sensors    -->
<!------------------>


 <!-- table sensor values -->      
      
      
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_sensors"><font color="white"><b>Sensoren</b></font></a>
            </h4>
          </div>   
          <div id="collapse_sensors" class="panel-collapse collapse" >      
            <div class="panel-body">                        
              <div class="well well-sm">    
                <table class="table">
                  <thead>                      
                    <th scope="col" style="width:17%">Sensor</th> 
                    <th scope="col" style="width:25%">Beschreibung</th>
                    <th scope="col" style="width:38%">Werte</th> 
                    <th scope="col" style="width:20%">Letzter Kontakt</th>
                  </thead>
                  <tbody> 
                    {% for entry in data_sensor %}
                    <tr>
                      <td> {{entry.name}} </td>
                      <td> {{entry.description}} </td> 
                      <td> {{entry.last_values_formated}} </td>
                      <td> {{entry.last_contact}} </td>
                    </tr>
                    {% endfor %} 
                  </tbody>
                </table>       
              </div>        
            </div>    
          </div>  
        </div> 
      <br> 
      
      
<!------------------>
<!--  system log  -->
<!------------------>      
      
      
<!-- select log type --> 
     
      
<section id="system_log"></section>      
     
    
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse_log"><font color="white"><b>Ereignisse</b></font></a>
            </h4>
          </div>   
          <div id="collapse_log" class="panel-collapse collapse {{ collapse_dashboard_log }}" >      
            <div class="panel-body">                       
              <div class="well well-sm">    
                <form method="POST">   
                  <div class="row justify-content-md-center">
                    <div class="col-sm-7">                    
                      <select class="selectpicker" multiple data-actions-box="true" data-width="100%" name="set_log_types[]">
                        <option {{ selected_type_event }}> EVENT </option>
                        <option {{ selected_type_status }}> STATUS </option>
                        <option {{ selected_type_database }}> DATABASE </option>                        
                        <option {{ selected_type_success }}> SUCCESS </option>   
                        <option {{ selected_type_warning }}> WARNING </option>
                        <option {{ selected_type_error }}> ERROR </option>                                              
                      </select>   
                    </div>
                    <div class="col-sm-3">    
                       <input type="text" class="form-control" name="set_log_search" placeholder="Suchbegriff" value="" />                           
                    </div>                                         
                    <div class="col-sm-2">    
                       <input type="submit" onclick="window.location.href='/dashboard#system_log'" class="btn btn-default" name="get_log_output" value="Auswählen" />                                         
                    </div>            
                  </div>   
                </form>
              </div>    


<!-- table log -->               
            
            
              <div class="well well-sm">

{% if error_message_log != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_log }}
  </div>      
{% endif %}

              <table class="table">
                <thead>                      
                  <th scope="col" style="width:17%">Zeitpunkt</th> 
                  <th scope="col" style="width:13%">Typ</th> 
                  <th scope="col" style="width:70%">Eintrag</th> 
                </thead>
                <tbody> 
                  {% for entry in data_log_system %}
                  <tr>
                    <td>{{ entry[0] }}</td> 
                    <td>
                      {% if entry[1] == "EVENT" %} <font color="white">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "STATUS" %} <font color="darkKhaki">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "DATABASE" %} <font color="lightblue">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "SUCCESS" %} <font color="lawngreen">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "WARNING" %} <font color="orange">{{ entry[1] }} </font> {% endif %}
                      {% if entry[1] == "ERROR" %} <font color="salmon">{{ entry[1] }} </font> {% endif %}            
                    </td>                   
                    <td>{{ entry[2] }}</td>  
                  </tr>
                  {% endfor %} 
                </tbody>
              </table> 
            </div> 
          </div>  
        </div> 
      </div> 
      <br>
      <br> 
      <br>     

<!-- informations -->

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
          </h4>
        </div>   
        <div id="collapse_info" class="panel-collapse collapse ">      
          <div class="panel-body">      
            <div class="well well-sm">   
             <br>
             Text
             <br>
            </div>
            
            <div class="text-center">
              <b>Version {{ version }}</b>
            </div>              
            
          </div>
        </font>
      </div>
    </div>
  </div>    
</div> 

{% endblock %}
