{% extends "bootstrap/base.html" %}

{% block title %}
  System / MQTT
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='pretty-checkbox.min.css')}}">
  <link rel="stylesheet" href="{{url_for('.static', filename='bootstrap-select.min.css')}}">  
{% endblock %}

{% block scripts %}
  {{ super() }}
  
  <script src="{{ url_for('static', filename='bootstrap-select.min.js') }}"></script>
  <script>$('.selectpicker').selectpicker();</script>
  
{% endblock %}

{% block content %}

<!-- nav-bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>      
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if permission_dashboard == "checked" %}
          <li><a class="navbar-brand" href="{{ url_for('dashboard') }}"><font color="white">Dashboard</font></a></li>
        {% endif %}        
        {% if permission_scheduler == "checked" %}
          <li><a href="{{ url_for('scheduler') }}"><font color="white">Aufgabenplanung</font></a></li>
        {% endif %}
        {% if permission_programs == "checked" %}            
          <li><a href="{{ url_for('programs') }}"><font color="white">Programme</font></a></li> 
        {% endif %}          
        {% if permission_watering == "checked" %}            
          <li><a href="{{ url_for('watering') }}"><font color="white">Bewässerung</font></a></li> 
        {% endif %}
        {% if permission_heating == "checked" %}               
          <li><a href="{{ url_for('heating') }}"><font color="white">Heizung</font></a></li>
        {% endif %}           
        {% if permission_camera == "checked" %}               
          <li><a href="{{ url_for('camera') }}"><font color="white">Kameras</font></a></li>
        {% endif %}
        {% if permission_led == "checked" %}                           
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">LED</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('led_scenes') }}"><font color="black">Szenen</font></a></li> 
              <li><a href="{{ url_for('led_groups') }}"><font color="black">Gruppen</font></a></li> 
            </ul>
          </li>    
        {% endif %}
        {% if permission_sensordata == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">Sensordaten</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('sensordata_jobs') }}"><font color="black">Jobs</font></a></li> 
              <li><a href="{{ url_for('sensordata_statistics') }}"><font color="black">Statistiken</font></a></li>   
            </ul>
          </li>                             
        {% endif %}
        {% if permission_spotify == "checked" %}                                
          <li><a href="{{ url_for('spotify') }}"><font color="white">Spotify</font></a></li> 
        {% endif %}                      
        {% if permission_system == "checked" %} 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><font color="white">System</font> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('system_host') }}"><font color="black">Host</font></a></li>
              <li><a href="{{ url_for('system_device_administration') }}"><font color="black">Geräteverwaltung</font></a></li>              
              <li><a href="{{ url_for('system_mqtt') }}"><font color="black">MQTT</font></a></li>
              <li><a href="{{ url_for('system_zigbee2mqtt') }}"><font color="black">ZigBee2MQTT</font></a></li> 
              <li><a href="{{ url_for('system_controller') }}"><font color="black">Controller</font></a></li>             
              <li><a href="{{ url_for('system_speechcontrol') }}"><font color="black">Sprachsteuerung</font></a></li>                
              <li><a href="{{ url_for('system_user') }}"><font color="black">Benutzer</font></a></li>    
              <li><a href="{{ url_for('system_email') }}"><font color="black">eMail</font></a></li>        
              <li><a href="{{ url_for('system_backup') }}"><font color="black">Backup</font></a></li> 
              <li><a href="{{ url_for('system_log') }}"><font color="black">Log</font></a></li>    
            </ul>
          </li>          
        {% endif %}    
        <li><a href="{{ url_for('logout') }}"><font color="salmon" size="4">Logout</font></a></li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="col-sm-1 col-sm-offset-1 col-md-8 col-md-offset-2 main">
  <div class="row">
    <div class="col">
      <font color="white">

      <div class="panel-group">  
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="text-center">   
              <font color="white" size="5"><b>System / MQTT</b></font>
            </div>              
          </div>  
        </div>     
      </div>   

<!-- settings mqtt -->

<section id="mqtt_settings"></section>

      <div class="panel panel-default">
        <div class="panel-body">   
          <form method="POST">  
            <div class="well well-sm">
              <div class="pretty p-default p-round">
                <input {{check_value_mqtt[0]}} type="radio" value="True" name="radio_mqtt">
                <div class="state p-success">
                  <label><font color="white">MQTT aktivieren</font></label>
                </div>
              </div>
              <br>
              <div class="pretty p-default p-round">
                  <input {{check_value_mqtt[1]}} type="radio" value="False" name="radio_mqtt">
                <div class="state p-danger">
                  <label><font color="white">MQTT deaktivieren</font></label>
                </div>
              </div>
            </div>
            <font color="salmon"><b>Flask neustarten, wenn MQTT Einstellungen geändert werden</b></font>
            <br>     
            <br>    
            <input type="submit" onclick="window.location.href='/system/mqtt#'" name="set_setting_mqtt" class="btn btn-default" value="Auswählen"/>
          </form>  
        </div>  
      </div>           

<section id="mqtt_table"></section>


<!-- MQTT -->

{% if mqtt_setting != "False" %}


<!-- mqtt error messages -->

{% if error_message_mqtt != "" %}
  <div class="alert alert-danger" role="alert">
    {{ error_message_mqtt }}
  </div>      
{% endif %}  

{% if error_message_change_settings != "" %}
  <div class="alert alert-danger" role="alert">
    {% for entry in error_message_change_settings.split(',') %}
      {{ entry }} <br>
    {% endfor %}
  </div>      
{% endif %} 


<!-- mqtt device table -->
  
        <div class="panel panel-default">
          <div class="panel-body">  
            <div class="well well-sm">   
              <table class="table">
                <thead>
                  <th scope="col" style="width:3%"></th>  
                  <th scope="col" style="width:20%">Gerät</th>                        
                  <th scope="col">Adresse</th> 
                  <th scope="col">Modell</th>   
                  <th scope="col">Gerätetyp</th>                     
                  <th scope="col">Beschreibung</th> 
                  <th scope="col">Letzter Kontakt</th>     
                  <th scope="col"></th>   
                  <th scope="col" style="width:5%"></th>                                                                                
                </thead>
                <tbody> 
                  {% for entry in mqtt_device_list %}
                  <tr>
                    <td>
                      <a href="/system/mqtt/position/up/mqtt/{{ entry.id }}#mqtt_table"><span class="glyphicon glyphicon-arrow-up" style="color:white"></span></a>
                      <a href="/system/mqtt/position/down/mqtt/{{ entry.id }}#mqtt_table"><span class="glyphicon glyphicon-arrow-down" style="color:white"></span></a>
                    </td>                     
                    <td>                     
                      <form method="POST" class="verticalform">                                                   
                      <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                    </td>      
                    <td>{{ entry.ieeeAddr }}</td>        
                    <td>{{ entry.model }}</td>   
                    <td>{{ entry.device_type }}</td>     
                    <td>{{ entry.description }}</td>  
                    <td>{{ entry.last_contact }}</td>    
                    <td></td>              
                    <td><a href="/system/mqtt/delete/{{ entry.ieeeAddr }}#mqtt_table"><font color="salmon" size="5"><b>X</b></font></a></td>                                   
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>
            <font color="salmon"><b>MQTT Device kann nur gelöschen werden, wenn es nicht verwendet wird !!!</b></font>
            <br>
            <br>
            <div class="row justify-content-md-center">
              <div class="col-sm-3">      
                <input type="submit" onclick="window.location.href='/system/mqtt#mqtt_table'" class="btn btn-default" name="change_table_settings" value="Änderungen speichern"/>
              </form>
              
<section id="mqtt_general_settings"></section>              
              
              </div>
              <div class="col-sm-3"> 
                <form method="POST">
                  <input type="submit" onclick="window.location.href='/system/mqtt#mqtt_table'" class="btn btn-default" name="update_mqtt_devices" value="Verbindungen aktuallisieren" />
                </form>
              </div>
            </div>
          </div>  
        </div>  


<!-- mqtt general setting -->


        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse_mqtt_settings"><font color="white"><b> Einstellungen </b></font></a>
              </h4>
            </div>   
            <div id="collapse_mqtt_settings" class="panel-collapse collapse {{collapse_mqtt_settings}} ">      
              <div class="panel-body">  
                <form method="POST">    
                <div class="well well-sm">
                  <div class="well well-sm">
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">  
                        <button type="button" style="background-color:transparent" class="btn btn-secondary">Broker:</button>  
                      </div>                  
                      <div class="col-sm-9">  
                        <input type="text" class="form-control" name="set_broker" value="{% if broker != None %}{{ broker }}{% endif %}" />             
                      </div>  
                    </div>
                  </div>                
                  <div class="well well-sm">
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">  
                        <button type="button" style="background-color:transparent" class="btn btn-secondary">Benutzername:</button>  
                      </div>                  
                      <div class="col-sm-9">  
                        <input type="text" class="form-control" name="set_user" value="{% if user != None %}{{ user }}{% endif %}" />             
                      </div>  
                    </div>
                  </div>
                  <div class="well well-sm"> 
                    <div class="row justify-content-md-center">
                      <div class="col-sm-3">  
                        <button type="button" style="background-color:transparent" class="btn btn-secondary">Passwort:</button>  
                      </div>                  
                      <div class="col-sm-9">  
                        <input type="password" class="form-control" name="set_password" value="{% if password != None %}{{ password }}{% endif %}" />             
                      </div>  
                    </div>
                  </div> 
                </div>
                <div class="well well-sm">     
                  <div class="row justify-content-md-center">
                    <div class="col-sm-3">  
                      <button type="button" style="background-color:transparent" class="btn btn-secondary">MQTT aktuallisieren:</button>  
                    </div>                  
                    <div class="col-sm-2">  
                       <select class="selectpicker" data-width="100%" name="get_mqtt_update_hour">
                        <option value= "{{ mqtt_update_hour }}" > {{ mqtt_update_hour }} </option>   
                        <optgroup>
                          {% for each in dropdown_list_hours %}
                            <option value="{{ each }}"> {{ each }} </option>
                          {% endfor %}                 
                        </optgroup>
                        <optgroup> 
                          <option value= "None" > None </option>  
                        </optgroup>                                                                                 
                      </select>
                    </div>
                    <div class="col-sm-2">  
                       <select class="selectpicker" data-width="100%" name="get_mqtt_update_minute">
                        <option value= "{{ mqtt_update_minute }}" > {{ mqtt_update_minute }} </option>   
                        <optgroup>
                          {% for each in dropdown_list_minutes %}
                            <option value="{{ each }}"> {{ each }} </option>
                          {% endfor %}                 
                        </optgroup>
                        <optgroup> 
                          <option value= "None" > None </option>  
                        </optgroup>                                                                                 
                      </select>
                    </div> 
 
<section id="logfile"></section>                      
                    
                  </div>
                </div>                
                <input type="submit" onclick="window.location.href='/system/mqtt#mqtt_general_settings'" class="btn btn-default" name="save_general_settings" value="Einstellung speichern" />                                 
              </div>              
            </form>
          </div>     
        </div>  
      </div>  

      
<!-- mqtt logs -->


        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse_mqtt_log"><font color="white"><b> Log-Datei </b></font></a>
              </h4>
            </div>   
            <div id="collapse_mqtt_log" class="panel-collapse collapse {{collapse_mqtt_log}} ">      
              <div class="panel-body">     
                <form method="POST"> 
                <div class="well well-sm">    
                  <a href="/system/mqtt/download/log_mqtt.csv?time={{ timestamp }}"><font color="lightblue"><b>MQTT Log-Datei herunterladen</b></font></a>
                  <div class="dropdown text-right">
                    <input type="submit" onclick="window.location.href='/system/mqtt#logfile'" class="btn btn-danger text-right" name="reset_logfile" value="MQTT Log-Datei zurücksetzen">
                  </form>
                </div>   
              </div>   
            </div>     
          </div>  
        </div>  
      </div> 
      
{% endif %}

        
    <br>
    <br>    
      

<!-- informations -->


    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse_info"><font color="CadetBlue"><b> Hilfe </b></font></a>
          </h4>
        </div>   
        <div id="collapse_info" class="panel-collapse collapse ">      
          <div class="panel-body">      
            <div class="well well-sm">   
              <br>

              <b>Neues MQTT-Gerät hinzufügen</b>

              <br>
              <br>
              <br>

              1. MQTT-Gerät in das lokale Netzwerk einbinden
              <br>
              <br>
              - MQTT-Gerät einschalten und ca. 15 Sekunden warten, danach auf dem Handy unter den verfügbaren WLAN-Verbindungen in das Netzwerk "APConnect" einloggen
              <br>
              - Im Handy-Browser die Website mit der IP 192.168.4.1 aufrufen
              <br>
              - WLAN sowie MQTT-Server Daten eingetragen und speichern
              <br>
              - Gerät startet dann automatisch neu
              <br>
              <br>
              >>> Wenn die Daten korrekt eingetragen wurden und sich das MQTT-Gerät mit dem MQTT-Server verbunden hat, leuchtet die blaue LED des MQTT-Geräts
              <br>
              >>> Wenn die blaue LED nicht leuchtet, nochmal mit dem Handy im Netzwerk "AutoConnectAP" einloggen und Daten eingetragen
              <br>
              <br>
              2. MQTT-Gerät in SmartHome einbinden
              <br>
              <br>             
              - Auf der SmartHome-Website "System/MQTT" auf Button "Verbindungen aktuallisieren" klicken und das neue MQTT-Gerät erscheint auf der Liste
              <br>
              <br>
              >>> Wenn es nicht erscheint, dass MQTT-Gerät neustarten, 15s warten und nochmal auf "Verbindungen aktuallisieren" klicken
              <br>
              >>> Wenn dies auch nicht erfolgreich ist, das MQTT-Gerät zurücksetzen und Prozess nochmal mit dem Eintragen der Netzwerk-Verbindung neustarten
              <br>              
              <br>
              MQTT-Gerät zurücksetzen
              <br>
              <br>                
              - Den kleinen Schalter auf der Platine des MQTT-Geräts gedrückt halten und das MQTT-Gerät neustarten, nach 10s wieder loslassen und das Gerät wurde wieder zurückgesetzt
              <br>
          </div>
        </div>
      </font>
      </div>
    </div>
  </div>    
</div> 

{% endblock %}
